/* ============================================================
  COMMON
============================================================ */
#wrapper {
  min-width: 600px;
}

.settings {
  display: table;
  width: 100%;
}
.settings .row {
  display: table-row;
}
.settings .question,
.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.settings .question {
  width: 600px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */

.switch {width: 87px; height: 25px; position: relative;}
.switch .no {position: absolute; top: 0px; left: 10px;}
.switch .yes {position: absolute; top: 0px; right: 0px;}
.switch span {color: rgba(255,255,255,0.6); font: normal 14px/1.5 PT Sans; height: 23px; width: 30px;}
.switch span:hover {color: rgba(255,255,255,0.8);}

input.cmn-toggle-round + label {
  width: 85px;
  height: 23px;
	border-radius: 11px;
	border: 1px solid #5a619e;
}


input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 0px;
  background-color: transparent;
	border-radius: 10px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 44px;
  height: 23px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.4);
/*  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);*/
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: rgba(69,126,187,1);
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 41px;
}
