.breadcrumbs {margin-bottom: 20px;
	a {font-size: 16px;
		i{font-size: 10px; vertical-align: middle; margin-right: 5px; display: inline-block; zoom: 1; *display: inline; margin-top: -2px;}
		&:hover {text-decoration: none;}
	}
}