.model-detail {
	.name-model {font-size: 36px; color: #06549e;}
	.media {overflow: hidden;
		.photo {width: 500px; float: left; margin-right: 40px;}
		.teaser {float: left; overflow: hidden;
			dl {
				dt {margin-bottom: 20px;}
			}
			p {margin-bottom: 0; font-weight: 300;}
			.title {font-size: 30px; color: #06549e; margin-bottom: 0px; font-weight: normal;}
		}
	}
}