h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, label, ul, ol, dl, fieldset, address, body, html { margin:0; padding:0; }
li, dd, blockquote {margin:0; padding:0;}
fieldset {border:none;}
body {height: 100%; font-family: 'Ubuntu', sans-serif; position: relative;}
img {border:none;}
html {height: 100%;}

h1{font:bold 26px/1.4 'Ubuntu'; margin:0 0 20px 0; color:#3D6A1E; text-transform: uppercase;}
h2{font:bold 24px/1.4 'Ubuntu'; margin:0 0 20px 0; color:#3D6A1E; text-transform: uppercase;}
h3{font:bold 20px/1.4 'Ubuntu'; margin:0 0 15px 0; color:#3D6A1E; text-transform: uppercase;}
h4{font:bold 18px/1.4 'Ubuntu'; margin:0 0 16px 0; color:#3D6A1E; text-transform: uppercase;}
h5{font:bold 16px/1.4 'Ubuntu'; margin:0 0 14px 0; color:#3D6A1E; text-transform: uppercase;}

p {font:normal 14px/1.4 'Ubuntu'; margin:0 0 15px 0; color: #000;}
ul {padding:5px 25px; list-style:square; margin:0 0 20px 0;}
ol {padding:5px 25px; margin:0 0 20px 0;}
ul li, ol li {font:normal 14px/1.4 'Ubuntu'; margin:0 0 10px 0; color: #000;}


a {color:#008ACC; font-size: 14px;}
a:hover {color:#FC0000;}

/* global style */

#content {min-width: 940px; max-width: 1180px; margin: 0 auto; padding: 0 30px;}

.clear {clear: both; width: 100%; height: 1px; margin: 0; padding: 0; float: none;}
.centered {width: 940px; padding: 0 30px; margin: 0 auto; position: relative;} 
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.mb30 {margin-bottom: 30px;}
.mt30 {margin-top: 30px;}
.oh {overflow: hidden;}
.fl-r {float: right;}
.fl-l {float: left;}
.pos-rel {position: relative;}

.two-cols .left-col {float: left; margin-left: -240px; width: 100%;}
.two-cols .right-col {width: 220px; float: right;}
.two-cols .wrapper {margin-left: 240px;}

.cols300 dl {margin: 0 0 0 -20px;}
.cols300 dl dt {float: left; margin: 0 0 0 20px; width: 300px;}

.cols220 dl {margin: 0 0 0 -20px;}
.cols220 dl dt {float: left; margin: 0 0 0 20px; width: 220px;}

.mask {width: 100%; height: 100%; border-radius: 10px; overflow: hidden;}
.red {color: #FF0000;}
.grey {color: #8C8C8C;}

.h-small {color: #3D6A1E; font: 400 15px 'Ubuntu';}
.btn-close {display: block; width: 18px; height: 18px; background: url(./img/btn-close.png) no-repeat;}
.btn-close:hover {background-position: 0 -26px;}
.btn-close:active {background-position: 0 -52px;}

.help {position: fixed; right: 0; top: 50%; margin: -100px 0 0 0;}
.help a {width: 27px; height: 200px; background: url(./img/help.png) no-repeat; display: block;}
.help a:hover {background-position: -33px 0;}
.help a:active {background-position: -66px 0;}

.icon-basket {padding: 0 0 0 35px; background: url(./img/h-basket.png) no-repeat left center;}

/* -------------------------------- */

#header {min-width: 940px; max-width: 1180px; margin: 0 auto; padding: 0 30px; position: relative;}
#header table {width: 100%; vertical-align: top;}
#header table tr td {padding: 20px 0;}
#header .logo h1 {background: transparent; font-size: 0px; text-shadw: 0; color: transparent; margin: 0; padding: 0;}
#header .search form {position: relative; margin: 0 0 7px 0; width: 221px;}
#header .search .text {border: none; background: url(./img/search.png) no-repeat; width: 184px; height: 28px; padding: 0 30px 0 7px; font: italic 16px 'Ubuntu'}
#header .search .btn {width: 16px; height: 16px; background: url(./img/btn-search.png) no-repeat; right: 10px; top: 6px; border: none; position: absolute; padding: 0;}
#header .phone .number {font: bold 22px 'Ubuntu'; margin: 0 0 5px;}
#header .phone .number span {font: normal 16px 'Ubuntu'; color: #505050;}
#header .phone .text {font: italic 14px 'Ubuntu'; color: #505050; margin: 0;}
#header .phone .text span {font: bold italic 14px 'Ubuntu'; color: #000;}
#header .autorisation .enter {border: 1px solid #ccc; border-radius: 5px; height: 24px; padding: 0 10px; margin: 0 0 5px 0; width: 90px;}
#header .autorisation .enter a {display: block; float: left;}
#header .autorisation .enter .link {line-height: 21px; margin: 0 10px 0 0;}
#header .autorisation .enter .soc {background: url(./img/soc.png) no-repeat; width: 16px; height: 16px; margin: 4px 0 0 5px;}
#header .autorisation .enter .soc.vk {background-position: 0 0;}
#header .autorisation .enter .soc.fb {background-position: -22px 0;}
#header .autorisation .reg p {font: italic 13px 'Ubuntu'; margin: 0;}
#header .autorisation .reg a {font: normal 14px 'Ubuntu'; display: inline-block; zoom: 1; *display: inline; margin: 0 0 0 5px;}

.navigation {background: #78BC44; height: 48px; border-radius: 10px; margin: 0 0 20px 0;}
.navigation dl {height: 48px; float: left; position: relative; width: 100%;}
.navigation dl dt {height: 48px; float: left; width: 25%; text-align: center;}
.navigation dl > dt > a {display: block; background: #78BC44; height: 48px; font: bold 14px/48px 'Ubuntu'; text-transform: uppercase; text-decoration: none; color: #fff; position: relative; z-index: 99;}
.navigation dl dt:hover a {background: #E7F0BA; z-index: 100; border-radius: 10px 10px 0 0; color: #000;}
.navigation dl > dt > a.first {border-radius: 10px 0 0 10px;}
.navigation dl > dt:hover > a.first {border-radius: 10px 10px 0 0;}
.navigation dl > dt > a.last {border-radius: 0 10px 10px 0;}
.navigation dl > dt:hover > a.last {border-radius: 10px 10px 0 0;}
.navigation .border {background: url(./img/navi-border.png) no-repeat; position: absolute; right: 0; top: 0; display: block; width: 2px; height: 48px; z-index: 1;}
.navigation dl dt:hover a .border {display: none;}
.navigation dl dt:hover .hidden {display: block;}
.navigation .hidden {display: none; width: 100%; height: auto; position: absolute; left: 0; top: 42px; background: #E7F0BA; z-index: 100; border-radius: 10px 10px 10px 10px;}
.navigation .hidden .wrapper {padding: 20px 40px;}
.navigation .hidden  .cols {overflow: hidden; margin: 0 0 0 -4.6%; width: 100%;}
.navigation .hidden  .col {width: 20%; margin: 0 0 0 4.6%; float: left; text-align: left;}
.navigation ul {list-style: none; margin: 0; padding: 0;}
.navigation ul li a {font: 500 14px 'Ubuntu'; color: #344C13;}
.navigation ul li a:hover {color: #CC0000;}

.advantage {margin: 0 0 20px 0;}
.advantage dl {overflow: hidden; width: 100%;}
.advantage dl dt {float: left; width: 25%;}
.advantage dl dt p {font: bold 14px 'Ubuntu'; color: #505050; text-transform: uppercase; padding: 8px 0 8px 35px; background: url(./img/advantage.png) no-repeat; margin: 0; display: inline-block; zoom: 1; *display: inline;}
.advantage dl dt p.a1 {background-position: left 4px;}
.advantage dl dt p.a2 {background-position: left -43px;}
.advantage dl dt p.a3 {background-position: left -84px;}
.advantage dl dt p.a4 {background-position: left -127px;}

.carousel {width: 700px; position: relative; float: left; margin: 0 20px 0 0;}
.carousel dl dt {position: relative;}
.carousel .img img {display: block; max-width: 700px;}
.carousel .text {position: absolute; width: 630px; height: 40px; background: url(./img/white-opacity.png); bottom: 0; left: 0; padding: 20px 35px;}
.carousel .text p {font: bold 40px/35px 'Ubuntu'; margin: 0;}
.carousel .text i {font: italic 30px 'Ubuntu'; margin: 0 10px;}
.carousel .text span.border {display: inline-block; border-bottom: 2px solid #000; line-height: 5px; height: 10px; margin: 0 10px;}
.carousel .text span.sale {color: #FF0000;}
.carousel .text small {font: 500 20px 'Ubuntu';}
.carousel .bx-pager {text-align: center; margin: 8px 0 0 0;}
.carousel .bx-pager .bx-pager-item {display: inline-block; zoom: 1; *display: inline; overflow: hidden;}
.carousel .bx-pager a {display: block; float: left; width: 12px; height: 12px; font-size: 0; text-transform: none; background: url(./img/carousel-paginator.png) no-repeat; margin: 0 0 0 8px;}
.carousel .bx-pager a:hover {background-position: 0 -22px;}
.carousel .bx-pager a:active {background-position: 0 -44px;}
.carousel .bx-controls-direction a {display: block; width: 44px; height: 42px; background: url(./img/carousel-navi.png) no-repeat; position: absolute; top: 50%; margin: -42px 0 0 0;}
.carousel .bx-controls-direction a.bx-prev {left: 0; background-position: -2px 0;}
.carousel .bx-controls-direction a.bx-prev:hover {background-position: -2px -55px;}
.carousel .bx-controls-direction a.bx-next {right: 0; background-position: -50px 0;}
.carousel .bx-controls-direction a.bx-next:hover {right: 0; background-position: -50px -55px;}

.best-products {float: right;}
.best-products dl dt {width: 220px; height: 90px; margin: 0 0 20px 0; position: relative;}
.best-products .img img {display: block;}
.best-products .text {background: url(./img/white-opacity.png); height: 40px; width: 200px; position: absolute; bottom: 0; left: 0; padding: 5px 10px 0 10px; overflow: hidden;}
.best-products .text p {margin: 0; font: bold 20px 'Ubuntu';}
.best-products .text span {font-size: 30px;}

.main-basket {width: 220px; box-shadow: 0 4px 7px 2px #EBEBEB; border-radius: 10px; margin: 0 0 20px 0;}
.main-basket .head {padding: 10px 20px; border-bottom: 1px dotted #B3B3B3;}
.main-basket .head h5 {text-transform: uppercase; padding: 0 0 0 30px; background: url(./img/basket-icon.png) no-repeat left center; display: inline-block; zoom: 1; *display: inline; margin: 0;}
.main-basket .body {padding: 10px 20px 15px 20px;}
.main-basket .body .empty {font: italic 16px 'Ubuntu'; color: #505050; margin: 0 0 10px 0;}
.main-basket .body .btn a {text-decoration: none; text-transform: uppercase; font: bold 13px 'Ubuntu'; color: #fff; background: #E77259; padding: 5px 20px; border-radius: 5px;}
.main-basket .body .btn a:hover {background: #E74C3C;}
.main-basket .body .btn a:active {background: #C13A2F;}
.main-basket.added .empty {display: none;}
.main-basket .link {display: none;}
.main-basket.added .link {display: block;}
.main-basket.added .link a {text-decoration: none; border-bottom: 1px dotted #3D6A1E; color: #3D6A1E; font-size: 14px;}
.main-basket.added .link span {font-weight: bold;}
.main-basket .one-click {display: none;}
.main-basket.added .one-click {display: block; margin: 10px 0 0 0;}
.main-basket.added .one-click p {font: italic 14px 'Ubuntu'; margin: 0 0 2px 0;}
.main-basket.added .one-click a {font: normal 14px 'Ubuntu'; margin: 0; display: block;}

.favorites-link a {background: url(./img/favorites.png) no-repeat 0 0; padding: 0 0 0 25px;}
.favorites-link a:hover {background-position: 0 -36px;}
.favorites-link a:active {background-position: 0 -72px;}

.main-info {max-height: 130px; overflow: hidden;}
.main-info .text {position: absolute; bottom: 0; left: 0; background: url(./img/white-opacity.png); width: 280px; padding: 5px 0;}
.main-info .text h3 {margin: 0;}
.main-info .text p {font: italic 14px 'Ubuntu'; margin: 0;}
.main-info a {display: block;}
.main-info img {display: block; max-width: 300px;}

.items-card dl dt {box-shadow: 0 4px 7px 2px #EBEBEB; border-radius: 10px; padding: 10px; width: 200px; height: 220px; position: relative; margin-bottom: 30px;}
.items-card dl dt:hover {box-shadow: 0 4px 7px 2px #C4C4C4;}
.items-card .title {margin: 0 0 10px 0; height: 60px; overflow: hidden;}
.items-card .title a {display: inline-block; zoom: 1; *display: inline;}
.items-card .title a:hover {color: #000;}
.items-card .img {width: 100px; height: 100px; float: left; position: relative; overflow: hidden;}
.items-card .img img {position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; display: block; max-width: 90px;}
.items-card .info {overflow: hidden;}
.items-card .cost {height: 55px; overflow: hidden;}
.items-card .cost p {margin: 0 0 5px 0; font: bold 18px 'Ubuntu';}
.items-card .cost .rub {font: normal 12px 'Ubuntu';}
.items-card .cost .border {border-bottom: 1px solid #8C8C8C; line-height: 5px; margin: 0 0 7px 0; height: 7px;}
.items-card .btn-add {margin: 10px 0 0 0;}
.items-card .btn-add a {display: inline-block; zoom: 1; *display: inline; background: #A8C075; padding: 5px 10px; border-radius: 5px; text-align: center; text-decoration: none; color: #fff; font: bold 13px 'Ubuntu';}
.items-card .btn-add a:hover {background: #618C03;}
.items-card .btn-add a:active {background: #4B6F07;}
.items-card .label {position: absolute; width: 95px; height: 20px; background: url(./img/tovar-label.png) no-repeat; bottom: 65px; left: 0; z-index: 99;}
.items-card .label.new {background-position: 0 0;}
.items-card .label.sale {background-position: 0 -40px;}
.items-card dl dt:hover .favorite a {display: block;}
.items-card .favorite a {background: url(./img/favorite-items.png) no-repeat 0 0; width: 45px; height: 45px; display: block; z-index: 99; position: absolute; top: 0; right: 0; display: none;}
.items-card .favorite a:hover {background-position: 0 -50px;}
.items-card .favorite a:active {background-position: 0 -100px;}
.items-card .favorite a.active {background-position: 0 -100px; display: block;}

.items-card.list dl dt {float: none; width: auto; height: 100px;}
.items-card.list .img {float: left; margin: 0 20px 0 0;}
.items-card.list .info {float: right; width: 200px; margin: 0 45px 0 0;}
.items-card.list .title {float: left; height: 100px; width: 45%; margin: 0;}
.items-card.list .label {bottom: 10px;}


.qnty {width: 76px; height: 24px;}
.qnty a {display: block; width: 24px; height: 24px; background: url(./img/qnty-btn.png) no-repeat; float: left;}
.qnty a.plus {background-position: 0 0;}
.qnty a.plus:hover {background-position: 0 -34px;}
.qnty a.plus:active {background-position: 0 -68px;}
.qnty a.minus {background-position: -35px 0;}
.qnty a.minus:hover {background-position: -35px -34px;}
.qnty a.minus:active {background-position: -35px -68px;}
.qnty input {width: 28px; height: 22px; background: #F5F5F5; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: none; border-right: none;  float: left; padding: 0; text-align: center;}

.all-catalog {background: url(./img/patern-product.jpg) no-repeat; width: 940px; height: 90px; margin: 50px auto;}
.all-catalog a {font: 400 26px/80px 'Ubuntu'; border-bottom: 2px dotted #008ACC; text-decoration: none;}
.all-catalog a:hover {border-color: #FC0000;}
.all-catalog a.active {border-color: #FC0000;}

.all-catalog-list {display: none; width: 940px; margin: 0 auto 30px auto;}
.all-catalog-list h3 {text-transform: none;}
.all-catalog-list h3 a {font: 400 20px 'Ubuntu';}
.all-catalog-list ul {list-style: none; margin: 0; padding: 0;}
.all-catalog-list ul li a {font-size: 14px; display: inline-block; zoom: 1; *display: inline;}

#footer {height: 125px; background: #E4EDAD;}
#footer .wrapper {min-width: 940px; max-width: 1180px; height: 125px; position: relative; margin: 0 auto; padding: 0 30px;}
#footer table {width: 100%;}
#footer table tr td {padding: 25px 0 0 0; vertical-align: top;}
#footer .navi dl dt {margin: 0 0 5px 0;}
#footer .navi a {font: 400 13px 'Ubuntu'; color: #008ACC; display: block;}
#footer .navi a:hover {color: #FC0000;}
#footer .info {width: 180px; display: inline-block; zoom: 1; *display: inline;}
#footer .info p {color: #3D6A1E; background: url(./img/time-icon.png) left 3px no-repeat; padding: 0 0 0 25px;}
#footer .info span {font: bold italic 16px 'Ubuntu';}
#footer .phone {text-align: right;}
#footer .phone .text {font: italic 13px 'Ubuntu'; color: #505050; margin: 0 0 5px 0;}
#footer .phone .text span {font: bold italic 13px 'Ubuntu'; color: #000;}
#footer .phone .number {font: bold 22px 'Ubuntu'; color: #000;}
#footer .phone .number span {font: normal 16px 'Ubuntu'; color: #505050;}

/* Catalog */

.breadcrumb {margin: 0 0 20px 0;}
.breadcrumb a {display: inline-block; zoom: 1; *display: inline; font: 300 italic 13px 'Ubuntu';}
.breadcrumb span {display: inline-block; zoom: 1; *display: inline; font: 300 13px 'Ubuntu'; color: #505050; margin: 0 5px;}


.catalog-items dl {margin: 0 0 0 -20px;}
.catalog-items dl dt {width: 160px; height: 160px; float: left; margin: 0 0 20px 20px; text-align: center;}
.catalog-items .img {width: 100px; height: 100px; border-radius: 50px; overflow: hidden; box-shadow: 0 0 7px 2px #d2d2d2; margin: 0 auto 20px auto;}
.catalog-items .img img {display: block;}
.catalog-items .title {margin: 0; height: 45px; overflow: hidden;}

.mailing {background: #F2F2F2; padding: 10px 20px; border-radius: 10px; width: 660px;}
.mailing .title {font: 300 italic 14px 'Ubuntu'; color: #505050;}
.mailing .form-send .mail {margin: 0 0 5px 0;}
.mailing .form-send .mail .text {border: none; background: url(./img/input-mail.png) no-repeat; width: 213px;  height: 24px; padding: 2px 5px; margin: 0 10px 0 0; font: 300 italic 14px 'Ubuntu'; color: #5050550;}
.mailing .form-send .mail .btn {border: none; cursor: pointer; width: 100px; height: 28px; display: block; background: url(./img/btn-input.png) no-repeat;}
.mailing .form-send .mail .btn:hover {background-position: 0 -33px;}
.mailing .form-send .mail .btn:active {background-position: 0 -66px;}
.mailing .form-send .helper {font: 300 12px 'Ubuntu'; color: #505050; margin: 0; display: none;}
.mailing .form-send {position: relative;}
.mailing .soc {margin: 0 80px 0 0;}
.mailing .soc a {display: inline-block; zoom: 1; *display: inline; width: 30px; height: 30px; background: url(./img/soc-icon.png) no-repeat; vertical-align: top; margin: 0 5px 0 0;}
.mailing .soc .tw {background-position: 0 0;}
.mailing .soc .od {background-position: 0 -35px;}
.mailing .soc .vk {background-position: 0 -70px;}

.information {position: relative; width: 219px;}
.information .top-info {background: url(./img/top-info.png) no-repeat; width: 219px; height: 35px; left: 0; top: 0;}
.information .bottom-info {background: url(./img/bottom-info.png) no-repeat; width: 219px; height: 70px; left: 0; bottom: 0;}
.information .wrap {padding: 20px; background: #FAFAFB; border-left: 1px solid #E9EAEA; border-right: 1px solid #E9EAEA;}
.information dl dt {margin: 0 0 10px 0;}

.main-feedback {border: 1px solid #E6E6E6; border-radius: 10px; padding: 20px; margin: 0 0 30px 0;}
.main-feedback .message p {font: 300 14px/1.4 'Ubuntu'; color: #505050;}
.main-feedback .autor {font: 500 14px 'Ubuntu'; color: #000; margin: 0;}
.main-feedback .date {font: normal 12px 'Ubuntu'; color: #000;}

/* Category */

.filters .type-product {border: 1px solid #3D6A1E; border-radius: 10px; margin: 0 0 20px 0;}
.filters .type-product .wrap {padding: 20px 20px 0 20px;}
.filters .type-product dl {overflow: hidden; margin: 0 0 0 -30px;}
.filters .type-product dl dt {float: left; margin: 0 0 20px 30px;}
.filters .type-product dl dt a {font-weight: 500;}
.filters .type-product dl dt a:hover {color: #000;}
.filters .type-product dl dt a.active {color: #3D6A1E;}
.filters .bottom {height: 30px;}
.filters .bottom .brand  {margin: 0 50px 0 0;}
.filters .bottom .brand  p {display: inline-block; zoom: 1; *display: inline; vertical-align: top; margin: 3px 10px 0 0;}
.filters .bottom .cost-filter {margin: 3px 50px 0 0;}
.filters .bottom .cost-filter a {display: inline-block; zoom: 1; *display: inline; padding: 0 20px 0 0; background: url(./img/cost-filter.png) no-repeat right 7px;}
.filters .bottom .cost-filter a.active {background-position: right -7px;}
.filters .bottom .view {width: 60px;}
.filters .bottom .view a {display: block; width: 16px; height: 16px; background: url(./img/view.png) no-repeat; margin: 7px 0 0 0;}
.filters .bottom .view a.list {background-position: 0 0;}
.filters .bottom .view a.square {background-position: 0 -26px;}

.paginator a {display: inline-block; zoom: 1; *display: inline; vertical-align: top; margin: 0 0 0 10px; text-decoration: none; width: 28px; height: 28px; color: #505050; font: normal 16px/28px 'Ubuntu'; text-align: center; border-radius: 5px;}
.paginator a:hover {background: #FFA4A3; color: #fff;}
.paginator a.active {background: #FFA4A3; color: #fff;}


/* Tovar */

.tovar .img-tovar {width: 230px; margin: 0 30px 0 0;}
.tovar .img-tovar .main-img {width: 230px; text-align: center; margin: 0 0 20px 0; position: relative;}
.tovar .img-tovar .main-img a {display: inline-block; zoom: 1; *display: inline;}
.tovar .img-tovar .main-img .zoom {display: inline-block; zoom: 1; *display: inline; position: absolute; margin: auto; top: 0; left: 0; right:0; bottom: 0; width: 80px; height: 80px; background: url(./img/zoom.png) no-repeat;}
.tovar .img-tovar .main-img img {display: block; max-width: 230px;}
.tovar .img-tovar .preview dl {margin: 0 0 0 -5px;}
.tovar .img-tovar .preview dl dt {float: left; margin: 0 0 5px 5px;}
.tovar .img-tovar .preview img {display: block; max-width: 53px;}
.tovar .description .info {height: 60px;}
.tovar .description h1 {text-transform: none; margin: 0 0 40px 0;}
.tovar .description .cost {margin: 0 50px 0 0;}
.tovar .description .cost p {margin: 0 0 10px 0; font: bold 26px 'Ubuntu';}
.tovar .description .cost .rub {font: normal 12px 'Ubuntu';}
.tovar .description .cost .border {border-bottom: 1px solid #8C8C8C; line-height: 5px; margin: 0 0 7px 0; height: 7px;}
.tovar .description .center {margin: 0 50px 0 0; text-align: center;}
.tovar .description .unit {margin: -25px 0 5px 0;}
.tovar .description .btn a {display: inline-block; zoom: 1; *display: inline; background: #A8C075; padding: 5px 10px; border-radius: 5px; text-align: center; text-decoration: none; color: #fff; font: bold 13px 'Ubuntu';}
.tovar .description .btn a:hover {background: #618C03;}
.tovar .description .btn a:active {background: #4B6F07;}
.tovar .description .text h5 {text-transform: none; margin: 0 0 5px 0; color: #000;}
.tovar .description .text p {margin: 0 0 10px 0;}

/* Feedback */

.feedback .title {font: 300 italic 16px 'Ubuntu'; color: #505050;}
.feedback .btn-feedback a {display: inline-block; zoom: 1; *display: inline; background: #618C03; color: #fff; text-decoration: none; text-align: center; text-transform: uppercase; padding: 5px 30px; border-radius: 5px;}
.feedback .btn-feedback a:hover {background: #A8C075;}
.feedback .btn-feedback a:active {background: #4B6F07;}
.feedback .feedback-list dl dt {margin: 0 0 30px 0;}
.feedback .feedback-list .feedback-text .top {margin: 0 0 15px 0;}
.feedback .feedback-list .feedback-text .autor {font: italic 16px 'Ubuntu'; color: #3D6A1E; display: inline-block; zoom: 1; *display: inline; margin: 0 10px 0 0; vertical-align: bottom;}
.feedback .feedback-list .feedback-text .date {font: italic 14px 'Ubuntu'; color: #666666; display: inline-block; zoom: 1; *display: inline; vertical-align: bottom; margin: 0;}
.feedback .feedback-list .feedback-text .rate span {background: url(./img/rate.png) no-repeat; width: 90px; height: 16px; display: block;}
.feedback .feedback-list .feedback-text .rate .r1 {background-position: 0 0;}
.feedback .feedback-list .feedback-text .rate .r2 {background-position: 0 -26px;}
.feedback .feedback-list .feedback-text .rate .r3 {background-position: 0 -52px;}
.feedback .feedback-list .feedback-text .rate .r4 {background-position: 0 -78px;}
.feedback .feedback-list .feedback-text .rate .r5 {background-position: 0 -104px}
.feedback .feedback-list .feedback-text .text p {font: 300 14px/1.4 'Ubuntu'; color: #505050;}
.feedback .feedback-list .feedback-answer {margin: 0 0 40px 50px; background: #E7F0BA; padding: 20px; border-radius: 10px;}
.feedback .feedback-list .feedback-answer .autor {font: italic 16px 'Ubuntu'; color: #3D6A1E; margin: 0 0 5px 0;}
.feedback .feedback-list .feedback-answer .text p {font: 300 14px 'Ubuntu'; color: #000; margin: 0 0 5px 0;}

.form-feedback {background: #F2F2F2; border-radius: 10px; padding: 30px 20px; width: 660px;}
.form-feedback table {width: 100%;}
.form-feedback table tr td {padding: 0 10px 20px 0; vertical-align: top;}
.form-feedback .text-input {border: none; background: url(./img/text-input.png) no-repeat; width: 230px; height: 28px; padding: 2px 5px; font: normal 16px 'Ubuntu';}
.form-feedback textarea {background: url(./img/textarea.png) no-repeat; width: 464px; height: 82px; border: none; resize: none; padding: 5px; font: normal 16px 'Ubuntu';}
.form-feedback .name {font: bold 15px 'Ubuntu';}
.form-feedback .helper {font: 300 13px/1.2 'Ubuntu'; margin: 0 0 0 10px; width: 240px;}
.form-feedback .capcha {width: 180px; margin: 0 20px 0 0;}
.form-feedback .code {margin: 0 20px 0 0;}
.form-feedback .code input {border: none; background: url(./img/code.png) no-repeat; width: 69px; height: 28px; padding: 2px 5px; font: normal 14px 'Ubuntu';}
.form-feedback .btn input {border: none; background: url(./img/btn-send.png) no-repeat; width: 158px; height: 32px; cursor: pointer;}
.form-feedback .btn input:hover {background-position: 0 -42px;}
.form-feedback .btn input:active {background-position: 0 -84px;}
.form-feedback .v-center {vertical-align: middle;}

/* Favorite */

.favorits .navi {border: 1px solid #3D6A1E; border-radius: 10px; padding: 20px; width: 660px;}
.favorits .navi p {margin: 0;}
.favorits .navi .select-all {margin: 0 30px 0 0;}
.favorits .navi .select-all a {font: 300 italic 14px 'Ubuntu'; color: #505050; padding: 0 0 0 30px; background: url(./img/checkbox.png) no-repeat 0 0; text-decoration: none;}
.favorits .navi .select-all a:hover {background-position: 0 -26px;}
.favorits .navi .btn a {display: inline-block; zoom: 1; *display: inline; background: #A8C075; padding: 5px 10px; border-radius: 5px; text-align: center; text-decoration: none; color: #fff; font: bold 13px 'Ubuntu';}
.favorits .navi .btn a:hover {background: #618C03;}
.favorits .navi .btn a:active {background: #4B6F07;}
.favorits .del p {font: normal 14px 'Ubuntu'; color: #505050;}
.favorits .del a {font: 500 14px 'Ubuntu';}

.favorits .items-card dl dt {height: 250px;}
.favorits .items-card .delete {height: 28px; position: absolute; left: 0; bottom: 0; border-top: 1px dotted #3D6A1E; width: 200px; padding: 0 10px;}
.favorits .items-card .delete a {font: 300 italic 14px/28px 'Ubuntu'; color: #505050; text-decoration: none;}
.favorits .items-card .delete .select {padding: 0 0 0 30px; background: url(./img/checkbox.png) no-repeat 0 6px;}
.favorits .items-card .delete .select:hover {background-position: 0 -20px;}
.favorits .items-card .delete .btn-close {margin: 5px 0 0 0;}

/* Basket */

.basket table {width: 100%;}
.basket table tr td {padding: 7px; vertical-align: top;}
.basket table p {margin: 0; font: normal 12px 'Ubuntu'; color: #505050;}
.basket table p span {font: bold 16px 'Ubuntu';}
.basket .del {width: 20px;}
.basket .img {text-align: center; width: 60px;}
.basket .img img {display: inline-block; zoom: 1; *display: inline; max-width: 50px;}
.basket .title a {display: inline-block; zoom: 1; *display: inline; margin: 0 0 5px 0;}
.basket .qnt {width: 80px;}
.basket .cost {width: 110px;}

.basket .info {background: #E7F0BA; border-radius: 10px; padding: 20px; width: 660px;}
.basket .info .sum .small {font: italic 14px 'Ubuntu'; margin: 0; width: 215px;}
.basket .info .sum .big {font: bold 26px 'Ubuntu'; text-transform: uppercase; margin: 0 0 5px 0;}
.basket .info .sum .big span {font-size: 16px;}
.basket .info .sum .big small {font: normal 16px 'Ubuntu'; text-transform: none;}
.basket .info .order {margin: 13px 0 0 0;}
.basket .info .order p {display: inline-block; zoom: 1; *display: inline; vertical-align: middle; margin: 0 0 0 10px;}
.basket .info .order .btn a {display: inline-block; zoom: 1; *display: inline; background: #E77259; color: #fff; text-align: center; text-transform: uppercase; text-decoration: none; padding: 5px 30px; border-radius: 5px;}
.basket .info .order .btn a:hover {background: #E74C3C;}
.basket .info .order .btn a:active {background: #C13A2F;}

.clear-basket {position: absolute; right: 0; top: 0; margin: 0;}

/* Order */

.order-form {background: #E7F0BA; border-radius: 10px; padding: 20px;}
.order-form .data {width: 100%;}
.order-form .data tr td {padding: 0 40px 20px 0;}
.order-form .data .name {text-align: right; font: bold 15px 'Ubuntu'; width: 180px;}
.order-form .data .info-input {width: 230px; height: 22px; border: 1px solid #BDBDBD; border-radius: 5px; padding: 5px; font: italic 300 18px 'Ubuntu';}
.order-form .data .info-input:focus {border-color: #5EA22E; box-shadow: 0 0 7px 0px #D0EA2B;}
.order-form .data .address-input {border: 1px solid #BDBDBD; border-radius: 5px; padding: 5px; width: 40px; height: 22px; text-align: center; font: normal 16px 'Ubuntu';}
.order-form .data .address-input:focus {border-color: #5EA22E; box-shadow: 0 0 7px 0px #D0EA2B;}
.order-form .data .group {margin: 0 20px 0 0;}
.order-form .data .group p {font: bold 15px 'Ubuntu';}
.order-form .data .v-top {vertical-align: top;}
.order-form .data textarea {width: 390px; height: 83px; border: 1px solid #BDBDBD; resize: none; border-radius: 5px; padding: 10px 5px; font: 300 14px 'Ubuntu';}
.order-form .data textarea:focus {border-color: #5EA22E; box-shadow: 0 0 7px 0px #D0EA2B; }
.order-form .data .helper {font: 300 italic 14px 'Ubuntu'; color: #505050;}
.order-form .list dt {margin: 0 0 30px 0;}
.order-form .list .fl-l {margin: 0 20px 0 0;}
.order-form .list .radio {display: block; width: 20px; height: 20px; background: url(./img/radio.png) no-repeat;}
.order-form .list .radio:hover {background-position: 0 -30px;}
.order-form .list .title {font: 500 16px 'Ubuntu'; margin: 0 0 5px 0;}
.order-form .list .teaser {font: italic 300 14px 'Ubuntu'; margin: 0;}
.order-form .payment {height: 32px;}
.order-form .payment h5 {margin: 0 30px 0 0; line-height: 28px;}
.order-form .order-list table {width: 100%; border-collapse: collapse;}
.order-form .order-list table tr td {padding: 7px 7px 15px 0px; vertical-align: top;}
.order-form .order-list table tr:hover td {background: #E1EBB8;}
.order-form .order-list .bold {font-weight: bold; font-size: 16px;}
.order-form .order-list .title p {font: normal 14px 'Ubuntu'; margin: 0 0 5px 0;}
.order-form .order-list .in {font-weight: 500; width: 50px;}
.order-form .order-list .cost {font: bold 18px 'Ubuntu'; width: 130px;}
.order-form .order-list small {font: normal 12px 'Ubuntu';}
.order-form .order-list .v-center {vertical-align: middle;}
.order-form .order-list .delivery td {padding: 15px 7px 15px 0; border-top: 1px dotted #000;}
.order-form .order-list .delivery .small {font: italic 14px 'Ubuntu'; margin: 0;}
.order-form .order-list .delivery .big {font: bold 26px 'Ubuntu'; text-transform: uppercase; margin: 0 0 5px 0;}
.order-form .order-list .delivery .big span {font-size: 16px;}
.order-form .order-list .delivery .big small {font: normal 16px 'Ubuntu'; text-transform: none;}
.order-form .oferta a {font: 300 italic 14px 'Ubuntu'; color: #505050; padding: 0 0 0 30px; background: url(./img/checkbox.png) no-repeat 0 0; text-decoration: none;}
.order-form .oferta a:hover {background-position: 0 -26px;}
.order-form .btn-input input {border: none; cursor: pointer; width: 100px; height: 28px; display: inline-block; zoom: 1; *display: inline; background: url(./img/btn-input.png) no-repeat;}
.order-form .btn-input input:hover {background-position: 0 -33px;}
.order-form .btn-input input:active {background-position: 0 -66px;}

/* popup */

.popup {position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; box-shadow: 0 0 40px 0 #999; background: #fff; z-index: 99999; border-radius: 10px;}
.popup .wrap {position: relative;}
.popup .close {background: url(./img/close-popup.png) no-repeat; width: 14px; height: 14px; display: block; position: absolute; right: 15px; top: 13px;}
.popup .close:hover {background-position: 0 -25px;}
.popup .close:active {background-position: 0 -50px;}

.popup .bottom dl {overflow: hidden; margin: 0 0 0 -57px; padding: 0 0 5px 0;}
.popup .bottom dl dt {float: left; width: 170px; margin: 0 0 0 57px;}
.popup .bottom .title {font: bold 12px 'Ubuntu'; margin: 0 0 10px 0;}
.popup .bottom .text {width: 158px; height: 30px; border: 1px solid #D4D4D4; border-radius: 5px; padding: 0 5px; font: normal 16px 'Ubuntu';}
.popup .bottom .text:focus {border-color: #66B032; box-shadow: 0 0 5px 2px #F2F9C5;}
.popup .bottom .btn {border: none; cursor: pointer; width: 166px; height: 32px; display: block; background: url(./img/btn-input-big.png) no-repeat; margin: 25px 0 0 0; }
.popup .bottom .btn:hover {background-position: 0 -42px;}
.popup .bottom .btn:active {background-position: 0 -84px;}


/* popup1 */

.popup1 {width: 750px; height: 610px;}
.popup1 .head {height: 40px; background: #E7F0BA; border-radius: 10px 10px 0 0; position: relative; margin: 0 0 20px 0;}
.popup1 .head h5 {position: absolute; left: 20px; top: 10px; background: url(./img/basket-icon.png) no-repeat left center; padding: 0 0 0 30px; color: #000;}
.popup1 .head .clear-basket {left: 300px; top: 10px;}
.popup1 .body {padding: 0 15px 0 15px;}
.popup1 .body .wrapper {height: 370px; overflow: auto;}
.popup1 .sum {background: #E7F0BA; padding: 15px 20px; height: 40px; margin: 0 0 10px 0;}
.popup1 .sum .small {font: italic 300 14px 'Ubuntu'; margin: 0; width: 215px;}
.popup1 .sum .big {font: bold 26px/18px 'Ubuntu'; text-transform: uppercase; margin: 0;}
.popup1 .sum .big span {font-size: 16px;}
.popup1 .sum .big small {font: normal 16px 'Ubuntu'; text-transform: none;}
.popup1 .sum .fl-r {width: 145px;}
.popup1 .bottom {width: 625px; margin: 0 auto;}
.popup1 .helper {font: 300 italic 14px 'Ubuntu'; color: #505050; margin: 10px 0 0 0;}

/* Popup2 */

.popup2 {width: 640px; height: 385px;}
.popup2 .wrap {padding: 15px 30px;}
.popup2 h1 {text-transform: none;}
.popup2 dl {overflow: hidden; margin: 0 0 12px -20px; border-bottom: 1px solid #3D6A1E; padding: 0 0 20px 0;}
.popup2 dl dt {float: left; width: 280px; margin: 0 0 0 20px;}
.popup2 dl dt .title {font: 300 italic 14px 'Ubuntu'; color: #505050; margin: 0 0 20px 0;}
.popup2 dl dt .row {margin: 0 0 20px 0; width: 240px;}
.popup2 dl dt .row p {font: bold 15px 'Ubuntu'; margin: 0 0 10px 0;}
.popup2 dl dt .row .text {width: 230px; height: 30px; border: 1px solid #D4D4D4; border-radius: 5px; padding: 0 5px; font: 300 italic 18px 'Ubuntu';}
.popup2 dl dt .row .text:focus {border-color: #66B032; box-shadow: 0 0 5px 2px #F2F9C5;}
.popup2 dl dt .btn input {border: none; cursor: pointer; background: url(./img/btn-enter.png) no-repeat; width: 118px; height: 32px; display: block;}
.popup2 dl dt .btn input:hover {background-position: 0 -42px;}
.popup2 dl dt .btn input:active {background-position: 0 -84px;}
.popup2 dl dt .soc {display: block; width: 150px; height: 32px;background: url(./img/btn-soc.png) no-repeat; margin: 0 0 20px 0;}
.popup2 dl dt .soc.vk {background-position: 0 0;}
.popup2 dl dt .soc.fb {background-position: 0 -42px;}
.popup2 dl dt .wrapper {padding: 0 0 0 40px;}
.popup2 .helper {margin: 0; font: 300 italic 14px 'Ubuntu'; color: #505050;}
.popup2 .helper a {font-style: normal; font-weight: 500;}

/* Popup3 */

.popup3 {width: 510px; height: 70px;}
.popup3 h1 {margin: 0; text-transform: none; line-height: 68px;}

/* Popup4 */

.popup4 {width: 640px; height: 340px; padding: }
.popup4 .helper {font: 300 italic 14px 'Ubuntu'; color: #505050;}
.popup4 .wrap {padding: 15px 30px;}
.popup4 .order-info {background: #E7F0BA; padding: 0 30px; border-radius: 10px; height: 50px;}
.popup4 .order-info h5 {line-height: 50px; margin: 0 40px 0 0; color: #000;}
.popup4 .order-info p {margin: 0; color: #3D6A1E; font: normal 16px/50px 'Ubuntu'; margin: 0;}
.popup4 .order-info p span {font: bold 20px 'Ubuntu';}
.popup4 .bottom {border-bottom: 1px solid #3D6A1E; padding: 0 0 30px 0; margin: 0 0 20px 0;}
.popup4 .bottom dl {margin: 0 0 0 -35px;}
.popup4 .bottom dl dt {margin: 0 0 0 35px;}
.popup4 .helper a {font-style: normal; font-weight: 500;}

/* Registration */

.two-cols.inner .left-col {margin-left: -330px;}
.two-cols.inner .left-col .wrapper {margin-left: 330px;}
.two-cols.inner .right-col {width: 300px;}

.form-reg .form {background: #E7F0BA; padding: 20px; border-radius: 10px;}
.form-reg .row {margin: 0 0 20px 0; width: 240px;}
.form-reg .row {margin: 0 0 20px 0; width: 240px;}
.form-reg .row p {font: bold 15px 'Ubuntu'; margin: 0 0 10px 0;}
.form-reg .row .text {width: 230px; height: 30px; border: 1px solid #D4D4D4; border-radius: 5px; padding: 0 5px; font: 300 italic 18px 'Ubuntu';}
.form-reg .row .text:focus {border-color: #66B032; box-shadow: 0 0 5px 2px #F2F9C5;}
.form-reg .select a {font: 300 italic 14px 'Ubuntu'; color: #505050; padding: 0 0 0 30px; background: url(./img/checkbox.png) no-repeat 0 0; text-decoration: none;}
.form-reg .select a:hover {background-position: 0 -26px;}
.form-reg .btn-client input {display: block; border: none; cursor: pointer; background: url(./img/btn-client.png) no-repeat; width: 366px; height: 32px;}
.form-reg .btn-client input:hover {background-position: 0 -42px;}
.form-reg .btn-client input:active {background-position: 0 -84px;}
.form-reg .helper {position: absolute; top: 60px; right: 20px; width: 270px; font: 300 italic 16px 'Ubuntu'; color: #505050;}
.form-reg .btn-enter input {border: none; cursor: pointer; background: url(./img/btn-enter.png) no-repeat; width: 118px; height: 32px; display: block;}
.form-reg .btn-enter input:hover {background-position: 0 -42px;}
.form-reg .btn-enter input:active {background-position: 0 -84px;}
.form-reg .social {display: block; width: 150px; height: 32px;background: url(./img/btn-soc.png) no-repeat; margin: 0 0 20px 0;}
.form-reg .social.vk {background-position: 0 0;}
.form-reg .social.fb {background-position: 0 -42px;}


@media (max-width: 1260px) {
  .best-products {display: none;}
}

@media (min-width: 1180px) {
  .main-info dl dt {width: 280px;}
}
































