.main-header {position: relative; height: 207px; margin-bottom: 40px;
	.phone {float: left;
		a {color: #fff; font-size: 24px; line-height: 20px;
			svg {display: inline-block; zoom: 1; *display: inline; vertical-align: middle; margin-right: 15px; width: 40px; height: 39px; fill: #fff;}
		}
	}
	.btn {float: right;}
	.logo {position: absolute; left: 50%; top: 45px; margin-left: -57px;
		img {width: 115px;}
	}
	.table {display: table; height: 207px;
		.table-cell {display: table-cell; vertical-align: middle;}
	}
}

@media (max-width: 1319px) {
	.main-header {margin-bottom: 20px; height: 187px;
		.table {height: 187px;}
		.logo {top: 35px;}
	}
}

@media (max-width: 767px) {
	.main-header {height: 80px;
		.phone {float: left; height: 80px; margin-left: 90px;
			a {
				svg {width: 24px; height: 24px;}
			}
		}
		.logo {margin-left: 0; left: 20px; top:20px; position: absolute;
			img {width: 40px; position: relative; float: left;}
		}
		.btn {height: 80px;
			a {width: 130px; font-size: 12px; height: 40px; line-height: 42px;}
		}
	}
}