.filter-catalog-mobile {margin-bottom: 20px; height: 60px; position: relative;
	.filter-catalog {margin-bottom: 20px;}
	.link {display: block; height: 60px; width: 100%; background-color: #fff; text-align: center; line-height: 60px; position: relative; font-size: 16px; color: #ff5c00; position: relative; z-index: 150;
		i {position: absolute; top: 50%; right: 20px; margin-top: -10px;}
		.up {display: none;}
	}
	.link.active {
		.up {display: block;}
		.down {display: none;}
	}
	.list {position: absolute; width: 100%; background: #fff; padding: 20px; border-top: 1px solid #eaeaea; z-index: 100; display: none;
		.filter-catalog {
			a {margin-bottom: 10px; font-size: 14px;}
			a:last-child {margin-bottom: 0px;}
		}
	}
}

@media (max-width: 619px) {
	.filter-catalog-mobile {
		.list {padding-left: 0; padding-right: 0;}
	}
}

