.main-footer {padding-top: 40px;
	.container {position: relative;}
	.social {text-align: center; margin-bottom: 40px;
		a {display: inline-block; zoom: 1; *display: inline; vertical-align: top; width: 60px; height: 60px; background-color: #fff; border-radius: 50%; margin: 0 8px; -webkit-transition: .1s ease-in-out; -moz-transition: .1s ease-in-out; -o-transition: .1s ease-in-out; transition: .1s ease-in-out;
			i {line-height: 60px; font-size: 18px;}
			&:hover {
				i {color: #fff;}
			}
		}
		.fb {
			i {color: #3b5998;}
			&:hover {background-color: #3B5998;}
		}
		.tw {
			i {color: #1da1f2;}
			&:hover {background-color: #1da1f2;}
		}
		.vk {
			i {color: #45668e;}
			&:hover {background-color: #45668e;}
		}
	}
	.contacts {text-align: center;
		a {font-size: 16px; font-weight: 500; color: #fe5c00; line-height: 40px;}
		.address {color: #888888; font-size: 12px; font-size: normal;}
	}
	.realist {text-align: center; border-top: 1px solid #dddddd;
		a {line-height: 60px; color: #fe5c00; font-weight: 500;}
	}
}

@media (min-width: 980px) {
	.main-footer {padding-top: 50px; padding-bottom: 50px; height: 180px;
		.contacts {position: absolute; left: 20px; text-align: left;
			.address {margin-bottom: 0;}
		}
		.realist {position: absolute; right: 20px; border-top: 0;}
		.social {position: absolute; width: 50%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;}
	}
}

@media (max-width: 979px) {
	.main-footer {padding-top: 60px;
		.container {padding-left: 0; padding-right: 0;}
		.social {margin-bottom: 40px;}
		.realist {
			a {color: #fe5c00; font-size: 16px;}
		}
		.contacts {margin-bottom: 50px;
			a {font-weight: normal; line-height: 20px; font-size: 16px;}
		}
	}
}

@media (max-width: 619px) {
	.main-footer {padding-top: 30px;
		.social {margin-bottom: 20px;}
		.contacts {margin-bottom: 20px;
			a {font-size: 14px;}
		}
		.realist {
			a {color: #888888; font-size: 14px;}
		}
	}
}
