.mobile-menu.modal.fade {
	.modal-dialog {transform: translate3d(-100%, 0, 0px); -webkit-transform: translate3d(-100%, 0, 0px); -moz-transform: translate3d(-100%, 0, 0px); -o-transform: translate3d(-100%, 0, 0px); transition: transform 0.1s ease 0s;}
} 
.mobile-menu.modal.in {
	.modal-dialog {transform: translate3d(0, 0, 0px); -webkit-transform: translate3d(0, 0, 0px); -moz-transform: translate3d(0, 0, 0px); -o-transform: translate3d(0, 0, 0px);}
}

.mobile-menu {
	.modal-dialog {margin: 0; max-width: 280px; height: 100%; background-color: #f7f5f3;}
	.modal-content {background-color: #f7f5f3; border-radius: 0; border: none; padding: 0; box-shadow: none;}
	.modal-header {background-color: #fff; height: 60px; position: relative; border: none;
		.close {position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; text-align: left;
			i {line-height: 40px; margin-left: 15px;}
		}
	}
	nav {border-bottom: 1px solid #dddddd;
		ul {margin-bottom: 0; padding-top: 10px; padding-bottom: 10px;
			li:before {content:''; display: none;}
			li {font-style: normal; padding-left: 0; margin-bottom: 0;
				a {display: block; padding: 10px 20px 10px 60px; font-size: 14px; color: #000;}
				a:hover {text-decoration: none;}
			}
		}
	}
	.user {height: 50px; border-bottom: 1px solid #dddddd; padding-left: 20px; padding-right: 20px;
		a {display: block; line-height: 50px; font-weight: normal; color: #000;
			i {font-size: 18px; display: inline-block; zoom: 1; *display: inline; vertical-align: sub; margin-right: 20px;}
		}
	}
	.top-menu {
		a {text-transform: uppercase; color: #ff5c01; font-weight: 500;}
	}
	.time {color: #aaaaaa; font-size: 13px; float: right; margin-top: 5px;
		sup {font-size: 8px; vertical-align: top;}
		i {margin-right: 13px; vertical-align: bottom; font-size: 18px;}
	}
	.main-footer {padding-top: 30px;
		.container {min-width: 280px;}
	}
} 