.navi-category {margin-top: 40px; padding-left:0; padding-right:0;
	a {display: table; float: left; width: 50%; height: 180px; color: #fff; font-size: 28px; font-weight: normal; text-align: center; position: relative; ;
		.name {display: table-cell; width: 100%; vertical-align: middle; position: relative; z-index: 10;}
		.bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0; z-index: 1; display: block; -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; -o-transition: .3s ease-in-out; transition: .3s ease-in-out;}
		i {position: absolute; top: 50%; margin-top: -12px; z-index: 10;}
		&:hover {
			.bg {opacity: .5;}
		}
	}
	.back i {left: 100px;}
	.next i {right: 100px;}
	.drink {background: url(/img/drink.jpg) no-repeat 100%; background-size: cover;}
	.wok {background: url(/img/wok.jpg) no-repeat 100%; background-size: cover;}
}

@media (min-width: 980px) and (max-width: 1219px) {
	.navi-category {
		.back i {left: 40px;}
		.next i {right: 40px;}
	}
}