/* блок ссылка на странице каталога  */

.sale-link {
	background-color: #CF1A3A;
	border-radius: 4px;
	width: calc(100% - 40px);
	padding: 15px 0;
	font-family: "ProximaNova-Bold";
	font-size: 1.25rem;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding-left: 55px;
	padding-right: 55px;
	margin: 20px;
	display: none;
	text-decoration: none;
}

.sale-link-inner {
	display: block;
	margin-left: 0;
	margin-right: 0;
	margin-top: 35px;
	width: 100%;
}

@media screen and (max-width: 767px) {
	.sale-link {
		display: block;
	}

	.sale-link-inner {
		width: calc(100% - 40px);
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 30px;
	}
}