
.icon-icon-srv1:before { content: '\e800'; } /* '' */
.icon-icon-srv2:before { content: '\e801'; } /* '' */
.icon-icon-srv3:before { content: '\e802'; } /* '' */
.icon-icon-srv4:before { content: '\e803'; } /* '' */
.icon-icon-srv5:before { content: '\e804'; } /* '' */
.icon-icon-srv6:before { content: '\e805'; } /* '' */
.icon-icon-srv7:before { content: '\e806'; } /* '' */
.icon-icon-srv8:before { content: '\e807'; } /* '' */
.icon-icon-srv9:before { content: '\e808'; } /* '' */