
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-wallet_2:before { content: '\e801'; } /* '' */
.icon-vk:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-tw:before { content: '\e804'; } /* '' */
.icon-truck:before { content: '\e805'; } /* '' */
.icon-shevron:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-screwdriver:before { content: '\e808'; } /* '' */
.icon-screwdriver_2:before { content: '\e809'; } /* '' */
.icon-round_badge:before { content: '\e80a'; } /* '' */
.icon-rocket:before { content: '\e80b'; } /* '' */
.icon-quality:before { content: '\e80c'; } /* '' */
.icon-pin:before { content: '\e80d'; } /* '' */
.icon-pdf:before { content: '\e80e'; } /* '' */
.icon-star-gray:before { content: '\e80f'; } /* '' */
.icon-star-gray-1:before { content: '\e810'; } /* '' */
.icon-lois:before { content: '\e811'; } /* '' */
.icon-login:before { content: '\e812'; } /* '' */
.icon-letter:before { content: '\e813'; } /* '' */
.icon-gift:before { content: '\e814'; } /* '' */
.icon-gift_truck:before { content: '\e815'; } /* '' */
.icon-fb:before { content: '\e816'; } /* '' */
.icon-diagonal_badge:before { content: '\e817'; } /* '' */
.icon-compare:before { content: '\e818'; } /* '' */
.icon-coins:before { content: '\e819'; } /* '' */
.icon-cart:before { content: '\e81a'; } /* '' */
.icon-camera:before { content: '\e81b'; } /* '' */
.icon-burger:before { content: '\e81c'; } /* '' */
.icon-list:before { content: '\e81d'; } /* '' */
.icon-phone:before { content: '\e81e'; } /* '' */
.icon-+:before { content: '\e81f'; } /* '' */
.icon-arrow_small:before { content: '\e820'; } /* '' */
.icon-shevron-lite:before { content: '\e821'; } /* '' */
.icon-share:before { content: '\e822'; } /* '' */
.icon-catalog-square:before { content: '\e823'; } /* '' */
.icon-catalog-list:before { content: '\e824'; } /* '' */