.nav-vertical {
	ul {margin: 0; padding: 0;
		li {margin: 0; padding: 0; margin-bottom: 10px;
			a {color: #555555;
				&:hover {color: $linkcolor-hover;}
			}
			.active {color: $linkcolor-hover;}
		}
		li:before {display: none;}
	}
}