.v-navi.inner {padding: 0; border: none; margin-top: -5px;
	.lv1 {margin-left: -20px; margin-right: -20px;
		.title {font-style: normal; color: #3f3f3f; padding-bottom: 15px; padding-top: 15px; display: block; font-size: 16px; position: relative;}
		li {
			.link {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
			a {font-size: 16px;}
		}
	}
	.lv2 {display: block;}
	.lv1 > li {border-bottom: none; width: 33.3%; float: left; padding: 0 20px;}
	.lv1 > li > a {padding-top: 12px; padding-bottom: 12px;}
	.lv1 li.active > a {color: #3f3f3f;}
}

@media (min-width: 600px) and (max-width: 939px) {
	.v-navi.inner {
		.lv1 > li {width: 49.9%;}
	}
}

@media (max-width: 599px) {
	.v-navi.inner {
		.lv1 > li {width: 100%;
			a {padding-top: 10px; padding-bottom: 10px;}
		}
		.lv2 {display: none;}
		.lv1 li.active .title {color: $red;}
		.lv1 li.active a.link {color: $red;}
	}
}