.main-footer {background-color: #2f2f2f; padding-top: 40px; padding-bottom: 40px;
	.top {padding-bottom: 40px;
		.title {font: normal 14px $brand-font; color: #bcbdc0; margin-bottom: 25px;}
		.phone a {font: 500 28px/1 $brand-font; color: #fff; margin-bottom: 15px;
			.border {font-style: normal; display: inline-block;}
			span {font-size: 16px; display: inline-block;}
		}
		.phone a:hover{text-decoration: none;}
		.phone:last-child {margin-bottom: 0;}
		.email a {font: 500 28px $brand-font; color: $red;}
		.email a:hover {color: #c42830;}
		.text {text-align: right;}
	}
	.separator {border-bottom: 1px solid #444444;}
	.bottom {padding-top: 40px;
		nav {margin-bottom: 40px;
			li:before {content: ""; display: none;}
			li {display: inline-block; zoom: 1; *display: inline; padding-left: 0; margin-bottom: 0; margin-right: 20px;
				a {font-size: 13px; color: #bcbdc0; font-style: normal; font-weight: normal;}
				a:hover {color: #fff;}
			}
		}
		.copy {font-size: 12px; color: #777777; line-height: 20px; margin-bottom: 0;}
		.realist a {display: inline-block; zoom: 1; *display: inline; color: #777777; font-size: 12px; line-height: 1; margin-bottom: 10px;}
	}
	.scroll-up {text-align: center; height: 60px; border-bottom: 1px solid #444444; margin-bottom: 30px;
		a {display: block;
			i {color: #fff; line-height: 60px;}
		}
	}
}

@media (min-width: 600px) and (max-width: 939px) {
	.main-footer {padding-top: 0;
		.top {
			.phone .border {font-size: 20px;}
			.email a {font-size: 20px;}
		}
	}
}

@media (max-width: 599px) {
	.main-footer {padding-top: 0;
		.top {padding-bottom: 30px;
			.title {margin-bottom: 5px;}
			.phone a {
				.border {border-radius: 4px; border: 1px solid #414141; font-style: normal; padding: 7px 15px; display: inline-block; font-size: 16px;}
				span {font-size: 14px; line-height: 30px; margin-bottom: 5px; display: inline-block;}
			}
			.text {text-align: left; margin-top: 30px;
				.title {display: inline-block; zoom: 1; *display: inline; margin-bottom: 0;}
				.email {display: inline-block; zoom: 1; *display: inline; margin-bottom: 0;
					a {font-size: 20px;}
				}
			}
		}
		.bottom {padding-top: 30px; text-align: center;
			.realist {text-align: center; margin-top: 30px;}
		}
	}
}