.main-header {box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);}
.main-header .top {height: 40px; background-color: #2f2f2f;
	nav ul {margin-bottom: 0;}
	nav li:before {content: ''; display: none;}
	nav li {padding-left: 0; display: inline-block; zoom: 1; *display: inline; vertical-align: top; margin-right: 16px; margin-bottom: 0; height: 40px;}
	nav li a {font: normal 13px/40px $brand-font; color: #bcbdc0; text-decoration: none; display: block;}
	nav li a:hover {color: #fff;}

	.button-feedback a {font: bold 14px/40px $brand-font; color: #fff; text-transform: uppercase; height: 40px; background-color: #e92630; display: block; padding: 0 20px;}
	.button-feedback a:hover {text-decoration: none; background-color: #c42830;}

	.phone {font: 500 16px/40px $brand-font; color: #fff; margin-right: 50px;
		i {display: inline-block; zoom: 1; *display: inline; vertical-align: middle; margin-right: 5px; font-size: 18px; color: #bcbdc0;}
		a {color: #fff;}
		a:hover {text-decoration: none;}
	}
	.hamburger {height: 40px;
		a {color: #fff; font: bold 14px/40px $brand-font; text-transform: uppercase; display: block; height: 40px;}
		a:hover {text-decoration: none;}
		i {color: #fff; display: inline-block; zoom: 1; *display: inline; vertical-align: middle; font-size: 24px; margin-right: 5px; margin-top: -1px;}
	}
}

.main-header .bottom {height: 100px; background-color: #fff; overflow: hidden; text-align: center;
	.logo {margin-top: 20px;}
	.basket {margin-top: 45px; margin-right: 25px; position: relative; text-align: center;
		a {display: block;
			.in {position: absolute; width: 20px; height: 20px; top: 2px; right: -25px; color: #28ae1d; font-size: 16px; line-height: 20px;}
		}
	}
	.basket.added {
		i {color: #28ae1d;}
	}
	nav {overflow: hidden; margin-top: 45px; display: inline-block; zoom: 1; *display: inline;
		li:before {content: ''; display: none;}
		li {padding-left: 0; margin-bottom: 0; display: inline-block; zoom: 1; display: inline;}
		a {padding: 0 20px; font: bold 16px $brand-font; text-transform: uppercase; color: #2f2f2f;}
		a:hover {text-decoration: none; color: #e92630;}
	}
	.search-inner {margin-top: 45px; margin-right: 30px;}
}


@media (min-width: 940px) and (max-width: 1239px) {
	.main-header .top {padding-top: 10px; padding-bottom: 10px; height: 60px;
		.button-feedback a {border-radius: 4px;}
	}
	.main-header .bottom {
		.search-inner {margin-top: 45px; margin-right: 30px;}
		
	}
}

@media (max-width: 939px) {
	.main-header .top {padding: 10px 0; height: 60px; background-color: #fff;
		.hamburger i {color: #2f2f2f;}
		.button-feedback {margin-left: 40px;
			a {color: #2f2f2f; background-color: #fff;}
			a:hover {background-color: transparent; color: $red;}
		}
		.basket {margin-top: 8px; margin-left: 30px; position: relative; text-align: center;
			a {
				.in {position: absolute; width: 20px; height: 20px; top: 2px; right: -25px; color: #28ae1d; font-size: 16px; line-height: 20px;}
			}
		} 
		.search-inner {margin-top: 8px;}
		.logo-sm {margin-left: 20px;}
		.button-feedback.inner {margin-left: 30px;
			a {padding: 0;}
			i {display: inline-block; zoom: 1; *display: inline; vertical-align: middle;}
		}
	}
}

@media (max-width: 599px) {
	.main-header {
		.top {
			.basket {
				i {color: #28ae1d;}
			}
			.button-feedback.inner {margin-left: 50px;}
		}
	}
}



