.modal-product {
	.close {position: absolute; top: 20px; right: 30px; z-index: 100;}
	.modal-content {box-shadow: none; border: none; border-radius: 0; padding: 60px 0 0 0;}
	.modal-dialog {width: auto; margin: 40px auto; max-width: 1160px;}
}

@media (min-width: 600px) and (max-width: 939px) {
	.modal-product {
		.modal-dialog {margin: 60px auto;}
	}
}

@media (max-width: 599px) {
	.modal-product {
		.modal-dialog {margin: 60px auto;}
	}
}