.news-list {
	article {border-bottom: 1px solid #e5e5e5; overflow: hidden; padding-bottom: 40px; margin-bottom: 40px; position: relative;
		aside {font: normal 13px $brand-font; color: #8f8f8f; margin-bottom: 15px;}
		h4 {margin-bottom: 10px;
			a {color: #000;}
			a:hover {color: #1e64ce;}
		} 
		p {font-size: 16px; color: #777777; margin-bottom: 0; line-height: 24px;}
		.img {float: right; margin-left: 40px; width: 180px;
			img {width: 100%;}
		}
	}
	article:last-child {margin-bottom: 0;}
}

@media (max-width: 939px) {
	.news-list {
		article {margin-bottom: 30px; padding-bottom: 30px;
			.img {margin-top: 30px;}
			h4 {font-size: 16px;}		
			p {font-size: 14px;}
			.link {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
		}
	}
	.paginator {
		.next {width: 100%; margin-bottom: 20px;}
	}
}

@media (max-width: 599px) {
	.news-list {
		article {
			.img {width: 60px; margin-left: 20px; margin-top: 30px;}		
		}
	}
	.paginator {
		a {width: 50px; height: 50px; line-height: 48px; font-size: 16px;}
		.back {line-height: 60px; margin-right: 0;}
	}
}


