.order {
	.info {background-color: #f2f2f2; padding: 40px; font: normal 16px/24px $brand-font; color: #777777; margin-top: 80px; margin-bottom: 20px;
		span {color: #000;}
		strong {font-weight: bold; color: #000; font-size: 24px;}
	}
	.modal-feedback {width: 560px;}
}


@media (min-width: 600px) and (max-width: 939px) {
	.btn-def.inner {width: 40px; float: left; margin-right: 40px;
		i {margin-left: -3px;}
	}
}

@media (max-width: 599px) {
	.order {
		.modal-feedback {width: 100%;}
	}
}