.request {background-image: url(/img/main-request-bg.jpg); background-repeat: no-repeat; background-position: center center; height: 180px; margin-bottom: 50px;
	p {font-size: 20px; color: #fff; line-height: 180px;}
	.btn-send {margin-top: 60px;}
}


@media (max-width: 939px) {
	.request {
		p {line-height: 24px; margin-top: 30px; margin-bottom: 25px;}
		.btn-send {margin-top: 10px; max-width: 280px;}
	}
}

@media (min-width: 600px) and (max-width: 939px) {
	.request {height: 180px; background-position: 70% top;}
}


@media (max-width: 599px) {
	.request {margin-bottom: 20px;
		p {font-size: 16px; margin-bottom: 10px;}
	}
}