.suppliers {
	.text {padding: 0 80px; border-bottom: 1px solid #e5e5e5; padding-bottom: 50px; margin-bottom: 50px;}
}

@media (max-width: 939px) {
	.suppliers {
		.text {padding-left: 0; padding-right: 0; padding-bottom: 30px; margin-bottom: 30px;}
	}
}

@media (max-width: 599px) {
	.suppliers {
		h3 {font-size: 18px; line-height: 24px;}
	}
}