.tech-inner {
	.head {margin-bottom: 30px;}
	.main-param {background-color: #2f2f2f; overflow: hidden; margin-bottom: 40px;
		.img {float: left; width: 600px;
			img {display: block; width: 100%;}
		}
		.text {float: left; width: 260px; padding: 40px;
			.title {font-size: 20px; line-height: 30px; color: #fff; font-weight: bold;}
			ul li:before {content: ''; display: none;}
			ul {margin-bottom: 0;
				li {padding-left: 0; margin-bottom: 10px; color: #fff; font-style: normal; font-size: 14px; line-height: 20px;
					span {display: block;}
					.name {color: #bcbdc0;}
				}
				li:last-child {margin-bottom: 0;}
			}
		}
	}
	.full-spec {margin-bottom: 50px;
		.item {border-bottom: 1px solid #e5e5e5; padding-bottom: 20px; margin-bottom: 25px;
			dd {
				.spec-row {
					.col1 {padding-left: 20px;}
				}
			}
			dl.active {display: none;}
			dt {margin-bottom: 10px;}
			.spec-row {margin-bottom: 10px; position: relative; padding-top: 5px; padding-bottom: 5px;
				.col1 {width: 260px; float: left; margin-right: 40px;}
				.col2 {width: 560px; float: left; }
				.col {font-size: 14px; color: #3f3f3f; line-height: 20px; position: relative; z-index: 10;}
			}
			.spec-row:hover:before {content: ''; background-color: #f7f7f7; position: absolute; top: 0; left: -10px; width: 100%; height: 100%; z-index: 1; display: block;}
			.title {font-weight: bold; margin-bottom: 5px; color: #3f3f3f; position: relative;}
			.sub-title {font-size: 13px; color: #3f3f3f; margin-bottom: 0;}
		}
	}
}


@media (min-width: 600px) and (max-width: 939px)  {
	.tech-inner {
		.head {margin-bottom: 40px;
			.btn-green {margin-top: 20px;}
		}
		.main-param {margin-bottom: 30px;
			.img {width: 100%;}
			.text {width: 100%;
				ul {
					li {overflow: hidden;
						.name {width: 150px; float: left; margin-right: 20px;}
						.param {overflow: hidden;}
					}
				}
			}
		}
		.full-spec {margin-bottom: 30px;
			.item {padding-bottom: 10px;
				.spec-row {
					.col2 {width: 260px;}
				}
			}
		}
	}
}

@media (max-width: 599px) {
	.tech-inner {
		h3 {font-size: 20px; margin-bottom: 25px;}
		.main-param {margin-bottom: 20px;
			.img {width: 100%;}
			.text {width: 100%; padding: 20px;
				ul {
					li {overflow: hidden;
						.name {float: none; display: block;}
						.param {float: none; display: block;}
					}
				}
			}
		}
		.full-spec {margin-bottom: 20px;
			.item {padding-bottom: 10px; margin-bottom: 15px;
				dd {overflow: hidden;
					.spec-row {
						.col2 {padding-left: 20px;}
					}
				}
				dt:last-child {margin-bottom: 0;}
				.sub-title {font-weight: bold;}
				.spec-row {
					.col1 {font-weight: bold; margin-bottom: 0px; margin-right: 0; width: 280px;}
					.col2 {width: 280px;}
				}
				.title {padding-right: 25px;
					.link {position: absolute; top: 0; left: 0; width: 100%; height: 100%;
						i {position: absolute; font-size: 20px; right: 0; top: 5px;}
						.up {display: block;}
						.down {display: none;}
					}
					.link.active {
						.up {display: none;}
						.down {display: block;}

					}
				}
			}
		}
	}
}







