/*card_hidden-md*/
@media (max-width: 1499px) {
    .card_hidden-md {
        display: none;
    }
}

@media (max-width: 767px) {
    .card_hidden-md {
        display: block;
    }
}

/*partner*/
.partner:hover .partner__title a {
    color: #1D4885;
}

/*menu-modal__top*/
.menu-modal__top {
    border-bottom: 1px solid rgb(89,120,160);
}

/*blockquote*/
blockquote {
    margin: 40px 0;
}

/*content table*/
.content {
    overflow: hidden;
}

.content table td {
    font-weight: 400;
    flex-shrink: 0;
    font-size: 18px;
    line-height: 30px;
    vertical-align: text-top;
    border-top: 1px solid #E3E5E6;
    padding: 16px 0;
}

.content table td:first-child {
    width: 180px;
    white-space: nowrap;
    padding-right: 34px;
}

@media (max-width: 767px) {
    .content table {
        display: block;
        overflow-x: auto;
        width: 100%;
    }

    .content table td {
        font-size: 16px;
        line-height: 24px;
    }
}

/*quize-slider*/
.quize-slider .slick-slide.slick-current {
    background: #fff;
}

/*search-modal*/
.search-modal .wrap {
    padding: 0;
    max-width: 1180px;
}

@media (max-width: 767px) {
    .search-modal.active {
        top: 0;
    }

    .search-modal .wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .search-modal input {
        border-radius: 0;
        height: 60px;
        font-weight: 600;
        font-size: 16px;
    }
}

/*menu-modal*/
@media (max-width: 767px) {
    .menu-modal {
        background-size: 200px;
    }
}

/*.header.header-main*/
@media (max-width: 767px) {
    .header.header-main {
        height: 120vw;
    }

    .header {
        height: 130px;
    }

    .header:not(.header-main).header .header__inner .header__logo img {
        max-width: 100px;
    }
}

/*history__item*/
@media (max-width: 767px) {
    .history__item strong a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }
}

/*.filter*/
@media (max-width: 767px) {
    .filter {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }
}

/*persons*/
@media (max-width: 767px) {
    .persons .cards__inner {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .filter ul {
        padding: 0;
        width: 100%;
    }

    .filter ul li {
        width: 35px;
    }
}

/*seacrh*/
@media (max-width: 767px) {
    .seacrh-item__title {
        font-size: 20px;
        line-height: 28px;
    }

    .seacrh-form form input {
        -webkit-appearance: none;

    }
}

/*periods*/
@media (max-width: 767px) {
    .periods {
        width: 100%;
    }

    .periods__inner {
        overflow: auto;
        background: #fff;
        margin-left: -20px;
        margin-right: -20px;
    }

    .periods ul {
        border-radius: 0;
        display: flex;
    }

    .periods ul li a {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*modal*/
.mfp-wrap {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

.mfp-bg {
    opacity: .6!important;
}

.mfp-container {
    padding: 0;
}

.modal__ctn {
    position: relative;
    max-width: 580px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    box-shadow: 0px 8px 24px 8px rgba(20, 20, 20, 0.08);
    border-radius: 10px;
    background: #fff;
}

.modal__title {
    padding-top: 22px;
    padding-right: 90px;
}

.modal__close {
    width: 80px;
    height: 80px;
    top: 40px;
    right: 40px;
}

.modal__close::before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.modal__close svg path {
    stroke: #1D4885;
    stroke-width: 1.5px;
}

.modal__close svg {
    width: 34px;
    height: 34px;
}

.modal__close:hover {
    background: none;
}

.modal__form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid #CDCFD0;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
}

.modal__form-input:focus {
    border-color: #FFB300;
}

.modal__form-textarea {
    resize: none;
    outline: none;
    border: 1px solid #CDCFD0;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    height: 140px;
    transition: all .2s;
    background: #fff;
}

.modal__form-textarea:focus {
    border-color: #FFB300;
}

.modal__form-input::-webkit-input-placeholder, .modal__form-textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #7A7E80;
    font-weight: normal;
}

.modal__form-input:-moz-placeholder, .modal__form-textarea:-moz-placeholder {
    opacity: 1;
    color: #7A7E80;
    font-weight: normal;
}

.modal__form-input::-moz-placeholder, .modal__form-textarea::-moz-placeholder {
    opacity: 1;
    color: #7A7E80;
    font-weight: normal;
}

.modal__form-input:-ms-input-placeholder, .modal__form-textarea:-ms-input-placeholder {
    opacity: 1;
    color: #7A7E80;
    font-weight: normal;
}

.modal__form_error-text {
    display: none;
    font-size: 12px;
    line-height: 20px;
    margin-top: 5px;
}

.modal__form-input_error, .modal__form-input_error:hover, .modal__form-input_error:focus {
    border-color: red;
}

.modal__form-input_error + .modal__form_error-text {
    display: block;
    color: red;
}

.modal__form-item:not(:last-child) {
    margin-bottom: 20px;
}

.modal__form-item:last-child {
    margin-top: 40px;
}

.modal__form-button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 0;
    cursor: pointer;
    text-align: center;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    border: 0;
    white-space: nowrap;
    transition: all .2s;
    height: 70px;
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    background: #1D4885;
    border-radius: 4px;
}

.modal__form-button svg {
    margin-right: 5px;
}

.modal__form-button:hover {
    background: #2462BA;
}

.modal-tanks .mfp-close, .search-modal .mfp-close {
    display: none;
}

.modal-tanks .modal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 525px;
}

.modal-tanks .modal__form-button {
    margin-top: auto;
}

.modal-tanks__message {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.modal-tanks__message h3 {
    margin-bottom: 0;
    margin-top: 20px;
    padding: 0 100px;
}

.modal-top .mfp-content {
    vertical-align: top;
}

.modal-top .mfp-container {
    padding-top: 20px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

@media (max-width: 767px) {
    .modal-tanks .modal__wrapper {
        min-height: 100%;
    }

    .modal-tanks__message {
        margin-bottom: 40px;
        padding: 0 20px;
    }

    .modal-tanks__message h3 {
        padding: 0;
    }

    .modal-top .mfp-container {
        padding-top: 0;
    }

    .modal__ctn {
        padding: 20px;
    }

    .modal__title {
        padding-top: 0;
        padding-right: 40px;
    }

    .modal__close {
        width: 40px;
        height: 40px;
        top: 20px;
        right: 12px;
    }
}

/*custom-scroll*/
.custom-scroll .simplebar-content {
    display: flex;
}

.custom-scroll .simplebar-track {
    opacity: 0!important;
    display: none!important;
}

/*calendar*/
.pmu-not-in-month {
    display: none!important;
}

/*select-custom*/
.select-custom {
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    color: #2462BA;
    border: 1px solid #E3E5E6;
    border-radius: 4px;
    padding-right: 64px;
}

.select-custom::after {
    border: 0;
    background-image: url('../images/svg/icons/arrow-d.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 14px;
    height: 8px;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    right: 20px;
}

.select-custom.open::after {
    transform: rotate(0deg);
}


.select-custom:hover {
    border-color: #1D4885;
}

.select-custom .list {
    min-width: 100%;
}

.select-custom.open .list {
    overflow: visible;
}

.select-custom .option, .select-custom .current {
    position: relative;
    z-index: 10;
}

.select-custom.open .list::before {
    content: '';
    position: absolute;
    top: -68px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px + 48px);
    background: #fff;
    box-shadow: 0px 8px 24px 8px rgba(20, 20, 20, 0.08);
    border-radius: 10px;
    z-index: 1;
}

.select-btns .select-custom {
    margin-left: 20px;
}

.select-custom .option.selected {
    font-weight: normal;
    border: 1px solid #E3E5E6;
    background: none;
}

.select-custom .option {
    border: 1px solid transparent;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 767px) {
    .select-custom {
        width: 100%;
    }

    .select-btns .select-custom {
        margin-left: 0;
    }
}

.air-picker {
    display: block;
    width: auto;

    outline: none;
    color: #2462BA;
    padding: 0 40px 0 32px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    background: url(../images/svg/icons/arrow-d2.svg) no-repeat right 16px center;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #E3E5E6;
}

.air-picker:hover {
    border-color: #1D4885;
}

.air-picker input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 0;
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    color: #2462BA;
    border-radius: 4px;
    height: 48px;
}

.air-picker input::-webkit-input-placeholder {
    opacity: 1;
    color: #2462BA;
    font-size: 16px;
    line-height: 48px;
    font-weight: 500;
}

.air-picker input:-moz-placeholder {
    opacity: 1;
    color: #2462BA;
    font-size: 16px;
    line-height: 48px;
    font-weight: 500;
}

.air-picker input::-moz-placeholder {
    opacity: 1;
    color: #2462BA;
    font-size: 16px;
    line-height: 48px;
    font-weight: 500;
}

.air-picker input:-ms-input-placeholder {
    opacity: 1;
    color: #2462BA;
    font-size: 16px;
    line-height: 48px;
    font-weight: 500;
}

.aircalendar .datepicker--pointer {
    display: none;
}

.aircalendar {
    width: 320px;
    height: 380px;
    box-shadow: 0px 0px 1px rgba(20, 20, 20, 0.03), 0px 2px 8px rgba(20, 20, 20, 0.05);
    border-radius: 10px;
    border: 0;
    margin-left: -32px;
}

.aircalendar .datepicker--cell-day.-other-month- {
    display: none;
}


.aircalendar .datepicker--cell-day {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000;
}

.aircalendar .datepicker--nav {
    padding: 20px;
    border-bottom: 0;
}

.aircalendar .datepicker--content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.aircalendar .datepicker--day-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #7A7E80;
    width: 40px;
    height: 40px;
}

.aircalendar .datepicker--days-names {
    margin: 0;
}

.aircalendar .datepicker--nav-action:hover, .aircalendar .datepicker--nav-title:hover {
    background: none;
}

.aircalendar .datepicker--nav-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #1D4885;
}

.aircalendar .datepicker--cell.-selected-, .aircalendar .datepicker--cell.-in-range-, .aircalendar .datepicker--cell.-range-from- {
    background: #1D4885;
    color: #fff;
}

.aircalendar .datepicker--cell.-range-from-, .aircalendar .datepicker--cell.-range-to- {
    border-color: #1D4885;
    background: #1D4885;
    color: #fff;
}

.aircalendar .datepicker--cell.-range-from- {
    border-radius: 80px 0 0 80px;
}

.aircalendar .datepicker--cell.-range-to- {
    border-radius: 0 80px 80px 0;
}

@media (max-width: 767px) {
    .air-picker {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 18px;
    }

    .aircalendar {
        width: 280px;
    }
}

/*event-map*/
.event-map__popup {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px 8px rgba(20, 20, 20, 0.08);
    border-radius: 10px;
    max-width: 380px;
    width: 100%;
    padding: 20px 20px 40px 20px;
}

.event-map__popup-wrapper {
    position: relative;
}

.event-map__popup-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #7A7E80;
}

.event-map__popup-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0E0F0F;
}

.event-map__popup-close {
    width: 26px;
    height: 26px;
    border: 1.5px solid #B4B6B8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.event-map__popup-close svg {
    width: 15px;
    height: 15px;
    font-size: 10px;
}
