@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?wha64n');
	src:url('/fonts/icomoon.eot?wha64n#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.ttf?wha64n') format('truetype'),
		url('/fonts/icomoon.woff?wha64n') format('woff'),
		url('/fonts/icomoon.svg?wha64n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dots:before {
	content: "\e900";
}
.icon-load:before {
	content: "\e901";
}
.icon-location:before {
	content: "\e902";
}
.icon-menu-logo .path1:before {
	content: "\e903";
	color: rgb(242, 240, 230);
}
.icon-menu-logo .path2:before {
	content: "\e904";
	margin-left: -1em;
	color: rgb(215, 98, 77);
}
.icon-menu:before {
	content: "\e905";
}
.icon-messages:before {
	content: "\e906";
}
.icon-mic:before {
	content: "\e907";
}
.icon-nav-icon-3:before {
	content: "\e908";
}
.icon-nav-icon1:before {
	content: "\e909";
}
.icon-nav-icon2:before {
	content: "\e90a";
}
.icon-nav-icon4:before {
	content: "\e90b";
}
.icon-nav-icon5:before {
	content: "\e90c";
}
.icon-nav-icon6:before {
	content: "\e90d";
}
.icon-nav-icon7:before {
	content: "\e90e";
}
.icon-nav-icon8:before {
	content: "\e90f";
}
.icon-play:before {
	content: "\e910";
}
.icon-search:before {
	content: "\e911";
}
.icon-settings:before {
	content: "\e912";
}
.icon-shape:before {
	content: "\e913";
}
.icon-star:before {
	content: "\e914";
}

