@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?pa8zrv');
    src:    url('/fonts/icomoon.eot?pa8zrv#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?pa8zrv') format('truetype'),
        url('/fonts/icomoon.woff?pa8zrv') format('woff'),
        url('/fonts/icomoon.svg?pa8zrv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-action:before {
    content: "\e900";
}
.icon-icon-bbq:before {
    content: "\e901";
}
.icon-icon-bus:before {
    content: "\e902";
}
.icon-icon-close:before {
    content: "\e903";
}
.icon-icon-entertament:before {
    content: "\e904";
}
.icon-icon-fish:before {
    content: "\e905";
}
.icon-icon-food:before {
    content: "\e906";
}
.icon-icon-game:before {
    content: "\e907";
}
.icon-icon-gift:before {
    content: "\e908";
}
.icon-icon-girl:before {
    content: "\e909";
}
.icon-icon-gorachinsk:before {
    content: "\e90a";
}
.icon-icon-kid:before {
    content: "\e90b";
}
.icon-icon-logo:before {
    content: "\e90c";
}
.icon-icon-man-big:before {
    content: "\e90d";
}
.icon-icon-man:before {
    content: "\e90e";
}
.icon-icon-map:before {
    content: "\e90f";
}
.icon-icon-menu:before {
    content: "\e910";
}
.icon-icon-phone:before {
    content: "\e911";
}
.icon-icon-refresh:before {
    content: "\e912";
}
.icon-icon-spa:before {
    content: "\e913";
}
.icon-icon-tour:before {
    content: "\e914";
}

