.btn a {display: inline-block; zoom: 1; *display: inline; padding: 8px 30px; background: #FF7E00; border-radius: 20px; font: bold 16px PT Sans; color: #fff; text-decoration: none;}
.btn a:hover {background: #F2BE00; color: #222222;}
.btn a:active {color: #fff;}

.btn-white a {display: inline-block; zoom: 1; *display: inline; padding: 8px 30px; background: #fff; border-radius: 20px; font: bold 16px PT Sans; color: #222; text-decoration: none; border: 1px solid #CCC;}
.btn-white a:hover {background: #F2BE00; color: #222222; border-color: #F2BE00;}
.btn-white a:active {color: #fff;}

.btn input[type="submit"] {display: inline-block; zoom: 1; *display: inline; padding: 8px 30px; background: #FF7E00; border-radius: 20px; font: bold 16px PT Sans; color: #fff; cursor: pointer; border: none;}
.btn input[type="submit"]:hover {background: #F2BE00; color: #222222; outline: none;}
.btn input[type="submit"]:active {color: #fff; margin: 0; outline: none;}

#header .top {height: 36px; background: #333;}
#header .bottom {height: 110px; background: #fff;}
#header .bg {background: #464646; height: 36px; border-left: 1px solid #1D1D1D; border-right: 1px solid #1D1D1D; display: inline-block; zoom: 1; *display: inline; padding: 0 10px;}
#header .bg p {font: normal 14px/36px PT Sans; color: #fff;}
#header .bg a {font: normal 14px/36px PT Sans; color: #fff; border-color: #fff; text-decoration: none; border-bottom: 1px dotted #fff;}
#header .logo {margin-top: 20px;}
#header .navigation a {font: normal 14px/36px PT Sans; color: #fff;}
#header .navigation dl {margin-left: -20px; height: 36px;}
#header .navigation dl dt {float: left; margin-left: 20px;}
#header .navi {margin-top: 45px;}
#header .navi a {font: normal 21px PT Sans; color: #202020; display: block; padding: 7px 13px; text-decoration: none;}
#header .navi a span {border-bottom: 1px solid #202020; display: block;}
#header .navi dl dt:hover > a {background: #F4C800; box-shadow:0px 2px 5px rgba(0,0,0,0.21);}
#header .navi dl dt:hover a span {border-color: #F4C800;}
#header .navi dl dt {float: left; position: relative;}
#header .navi .br-color span {border-bottom: 1px solid #FF7E00; display: block;}
#header .navi .lv2 {position: absolute; top: 40px; left: 0; background: #F4C800; margin: 0; height: auto; z-index: 10; /*box-shadow:0px 5px 5px rgba(0,0,0,0.21);*/ display: none; padding: 5px 0;}
#header .navi .lv2 a {white-space: nowrap; font: normal 16px PT Sans; box-shadow: none; text-decoration: underline;}
#header .navi .lv2 a:hover {text-decoration: none; box-shadow: none;}
#header .navi dl dt:hover .lv2 {display: block;}
#header .navi dl > dt > a.active:hover {background: none; box-shadow: none; color: #FF7E00;}
#header .navi dl > dt > a.active span {border-bottom: 3px solid #FF7E00; margin-top: 28px;}
#header .navi dl > dt > a.active {color: #FF7E00;}
#header .navi dl > dt > a.br-color.active span {border-bottom: 3px solid #FF7E00; margin-top: 28px;}
#header .navi dl > dt:hover > a.br-color.active {background: #F4C800; box-shadow:0px 2px 5px rgba(0,0,0,0.21); color: #202020;}
#header .navi dl > dt > a.br-color.active {color: #FF7E00;}

.main-carousel {position: relative;}
.main-carousel .bx-wrapper {position: relative;}
.main-carousel .bx-controls .bx-controls-direction a {display: inline-block; zoom: 1; *display: inline; background-color: #A6A6A6; width: 50px; height: 90px; font-size: 0; color: transparent; position: absolute; top: 50%; margin: -45px 0 0 0; background-image: url(../img/carousel-navi.png); background-repeat: no-repeat;}
.main-carousel .bx-controls .bx-controls-direction a:hover {background-color: #FF7E00;}
.main-carousel .bx-controls .bx-controls-direction .bx-prev {left: -60px; background-position: 12px center;}
.main-carousel .bx-controls .bx-controls-direction .bx-next {right: -60px; background-position: -27px center;}
.main-carousel .item {position: relative;}
.main-carousel .item .text {position: absolute; width: 320px; height: 210px; background: rgba(255,255,255,0.2); bottom: 20px; left: 20px; padding: 10px; box-sizing: border-box; box-shadow:0px 1px 3px rgba(0,0,0,0.16);}
.main-carousel .item .text .bg-white {height: 100%;}
.main-carousel #bx-pager {margin-left: -16px; position: absolute; bottom: -90px; left: 0;}
.main-carousel #bx-pager a {display: inline-block; zoom: 1; *display: inline; width: 220px; height: 80px; margin-left: 16px; vertical-align: top; position: relative;}
.main-carousel #bx-pager img {max-width: 220px; display: block;}
.main-carousel #bx-pager a.active span {position: absolute; top: -2px; left: -2px; width: 100%; height: 100%; border: 1px solid #333333; padding: 1px 1px 0 1px;}


.select-service dl dt {box-sizing: border-box; padding: 20px; overflow: hidden;}
.select-service dl .b-internet {background: #F4CA00;}
.select-service dl .b-tv {background: #FF7E00;}
.select-service dl h2 {margin-bottom: 0; float: left;}
.select-service dl h2 a {color: #212121;}
.select-service dl p {float: right; font: normal 36px/1 PT Sans; margin-bottom: 0; color: #212121;}
.select-service dl span {display: block; font: normal 16px/1 PT Sans;}

.list-advantages dl dt {border: 1px solid #ddd; box-sizing: border-box; height: 100px; position: relative;}
.list-advantages dl dt .img {background-image: url(../img/list-advantages.png); background-repeat: no-repeat; background-color: #F6F5F4; width: 98px; height: 98px; float: left;}
.list-advantages dl dt .text {overflow: hidden; padding: 10px 15px;}
.list-advantages dl dt .text a {font: normal 18px/1.4 Open Sans; text-decoration: none; border-bottom: 1px dotted #006CD8;}
.list-advantages dl dt .text a:hover {border-color: #004FA1;}
.list-advantages dl dt.l1 .img {background-position: -335px 25px;}
.list-advantages dl dt.l2 .img {background-position: -265px -45px;}
.list-advantages dl dt.l3 .img {background-position: -195px -113px;}
.list-advantages dl dt.l4 .img {background-position: -120px -183px;}
.list-advantages dl dt.l5 .img {background-position: -45px -255px;}
.list-advantages dl dt.l6 .img {background-position: 31px -326px;}
.list-advantages .desc {position: absolute; top: 0; left: 0; background: #F4C800; width: 100%; min-height: 100%; z-index: 10; display: none; box-shadow:0px 1px 3px rgba(0,0,0,0.16);}
.list-advantages .desc .wrapper {padding: 20px; position: relative;}
.list-advantages .desc .close {position: absolute; top: 20px; right: 20px; width: 10px; height: 10px; background: url(../img/close.png) no-repeat; opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}
.list-advantages .desc .close:hover {background-position: 0 -30px;}

.inner-service dl dt {border-left: 1px solid #bbb; box-sizing: border-box; padding-left: 20px; text-align: center; height: 120px; padding-top: 76px; background: url(../img/inner-service.png) no-repeat;}
.inner-service dl dt:last-child {border-right: 1px solid #bbb;}
.inner-service dl dt a {font-size: 18px; line-height: 1.2;}
.inner-service .in1 {background-position: 85px 0;}
.inner-service .in2 {background-position: -150px 0;}
.inner-service .in3 {background-position: -385px 0;}
.inner-service .in4 {background-position: -650px 0;}

.b-news .title a {font: normal 16px PT Sans;}
.b-news .date {font: normal 12px PT Sans; color: #1F1F1F; margin-bottom: 5px;}
.b-news dt {position: relative;}
.b-news dt span {position: absolute; width: 1px; height: 100%; background: #bbb; right: -5px; top: 0;}

#footer {background-image: url(../img/footer-border.png); background-repeat: no-repeat; background-position: center top; background-color: #333333; height: 270px;}
#footer .soc {margin-top: 30px;}
#footer .soc a {display: inline-block; zoom: 1; *display: inline; width: 30px; height: 30px; margin-left: 10px; background: url(../img/soc-sprite.png) no-repeat;}
#footer .soc .fb {background-position: 0 0;}
#footer .soc .vk {background-position: -40px 0;}
#footer .soc .ok {background-position: -80px 0;}
#footer .phone {display: inline-block; zoom: 1; *display: inline; vertical-align: top; margin-right: 20px; margin-top: 10px;}
#footer .phone .title {font: bold 13px Open Sans; color: #999; margin-bottom: 5px;}
#footer .phone p {font: normal 21px Open Sans; color: #fff; margin-bottom: 0;}
#footer .sitemap .title {font: bold 14px Open Sans; color: #fff; margin-bottom: 10px;}
#footer .sitemap a {font: normal 14px Open Sans; color: #fff; margin-bottom: 5px; display: inline-block; zoom: 1; *display: inline;}

.popup .modal-dialog {width: 700px;}
.popup .modal-body {padding: 15px 30px;}
.popup .modal-footer {padding: 15px 30px;}

input[type="radio"].radio {display:none;}
input[type="radio"].radio + label {font: normal 16px PT Sans; color: #212121; cursor: pointer;}
input[type="radio"].radio + label span { border-bottom: 1px solid #0059b2; display: inline-block; line-height: 1;}
input[type="radio"].radio + label::before {content: ""; display: inline-block; height: 21px; width: 20px; margin: 0 5px 0 0; background-image: url(../img/radio.png); background-repeat: no-repeat; vertical-align: middle; }
input[type="radio"].radio + label::before {background-position: 0 0;}
input[type="radio"].radio:checked + label::before {background-position: 0 -40px;}

.popup .cols5 dt {margin-bottom: 10px;}
.popup .close {position: absolute; top: 20px; right: 20px; background: url(../img/close-popup.png) no-repeat; width: 16px; height: 16px; opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}
.popup .close:hover {background-position: 0 -36px;}

/**/

.bg-yellow {background: #F4C400;}
.bg-yellow-inner {background: #FFEEBC;}

.btn-location {background-color: #fff; border-radius: 20px; display: inline-block; zoom: 1; *display: inline; padding-right: 5px;}
.btn-location a {height: 38px; display: inline-block; zoom: 1; *display: inline; background-image: url(../img/round-btn.png); background-repeat: no-repeat; background-position: right center; padding: 0 40px 0 20px; font: normal 16px/38px PT Sans; text-decoration: none; color: #202020;}

.b-head {padding-top: 60px; padding-bottom: 150px;}

.tarif {margin-bottom: 30px; margin-top: -130px;}
.tarif .nav-tabs {padding: 0; border: none;}
.tarif .nav-tabs li {margin: 0; position: relative; border-right: 1px solid #F4C400;}
.tarif .nav-tabs li a {font: normal 18px PT Sans; text-decoration: none; color: #212121; background: #F8D73D; border-radius: 0; margin-right: 0; border-left: none; border-right: none; border-top: none; border-bottom: none; border-top: 3px solid #F8D73D; padding: 10px 30px;}
.tarif .nav-tabs li:last-child {border-right: none;}
.tarif .nav-tabs li:hover a {border-color: #F4C400; border-top: 3px solid #F8D73D;}
.tarif .nav-tabs li.active a {background: #fff; color: #FF7E00; border-top: 3px solid #FF7E00; position: relative; z-index: 20;}
.tarif .nav-tabs li.active a:hover {border-top: 3px solid #FF7E00;}
.tarif .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-left: none; border-right: none; border-bottom: none;}
.tarif .tab-content {background: #fff; border-top:1px solid #ECBE00; position: relative; z-index: 10; margin-top: -1px; padding: 30px;}

.w1000 {width: 1000px;}
.b-shadow {box-shadow:0px 1px 3px rgba(0,0,0,0.16);}

.item-card .border {border-top: none;}
.item-card .info {width: 100%; height: 200px;}
.item-card .info .bigest {font: normal 96px/1 Open Sans; color: #fff; padding-top: 40px;}
.item-card .info .small {font: normal 24px/1 Open Sans; color: #fff;}
.item-card .info.color1 {background: #F4CC00;}
.item-card .info.color2 {background: #FF7E00;}
.item-card .info.color3 {background: #F8593A;}
.item-card .info.color4 {background: #CB3A74;}
.item-card .name {background: #F6F5F4; padding: 10px 15px;}
.item-card .name .helper {font: normal 14px/1 PT Sans; color: #666; margin-bottom: 0;}
.item-card .name .title {font: normal 24px/1.2 PT Sans; color: #1F1F1F; margin-bottom: 0;}
.item-card .name .cost {margin-top: 10px;}
.item-card .name .cost p {font: bold 30px PT Sans; margin-bottom: 0; color: #1F1F1F; display: inline-block; zoom: 1; *display: inline; vertical-align: top;}
.item-card .name .cost .rub {font: normal 14px/1 PT Sans;}
.item-card .name .cost .rub span {display: block; width: 100%; height: 1px; background: #333; margin-top: 4px;}
.item-card .left {float: left;}
.item-card .right {float: right;}
.item-card .description {background: #fff; padding: 15px;}
.item-card .description dl dt {margin-bottom: 10px; font: normal 16px PT Sans; color: #333; background: url(../img/item-card-desc.png) no-repeat; padding-left: 40px; padding-top: 2px; padding-bottom: 2px;}
.item-card .description dl dt:last-child {margin-bottom: 0;}
.item-card .description dl dt.d1 {background-position: -132px 0;}
.item-card .description dl dt.d2 {background-position: -87px -44px;}
.item-card .description dl dt.d3 {background-position: -45px -88px;}
.item-card .description dl dt.d4 {background-position: 0px -136px;}
.item-card .description ul {margin: 0; padding: 0;}
.item-card .description ul li {list-style: none; font-size: 14px; color: #333;}
.item-card .description ul li:before {content: "-"; margin-right: 5px;}
.item-card .description .title {display: block; font: normal 14px PT Sans; color: #FF7E00;}
.item-card.cols4 .description dl dt {background: none; padding: 0; font-size: 14px;}
.item-card.cols4 .name .left {float: none;}
.item-card.cols4 .name .right {float: none;}
.item-card.cols4 .name .title {font-size: 18px;}
.item-card.cols4 .name .helper {display: none;}
.item-card.cols4 .name .cost span {display: inline-block; zoom: 1; *display: inline; width: auto; background: none;}
.item-card.cols4 .name .cost span:before {content: "/";}
.item-card.cols4 .name .cost p {vertical-align: baseline; font-size: 18px;}
.item-card.cols4 .name .cost .rub {font-size: 14px;}
.item-card.cols4 .name .cost {margin-top: 0;}

.list-advantages.inner dl dt .img {background-image: url(../img/list-advantages-inner.png); background-repeat: no-repeat;}
.list-advantages.inner dl dt.l1 .img {background-position: -253px 20px;}
.list-advantages.inner dl dt.l2 .img {background-position: -165px -75px;}
.list-advantages.inner dl dt.l3 .img {background-position: -83px -165px;}
.list-advantages.inner dl dt.l4 .img {background-position: 10px -255px;}


.more-service-list dl dt {background: #F6F5F4; height: 95px; overflow: hidden;}
.more-service-list .text {position: relative; padding: 10px 120px 10px 0;}
.more-service-list .text .title {font: bold 16px PT Sans; color: #212121;}
.more-service-list .text .cost {height: 40px; padding: 0 10px; background: #F4C600; font: normal 16px/40px PT Sans; color: #212121; position: absolute; top: 0; right: 0;}

.info-service dl dt {box-sizing: border-box; height: 280px; text-align: center; margin-bottom: 0;}
.info-service .right {background: #FF7E00; text-align: center; padding: 40px 30px;}
.info-service .right p {color: #1F1F1F;}
.info-service .left dt {padding: 40px 20px; border: 1px solid #CCC;}
.info-service .left dt .title a {font-size: 21px;}
.info-service .btn-white a {border-color: transparent;}

.service-helper {background: #F6F5F4; padding: 15px 40px; margin-bottom: 30px;}
.service-helper .text {width: 560px;}
.service-helper p {margin-bottom: 0;}

/**/

.tv-info .bigest {font: bold 52px/1 Open Sans; margin-bottom: 10px;}
.tv-info dl dt {position: relative;}
.tv-info .b-right {width: 1px; height: 100%; background: #ccc; position: absolute; top: 0; right: 0;}
.tv-info .plus-icon {height: 29px; width: 29px; background: url(../img/plus-icon.png) no-repeat; position: absolute; top: 50%; margin: -14px  0 0 0; right: -14px;}

.promo-tv {position: relative;}
.promo-tv .text {position: absolute; width: 320px; height: auto; background: rgba(255,255,255,0.2); bottom: 20px; right: 20px; padding: 10px; box-sizing: border-box; box-shadow:0px 1px 3px rgba(0,0,0,0.16);}
.promo-tv .text p {margin-bottom: 0;}
.promo-tv .text .bg-white {opacity: 0.85;  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; filter: alpha(opacity=85);}

.connect {position: relative;}
.connect .layout {position: absolute; top: 0; left: 0;}

.w-connect .helper {width: 260px; font: italic 16px Open Sans; color: #666; position: absolute; top: 0; left: 0;}

.list-square {list-style: none; padding: 0; margin: 0;}
.list-square .title {font: bold 16px PT Sans; color: #F85D2E; margin-bottom: 0px; text-transform: uppercase;}
.list-square li {background: url(../img/square.png) no-repeat left 5px; padding-left: 20px;}

.list-tarif-tv dl {overflow: hidden; margin-left: -5px;}
.list-tarif-tv dt {background: #F6F5F4; width: 150px; margin-left: 5px; float: left;}
.list-tarif-tv dt p {font: normal 14px PT Sans; margin-bottom: 0;}
.list-tarif-tv dt h6 {text-transform: uppercase;}

.info-service.inner .left {background: #F4C400; padding: 40px 20px;}
.info-service.inner .right {padding: 40px 20px;}

.carousel-tarif {position: relative;}
.carousel-tarif dl dt {position: relative; height: 200px; width: 940px!important;}
.carousel-tarif .name {background: #F6F5F4; padding: 10px 15px; position: absolute; top: 20px; left: 20px; min-width: 270px;}
.carousel-tarif .name .helper {font: normal 14px/1 PT Sans; color: #666; margin-bottom: 0;}
.carousel-tarif .name .title {font: normal 24px/1.2 PT Sans; color: #1F1F1F; margin-bottom: 0;}
.carousel-tarif .name .cost {margin-top: 10px;}
.carousel-tarif .name .cost p {font: bold 30px PT Sans; margin-bottom: 0; color: #1F1F1F; display: inline-block; zoom: 1; *display: inline; vertical-align: top;}
.carousel-tarif .name .cost .rub {font: normal 14px/1 PT Sans;}
.carousel-tarif .name .cost .rub span {display: block; width: 100%; height: 1px; background: #333; margin-top: 4px;}
.carousel-tarif .left {float: left; margin-right: 20px;}
.carousel-tarif .right {float: right;}
.carousel-tarif .bx-controls .bx-controls-direction a {width: 40px; height: 40px; background-color: rgba(0,0,0,0.3); display: inline-block; zoom: 1; *display: inline; margin-right: 10px; background-image: url(../img/carousel-navi-inner.png); background-repeat: no-repeat; vertical-align: top;}
.carousel-tarif .bx-controls .bx-controls-direction a:hover {background-color: rgba(0,0,0,0.5);}
.carousel-tarif .bx-controls .bx-controls-direction .bx-prev {background-position: center 5px;}
.carousel-tarif .bx-controls .bx-controls-direction .bx-next {background-position: center -54px;}
.carousel-tarif .bx-controls {position: absolute; bottom: 20px; left: 20px;}

.complect .cost {width: 110px; background: #F4C400; padding: 15px; position: absolute; right: 0; top: 0;}
.complect .cost p {margin-bottom: 10px; line-height: 1.2;}
.complect .cost .big {margin-bottom: 0; font: normal 24px PT Sans;}

.list-advantages.ntv dl dt .img {background-image: url(../img/list-advantages-ntv.png); background-repeat: no-repeat;}
.list-advantages.ntv dl dt.l1 .img {background-position: center 32px;}
.list-advantages.ntv dl dt.l2 .img {background-position: center -50px;}
.list-advantages.ntv dl dt.l3 .img {background-position: center -127px;}
.list-advantages.ntv dl dt.l4 .img {background-position: center -218px;}
.list-advantages.ntv dl dt.l5 .img {background-position: center -317px;}

.list-advantages.services dl dt {margin-bottom: 20px;}
.list-advantages.services dl dt .img {background-image: url(../img/list-advantages-services.png); background-repeat: no-repeat;}
.list-advantages.services dl dt.l1 .img {background-position: center center;}
.list-advantages.services dl dt.l2 .img {background-position: center center;}
.list-advantages.services dl dt.l3 .img {background-position: center center;}

.form dl dt {margin-bottom: 0;}
.form input[type=text] {border-bottom: 1px solid #DDDDDD; outline: none; border-top: none; border-left: none; border-right: none; width: 100%; position: relative; z-index: 10; background: none; font: normal 16px Open Sans;}
.form input[type=text]:focus {border-color: #FF7E00;}
.form dl dt.active .error {-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1;}
.form dl dt.active .helper {-webkit-transform: translate3d(0, -10%, 0); transform: translate3d(0, -10%, 0);}
.form .helper {margin-bottom: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); -webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; position: relative; z-index: 1; font: normal 14px Open Sans;}
.form .error {-webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); font: normal 12px Open Sans; color: #ff0000; opacity: 0;}

input[type="checkbox"].checkbox {display:none;}
input[type="checkbox"].checkbox + label {font: normal 18px Open Sans; color: #212121; cursor: pointer;}
input[type="checkbox"].checkbox + label span { border-bottom: 1px solid #0059b2; display: inline-block; line-height: 1;}
input[type="checkbox"].checkbox + label::before {content: ""; display: inline-block; height: 30px; width: 30px; margin: 0 10px 0 0; background-image: url(../img/checkbox.png); background-repeat: no-repeat; vertical-align: middle; }
input[type="checkbox"].checkbox + label::before {background-position: 0 0;}
input[type="checkbox"].checkbox:checked + label::before {background-position: 0 -50px;}

.order .select-service dl dt {background-color: #fff; border: 1px solid #ccc; background-image: url(../img/order-select-service.png); background-repeat: no-repeat; margin-bottom: 0;}
.order .select-service dl dt.s1 {background-position: 93% 20px;}
.order .select-service dl dt.s2 {background-position: 100% -50px;}

.order input[type="radio"].radio {display:none;}
.order input[type="radio"].radio + label {font: normal 18px Open Sans; color: #212121; cursor: pointer;}
.order input[type="radio"].radio + label span { border-bottom: 1px solid #0059b2; display: inline-block; line-height: 1;}
.order input[type="radio"].radio + label::before {content: ""; display: inline-block; height: 30px; width: 30px; margin: 0 10px 0 0; background-image: url(../img/radio-inner.png); background-repeat: no-repeat; vertical-align: middle; }
.order input[type="radio"].radio + label::before {background-position: 0 0;}
.order input[type="radio"].radio:checked + label::before {background-position: 0 -50px;}

.order .list-tarif dl dt {border: 1px solid #ccc; padding: 10px; overflow: hidden; margin-bottom: 10px; background: #fff;}
.order .list-tarif dl dt:hover {border-color: #F2C000;}
.order .list-tarif dl dt.active {border-color: #F2C000;}
.order .list-tarif dl dt .radio-btn {float: left; width: 195px;}
.order .list-tarif dl dt .unit {float: left; width: 100px; font-size: 16px; line-height: 1; margin-top: 7px;}
.order .list-tarif dl dt .cost {float: right; font-size: 18px; line-height: 1; margin-top: 5px;}

.order .list-inner input.checkbox[type="checkbox"] + label {font-size: 14px;}
.order .list-inner small {display: block; margin-left: 40px; line-height: 1;}

.ios7-switch {display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; tap-highlight-color: transparent;}
.ios7-switch input {opacity: 0; position: absolute;}
.ios7-switch input + span {position: relative; display: inline-block; width: 3.65em; height: 1em; background: #F4C000; box-shadow: inset 0 0 0 0.0625em #e9e9e9; border-radius: 0.5em; vertical-align: -0.15em; transition: all 0.40s cubic-bezier(.17,.67,.43,.98);}
.ios7-switch:active input + span, .ios7-switch input + span:active {box-shadow: inset 0 0 0 0.73em #e9e9e9;}
.ios7-switch input + span:after {position: absolute; display: block; content: ''; width: 1.5em; height: 1.5em; border-radius: 1.4375em; top: -0.3em; left: 0.0625em; background: white;box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1), 0 0 0.05em rgba(0,0,0,0.05), 0 0.1em 0.2em rgba(0,0,0,0.2); transition: all 0.25s ease-out;}
.ios7-switch:active input + span:after, .ios7-switch input + span:active:after {width: 1.5em; height: 1.5em;}
.ios7-switch input:checked + span {box-shadow: inset 0 0 0 0.73em #F4C000;}
.ios7-switch input:checked + span:after {left: 2.2em;}
.ios7-switch:active input:checked + span:after, .ios7-switch input:checked + span:active:after {left: 0.4375em;}
.ios7-switch input:focus + span:after {box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.15), 0 0 0.05em rgba(0,0,0,0.08), 0 0.1em 0.2em rgba(0,0,0,0.3); background: #fff;}
.ios7-switch input:focus + span {box-shadow: inset 0 0 0 0.0625em #dadada;}
.ios7-switch input:focus:checked + span {box-shadow: inset 0 0 0 0.73em #F4C000;}
.ios7-switch:hover input:focus + span:after {box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1), 0 0 0.05em rgba(0,0,0,0.05), 0 0.1em 0.2em rgba(0,0,0,0.2); background: #fff;}
.ios7-switch:hover input:focus + span {box-shadow: inset 0 0 0 0.0625em #e9e9e9;}
.ios7-switch:hover input:focus:checked + span {box-shadow: inset 0 0 0 0.73em #F4C000;}

.order .switch {font: normal 18px Open Sans;}
.order .switch span.js {color: #006CD8; border-bottom: 1px dotted #006CD8; cursor: pointer;}
.order .switch span.js.active {color: #212121; border-bottom: none;}
.order .list-inner.sm dt {width: 195px;}
.order .preview {overflow: hidden; background: #fff; padding: 15px; margin-bottom: 20px; border: 1px solid #ccc;}
.order .preview .img {width: 140px; margin-right: 20px; float: left;}
.order .preview .img img {max-width: 140px;}
.order .preview p {margin-bottom: 0;}

.order-sum .title {font: normal 18px Open Sans; color: #FF7E00; margin-bottom: 5px;}
.order-sum .cost {margin-bottom: 5px;}
.order-sum ul {margin: 0; padding: 0;}
.order-sum ul li {list-style: none; font-size: 14px;}
.order-sum ul li:before {content:"-"; margin-right: 5px;}
.order-sum dl dt {margin-bottom: 0;}

.order .bg-mute {background: rgba(255,255,255,0.8); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 100;}
.order .active-bg .bg-mute {display: none;}
.order .btn.mute a {background: #666666;}
.order .btn.mute a:hover {color: #fff;}
.order .list-tarif input.radio[type="radio"] + label span {color: #006CD8; border-bottom: 1px dotted #006CD8;}
.order .list-tarif input.radio[type="radio"]:checked + label span {color: #212121; border-bottom: none;}

.application .l-col .border {border-color: #FF7E00;}
.application .r-col dt {width: 278px;}
.application .form dl dt .error {margin-bottom: 0;}

.list-doc dt a {padding-left: 30px; color: #212121; background: url(../img/doc-icon.png) no-repeat left 5px; padding-top: 10px; padding-bottom: 5px; display: inline-block; zoom: 1; *display: inline; text-decoration: none;} 
.list-doc dt a span {border-bottom: 1px dotted #212121;} 
.list-doc dt a:hover {color: #006DD9;} 
.list-doc dt a:hover span {border-color: #006DD9;} 

.b-help dl dt {box-sizing: border-box; border: 1px solid #ccc; position: relative; margin-bottom: 0;}
.b-help img {width: 100%;}
.b-help .text {width: 140px; height: 100%; background: #F4CA00; position: absolute; top: 0; left: 0;}

.no-tabs {margin-bottom: 30px; margin-top: -130px;}

.listw200 dl {overflow: hidden; margin-left: -20px;}
.listw200 dt {float: left; width: 200px; margin-left: 20px;}

.popular-question .speed-icon {padding-left: 30px; background: url(../img/speed-icon.png) no-repeat left center;}
.popular-question .question-icon {padding-left: 30px; background: url(../img/question-icon.png) no-repeat left center;}
.popular-question .list-square li {background: url(../img/square-inner.png) no-repeat left 8px; padding-left: 15px;}

.b-support .mh300 {min-height: 300px;}

.b-support .action dl {overflow: hidden; margin-left: -20px;}
.b-support .action dl dt {width: 340px; margin-left: 20px; float: left; margin-bottom: 10px;}

.news dl dt {margin-bottom: 10px; position: relative;}
.news dl dt i {width: 1px; height: 100%; background: #ccc; position: absolute; top: 0; right: -10px;}
.news p {margin-bottom: 0;}
.news .date {margin-bottom: 5px;}

.payment .helper dl dt {margin-bottom: 0px;}

.payment-list dl dt {overflow: hidden; margin-bottom: 20px;}
.payment-list .img {position: relative;}
.payment-list .img .recommended {position: absolute; background: #F4BC00; height: 34px; padding: 0 10px; bottom: 0; right: 0; line-height: 34px;}


.action dl dt {box-sizing: border-box; border: 1px solid #ccc;}
.action img {width: 100%;}
.action p {margin-bottom: 0;}
.action .img {position: relative;}
.action .img span {position: absolute; top: 0; right: 0; width: 100px; height: 30px; background: #F4CA00; text-align: center; padding:10px; line-height: 1.1;}








