@font-face { 
  font-family: 'CirceBold';  
  src: url(../fonts/Circe-Bold.otf);
}

@font-face { 
  font-family: 'CirceExtraBold';  
  src: url(../fonts/Circe-ExtraBold.otf);
}

@font-face { 
  font-family: 'CircleLight';  
  src: url(../fonts/Circle-Light.otf);
}

