.about {margin-top: 50px;
	.text {
		p {font-size: 20px; line-height: 30px; margin-bottom: 30px; color: #1d1d1d;}
		a {color: #2f6bc6;
			&:hover {text-decoration: none; border-bottom: 1px solid #2f6bc6;}
		}
	}
}

@media (min-width: 1000px) and (max-width: 1359px) {
	.about {
		.text {
			p {font-size: 16px; line-height: 28px;}
		}
	}
}

@media (min-width: 680px) and (max-width: 999px) {
	.about {margin-top: 35px;
		.text {
			p {font-size: 14px; line-height: 22px; margin-bottom: 20px;}
		}
	}
}

@media (max-width: 679px) {
	.about {margin-top: 25px;
		.text {
			p {font-size: 14px; line-height: 22px; margin-bottom: 15px;}
		}
	}
}