//базовый шрифт 18px

html {
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
	height: 100%; 
	font-size: 18px;
}
body {
	font-family: $font-regular, sans-serif;
	height: 100%; 
	font-size: 1rem;
    background-color: #F9F9FB;
}

/*Применить конкретно к объекту а не глобально*/
/*input {
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none;
}

textarea {
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none;
}*/

strong {
	font-weight: bold;
}

/*Применить конкретно к объекту а не глобально*/
/*
*::-webkit-input-placeholder {
	color: #2C2B29; 
	opacity: 1; 
	font-weight: normal;
}

*:-moz-placeholder {
	color: #2C2B29; 
	opacity: 1; 
	font-weight: normal;
}

*::-moz-placeholder {
	color: #2C2B29; 
	opacity: 1; 
	font-weight: normal;
}

*:-ms-input-placeholder {
	color: #2C2B29; 
	opacity: 1; 
	font-weight: normal;
}
*/

a {
	text-decoration:underline; 
	outline: none; 
	font-weight: normal;
	color: $linkcolor;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	color: #222222;
	font-family: $font-semibold;
    font-weight: 600;
	margin-top: 0;
}

h1 {
	font-size: 2.6667rem;
	line-height: 54px;
    margin-bottom: 25px;
}

h2 {
	font-size: 1.7778rem;
	line-height: 37px;
	margin-bottom: 30px;
}

h3 {
	font-size: 1.3333rem;
	line-height: 27px;
	margin-bottom: 30px;
}

h4 {
	font-size: 1.1111rem;
	line-height: 22px;
	margin-bottom: 25px;
}

h5 {
	font-size: 1rem;
	line-height: 21px;
	margin-bottom: 30px;
}

p {
	font-size: 1rem;
	line-height: 27px;
	margin:0 0 20px 0; 
	color: #333333;
	font-family: $font-regular;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ====== блок с текстом который идет сразу после заголовка H1 ===== */
.block-teaser-after-h1-title {
  font-size: 1.3333rem;
  line-height: 36px;
  color: #555555;
  margin-bottom: 40px;
}
/* ===== end ====== */

/* ====== блок с текстом который идет может быть после любого заголовка кроме H1 ===== */
.block-teaser-after-title {
  color: #333333;
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 60px;
}

//список ненумерованный
.block-teaser-after-title ul {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.block-teaser-after-title li {
  margin-bottom: 10px;
  padding: 0;
}

.block-teaser-after-title li::before {
  display: none;
}

.block-teaser-after-title li:last-child {
  margin-bottom: 0;
}
/* ===== end ====== */

//сбрасываем стили у ненумерованного списка
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-unstyled li {
  margin: 0;
  padding: 0;
}

.list-unstyled li::before {
  display: none;
}

//дефолтный ненумерованный список
ul {
  list-style: none;
  padding: 0;
}

ul li {
  position: relative;
  padding-left: 20px;
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 10px;
  color: #333333;
}

ul li::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FDCE34;
  display: block;
  position: absolute;
  left: 0;
  top: 12px;
}

//дефольтный нумерованный список
ol {
  padding-left: 30px;
}

ol li {
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 10px;
  color: #333333;
}

//сбрасываем стили у нумерованных списков
.ol-list-unstyled {
  margin: 0;
  padding-left: 20px;
}

//текст серый 14px
.normal-text {
  font-size: 0.7778rem;
  line-height: 17px;
}

//дефолтный input
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
}

//заголовок по центру
.title-centered {
  text-align: center;
}

/* ===== обертка для контента по центру ===== */
.wrapper-ctn-centered {
  max-width: 780px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* ===== обертка для контента по центру 980px ===== */
.wrapper-ctn-centered_lg {
  max-width: 980px;
}

/* ===== обертка для контента по правому краю ===== */
.wrapper-ctn-right {
  max-width: 980px;
  width: 100%;
  margin-left: auto;
}

/* ===== контент в сером блоке ===== */
.content-bg-gray {
  background: #F9F9FB;
  padding: 30px 40px;
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 60px;
}

.content-bg-gray__title {
  color: #222222;
  font-size: 1.1111rem;
  line-height: 24px;
  font-family: $font-medium;
  margin-bottom: 15px;
}

.content-bg-gray ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content-bg-gray ul li {
  padding: 0;
  margin: 0 0 10px 0;
}

.content-bg-gray ul li:last-child {
  margin-bottom: 0;
}

.content-bg-gray ul li::before {
  display: none;
}

/* ===== блок в котором всевозможный контент ===== */
.content-mix h2 + ul {
  margin-top: -10px;
  margin-bottom: 50px;
}

.content-mix h2 + ol {
  margin-top: -10px;
  margin-bottom: 50px;
}

.content-mix h2 + p {
  margin-top: -10px;
}

.content-mix p + ul {
  margin-top: 10px;
  margin-bottom: 50px;
}

.content-mix p + ol {
  margin-top: 0;
  margin-bottom: 50px;
}

.content-mix h4 + ol {
  margin-top: -10px;
  margin-bottom: 50px;
}

.content-mix ol + p {
  margin-top: -30px;
}

.content-mix p + h2 {
  margin-top: 60px;
}

.content-mix p + h4, .content-mix p + h3 {
  margin-top: 40px;
}

.content-mix h3 + p {
  margin-top: -10px;
}

.content-mix p {
  margin-bottom: 10px;
}

.content-mix p + .content-bg-gray {
  margin-top: 30px;
}

.content-mix p + p {
  margin-top: 20px;
}

.content-mix .content-bg-gray + p {
  margin-top: -20px;
}

.content-mix ol + .content-bg-gray {
  margin-top: -20px;
}

.content-mix li > ul {
  margin-top: 5px;
}

.content-mix .block-teaser-after-h1-title + h2 {
  margin-top: 60px;
}
/* ===== end ===== */

.section {
  margin-bottom: 60px;
}

.section:last-child {
  margin-bottom: 0;
}

//скрываем все кроме разрешения 767px
.visible-xs {
  display: none!important;
}

//убираем скролл у body
.body-fixed {
  overflow: hidden;
}

//скрываем все кроме разрешения 768px до 1259px
.visible-md {
  display: none!important;
}

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .hidden-md {
    display: none!important;
  }

  .visible-md {
    display: block!important;
  }

  .block-teaser-after-h1-title {
    margin-bottom: 50px;
  }

  .content-bg-gray {
    margin-left: -40px;
    margin-right: -40px;
  }
}


@media screen and (max-width: 767px) {
  h1 {
    font-size: 	1.5556rem;
    line-height: 34px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.3333rem;
    line-height: 29px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.1111rem;
    line-height: 24px;
    margin-bottom: 20px;
  }

  ul li {
    font-size: 0.8889rem;
    line-height: 24px;
    color: #555555;
  }

  ul li::before {
    top: 9px;
  }

  ol li {
    font-size: 0.8889rem;
    line-height: 24px;
    color: #555555;
  }

  p {
    font-size: 0.8889rem;
    line-height: 24px;
  }

  //скрываем все на xs
  .hidden-xs {
    display: none!important;
  }

  .visible-xs {
    display: block!important;
  }

  /* ====== блок с текстом который идет сразу после заголовка H1 ===== */
  .block-teaser-after-h1-title {
    font-size: 1.1111rem;
    line-height: 30px;
  }

  /* ====== блок с текстом который идет может быть после любого заголовка кроме H1 ===== */
  .block-teaser-after-title li {
    font-size: 0.8889rem;
    line-height: 24px;
    color: #555555;
  }

  .block-teaser-after-title {
    margin-bottom: 40px;
  }

  .content-bg-gray {
    margin-left: -20px;
    margin-right: -20px;
    padding: 30px 20px;
    font-size: 0.8889rem;
    line-height: 24px;
    color: #555555;
    margin-bottom: 40px;
  }

  .content-bg-gray li {
    font-size: 0.8889rem;
    line-height: 24px;
    color: #555555;
  }

  .content-bg-gray__title {
    font-size: 1rem;
    line-height: 22px;
  }

  .content-mix h2 + ul {
    margin-bottom: 30px;
  }

  .content-mix p {
    color: #555555;
  }

  .content-mix p + ul {
    margin-bottom: 25px;
  }

  .content-mix ul + h2 {
    margin-top: 40px;
  }

  .content-mix ol + .content-bg-gray {
    margin-top: 0;
  }

  .content-mix p + ol {
    margin-bottom: 30px;
  }

  .section {
    margin-bottom: 30px;
  }

  .content-mix p + h4, .content-mix p + h3 {
    margin-top: 25px;
  }

  //контент на странице о компании
  .content-mix_about-page {
    margin-bottom: -30px;
  }

  .content-mix_about-page .block-teaser-after-h1-title {
    margin-bottom: 20px;
  }

  .content-mix_about-page.content-mix ul + h2 {
    margin-top: 25px;
  }

  .content-mix_about-page.content-mix p + h2 {
    margin-top: 25px;
  }

  //контент на странице история
  .content-mix_history-page {
    margin-bottom: -30px;
  }

  /* ===== обертка для контента по правому краю ===== */
  .wrapper-ctn-right {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }

  /* ===== обертка для контента по центру ===== */
  .wrapper-ctn-centered {
    max-width: 100%;
    width: 100%;
  }
}