//икончатый шрифт material icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

//@font-face {
//  font-family: 'GraphikLCG-Regular';
//  font-style: normal;
//  font-weight: 400;
//  src: url(../fonts/Graphik/GraphikLCG-Regular.otf);
//}
//
//@font-face {
//  font-family: 'GraphikLCG-Medium';
//  font-style: normal;
//  font-weight: 500;
//  src: url(../fonts/Graphik/GraphikLCG-Medium.otf);
//}
//
//@font-face {
//  font-family: 'GraphikLCG-Semibold';
//  font-style: normal;
//  font-weight: normal;
//  src: url(../fonts/Graphik/GraphikLCG-Semibold.otf);
//}

@font-face {
  font-family: 'IBMPlexSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/IBM/IBMPlexSans-Regular.ttf);
}

@font-face {
  font-family: 'IBMPlexSans-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/IBM/IBMPlexSans-Medium.ttf);
}

@font-face {
  font-family: 'IBMPlexSans-Semibold';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/IBM/IBMPlexSans-Semibold.ttf);
}