html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: normal;
  vertical-align: baseline;
  outline: none;
}

html {height: 100%; -webkit-font-smoothing: antialiased;}

body {line-height:1; font-family: PT Sans, sans-serif; min-height: 100%;}

b {font-weight: bold;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

strong {font-weight: bold;} 

input {outline: none;}

table {border-collapse: collapse; border-spacing:0; width: 100%;}
table tr td, table tr th {padding:5px; text-align:left;}
img {border:0; outline:none; display:inline-block;}

a {text-decoration:underline; color: #008ACD; outline: none !important;}
a:hover {color: #FE2712; outline: none;}
a:active {outline: none;}

.js-link {display: inline-block; zoom: 1; *display: inline; line-height: 1; text-decoration: none; border-bottom: 1px dotted #008ACD;}
.js-link:hover {border-color: #FE2712; text-decoration: none;}

a.js {transition: color 0.2s ease-in-out 0s;}
a.js:hover {transition: color 0.2s ease-in-out 0s;}

a.js-bg {transition: background 0.2s ease-in-out 0s;}
a.js-bg:hover {transition: background 0.2s ease-in-out 0s;}

h1, h2, h3, h4, h5, h6 {font-family: PT Sans Narrow, sans-serif; sans-serif; font-weight: bold; font-style: normal; line-height:1.2; color:#000; text-transform: uppercase;}

h1{font-size:36px; margin:0 0 28px 0;}
h2{font-size:30px; margin:0 0 24px 0;}
h3{font-size:24px; margin:0 0 24px 0;}
h4{font-size:20px; margin:0 0 24px 0;}
h5{font-size:18px; margin:0 0 24px 0;}
h6{font-size:16px; margin:0 0 24px 0;}


p {font:normal 14px/1.4 PT Sans; margin:0 0 14px 0; color: #505050;}

ul {padding: 5px 20px; list-style: disc; margin:0 0 5px 0;}
ol {padding: 0 5px 10px 30px; margin:0 0 5px 0; list-style:decimal;}
ul li, ol li {font: normal 14px/1.2 PT Sans; margin:0 0 5px 0; color: #000;}

/* text */
.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.text-normal {font-weight:normal;}
.text-light {font-weight:300;}
.text-bold {font-weight:bold;}
.font-big {font-size: 20px;}
.font-normal {font-size: 14px;}
.no-transform {text-transform: none;}

.auto-center {margin: 0 auto;}

.black {color: #000;}
.grey {color:#ccc;}
.dark-grey {color:#505050;}
.bg-grey {background: #F2F2F2;}
.bg-dark-grey {background: #343434;}
.bg-white {background: #FFF;}
.bg-blue {background: #E6F7FE;}
.white {color: #fff;}
.green {color: #349200;}

.pos-rel {position: relative;}

.clear {clear: both; width: 100%; height:0; margin:0; padding:0; float:none; *zoom: 1;}
.centered {width:940px; padding:0 30px; margin: 0 auto; position: relative;} 
.oh {overflow:hidden;}
.fl-l {float:left;}
.fl-r {float:right;}

/* margin & paddings */
.m0 {margin: 0;}

.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}

.mb0 {margin-bottom:0px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}

.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml30 {margin-left: 30px;}
.ml40 {margin-left: 40px;}
.ml50 {margin-left: 50px;}

.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr30 {margin-right: 30px;}
.mr40 {margin-right: 40px;}
.mr50 {margin-right: 50px;}

.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pt30 {padding-top:30px;}
.pt40 {padding-top:40px;}
.pt50 {padding-top:50px;}
.pt100 {padding-top:100px;}

.pb10 {padding-bottom:10px;}
.pb20 {padding-bottom:20px;}
.pb30 {padding-bottom:30px;}
.pb40 {padding-bottom:40px;}
.pb50 {padding-bottom:50px;}

.pl10 {padding-left:10px;}
.pl20 {padding-left:20px;}
.pl30 {padding-left:30px;}
.pl40 {padding-left:40px;}
.pl50 {padding-left:50px;}

.p5 {padding:10px;}
.p10 {padding:10px;}
.p20 {padding:20px;}
.p30 {padding:30px;}

/* layout & columns*/

.layout.w540 .l-col {width:540px; float:left;}
.layout.w540 .r-col {width:380px; float:right;}

.layout.w220 .l-col {width:220px; float:left;}
.layout.w220 .r-col {width:700px; float:right;}

.layout.w220.inner .l-col {width:220px; float:left; }
.layout.w220.inner .r-col {width:690px; float:right}

.layout.w220i .l-col {width:700px; float:left;}
.layout.w220i .r-col {width:220px; float:right;}

.layout.w300 .l-col {width:300px; float:left;}
.layout.w300 .r-col {width:620px; float:right;}

.layout.w300i .l-col {width:620px; float:left;}
.layout.w300i .r-col {width:300px; float:right;}

.layout.w600 .l-col {width:600px; float:left;}
.layout.w600 .r-col {width:300px; float:right;}

/* Колонки равной ширины */

.cols > dl {margin:0 0 0 -20px;}
.cols > dl > dt {float:left; margin:0 0 20px 20px;}
.cols2 > dl > dt {width:460px;} 
.cols3 > dl > dt {width:300px;}
.cols4 > dl > dt {width:220px;}
.cols5 > dl > dt {width:172px;}
.cols6 > dl > dt {width:140px;}

/* Ширина в процентах */

.w20 {width:19.99%;}
.w25 {width:24.99%;}
.w30 {width:29.99%;}
.w33 {width:33.33%;}
.w40 {width:39.99%;}
.w50 {width:49.99%;}
.w60 {width:59.99%;}
.w70 {width:69.99%;}
.w75 {width:74.99%;}
.w80 {width:79.99%;}
.w100 {width:100%;}

/* polaroid картинка в рамочке в подписью, тизер для страницы новости */

.bordered {position: relative; overflow: hidden; font: normal 30px PT Sans; text-align: center;}
.bordered > span {display: inline-block; margin: 0 .4em;}
.bordered > span:before,
.bordered > span:after {content: ''; position: absolute; width: 100%; border-top: 1px solid #ddd; margin-top: .9em;}
.bordered > span:before {margin-left: -100%;}
.bordered > span:after {margin-left: 0;}

.bordered2 {overflow: hidden; position: relative; margin: 0 0 10px 0; text-align: center;}
.bordered2:before {content: ''; position: relative; display: inline-block; vertical-align: middle; width: 50%; height: 5px; top: 2px; border-bottom: 1px solid #000; border-top: 1px solid #000;}
.bordered2:after {content: ''; position: relative; display: inline-block; vertical-align: middle; width: 50%; height: 5px; top: 2px; border-bottom: 1px solid #000; border-top: 1px solid #000;}
.bordered2:before {left: -.5em; margin-left: -50%;}
.bordered2:after {left: .5em;margin-right: -50%;}
.bordered2 span {display: inline-block; vertical-align: middle; white-space: normal; margin: 0 .2em; max-width: 70%; font: bold 42px PT Sans;}

.bordered2.black:before {border-color: #000;}
.bordered2.black:after {border-color: #000;}
.bordered2.black span {border-color: #000;}

.bordered2.small span {font-size: 30px;}

.inbordered {position: relative; overflow: hidden; font: bold 24px PT Sans; color: #000;}
.inbordered:after {content: ''; position: absolute;  width: 100%; border-top: 1px solid #DDD; margin-top: .8em; margin-left: .4em;}

.br5 {border-radius: 5px;}
.br10 {border-radius: 10px;}
.br20 {border-radius: 10px;}
.b-dotted {border-bottom: 1px dotted #000;}
.b-border {border-bottom: 1px solid #D4B03A;}
.b-border.grey {border-bottom: 1px solid #ddd;}


/*-----------------------------------------------------------------------------------------------------------------*/

#container {position: relative; height: 100%;}
#content {position: relative; width: 1000px; margin: -20px auto 0 auto; box-shadow: 0 0 13px 0 rgba(0,0,0,0.2); padding: 50px 0 30px 0;} 

.button input {display: inline-block; zoom: 1; *display: inline; font: bold 16px PT Sans; color: #fff; border-radius: 5px; width: 220px; height: 36px; border: none; cursor: pointer;}

.button a {display: inline-block; zoom: 1; *display: inline; font: bold 16px/34px PT Sans; color: #fff; border-radius: 5px; width: 220px; height: 36px; text-decoration: none;}

.button.grey input {background: #D9D9D9; cursor: default;}
.button.blue input {background: #008ACE;}
.button.blue input:hover {background: #008ace; /* Old browsers */
background: -moz-linear-gradient(top, #008ace 0%, #043981 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008ace), color-stop(100%,#043981)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #008ace 0%,#043981 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #008ace 0%,#043981 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #008ace 0%,#043981 100%); /* IE10+ */
background: linear-gradient(to bottom, #008ace 0%,#043981 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ace', endColorstr='#043981',GradientType=0 ); /* IE6-9 */}
.button.blue input:active {background: #04367D; padding: 0;}

.button.blue a {background: #008ACE;}
.button.blue a:hover {background: #008ace; /* Old browsers */
background: -moz-linear-gradient(top, #008ace 0%, #043981 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008ace), color-stop(100%,#043981)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #008ace 0%,#043981 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #008ace 0%,#043981 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #008ace 0%,#043981 100%); /* IE10+ */
background: linear-gradient(to bottom, #008ace 0%,#043981 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ace', endColorstr='#043981',GradientType=0 ); /* IE6-9 */}
.button.blue a:active {background: #04367D; padding: 0;}

#header {height: 146px; background: url(../img/header.png) repeat-x top left; position: relative; z-index: 200;}
#header .wrapper {width:100%; margin: 0 auto; height: 146px; background: url(../img/header-center.png) no-repeat center center;}
#header .centered {height: 146px;}
#header .logo {padding: 20px 0 0 0;}
.panel {padding: 5px 10px 5px 30px; margin: 0; background: url(../img/panel-icon.png) no-repeat 10px center #fff; margin: 20px 0 0 0;}
.panel a {font: bold 14px/1 PT Sans Narrow; text-transform: uppercase;}
.panel.inner {box-shadow: none; border: none; border-radius: 0; margin-top: 40px; margin-bottom: 10px;}
.panel.inner a {font-size: 16px;}
.panel.entered .name {text-transform: none; margin-right: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 150px; vertical-align: top;}
#header .navigation {position: absolute; bottom: 0; left: 10px;}
#header .navigation dl dt {float: left; position: relative; height: 47px;}
#header .navigation dl dt a {font: bold 20px/47px PT Sans Narrow; color: #fff; display: block; padding: 0 15px; height: 47px; text-decoration: none;}
#header .navigation dl > dt:hover > a {background: url(../img/black-opacity.png);}
#header .navigation dl dt .lv2 {position: absolute; top: 47px; left: 0; background: #fff; box-shadow: 0 0 10px 0 rgba(0,0,0,0.3); padding: 10px 0; display: none; z-index: 100;}
#header .navigation dl dt .lv2 a {font: bold 14px PT Sans; white-space: nowrap; height: auto; color: #008ACC; padding-top: 3px; padding-bottom: 3px; text-decoration: underline;}
#header .navigation dl dt .lv2 a:hover {color: #fff; text-decoration: none;
background: #02599a; /* Old browsers */
background: -moz-linear-gradient(top, #02599a 0%, #003d71 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02599a), color-stop(100%,#003d71)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #02599a 0%,#003d71 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #02599a 0%,#003d71 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #02599a 0%,#003d71 100%); /* IE10+ */
background: linear-gradient(to bottom, #02599a 0%,#003d71 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02599a', endColorstr='#003d71',GradientType=0 ); /* IE6-9 */}
#header .navigation dl dt:hover .lv2 {display: block;	}
#header .navigation dl dt:hover .conus {width: 14px; height: 8px; background: url(../img/navi-conus.png) no-repeat; position: absolute; bottom: 0; left: 50%; margin: 0 0 0 -7px; z-index: 100;}
#header .navigation dl > dt > a.active {color: #FFDE00;}


.nav-tabs {border: none;}
.nav-tabs > li > a {font: normal 16px PT Sans Narrow; color: #A5A5A5; text-decoration: none; padding: 3px 10px; border: none; background: none;}
.nav-tabs > li > a:hover {background: none; border: none;}
.nav > li > a:hover, .nav > li > a:focus {background: none;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border: none; color: #000; background: none;}
.nav-tabs > li.active span {border-color: #fff;}
.nav-tabs > li > a > span {border-bottom: 1px dotted #A5A5A5; display: inline-block; zoom: 1; *display: inline;}

.carousel {height: 150px; width: 936px; margin: 0 auto; position: relative;}
.carousel dl dt {width: 117px; float: left; height: 130px; cursor: pointer;
background: #daebf2; /* Old browsers */
background: -moz-linear-gradient(left, #daebf2 0%, #ebf4f8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#daebf2), color-stop(100%,#ebf4f8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #daebf2 0%,#ebf4f8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #daebf2 0%,#ebf4f8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #daebf2 0%,#ebf4f8 100%); /* IE10+ */
background: linear-gradient(to right, #daebf2 0%,#ebf4f8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daebf2', endColorstr='#ebf4f8',GradientType=1 ); /* IE6-9 */}
.carousel .bx-controls .bx-controls-direction a {display: block; width: 32px; height: 130px; background: url(../img/carousel-navi.png) no-repeat; position: absolute; top: 20px;}
.carousel .bx-controls .bx-controls-direction a.bx-prev {left: -32px; background-position: 0 0;}
.carousel .bx-controls .bx-controls-direction a.bx-prev:hover {background-position: 0 -150px;}
.carousel .bx-controls .bx-controls-direction a.bx-prev:active {background-position: 0 -300px;}
.carousel .bx-controls .bx-controls-direction a.bx-next {right: -32px; background-position: -42px 0;}
.carousel .bx-controls .bx-controls-direction a.bx-next:hover {background-position: -42px -150px;}
.carousel .bx-controls .bx-controls-direction a.bx-next:active {background-position: -42px -300px;}
.carousel dl dt .wrapper {padding: 10px; position: relative; height: 110px;}
.carousel dl dt .date {font: normal 12px PT Sans Narrow; color: #000; margin: 0 0 8px 0;}
.carousel dl dt .team {overflow: hidden; margin-bottom: 8px; max-height: 28px; overflow: hidden;}
.carousel dl dt .team p {margin: 0;}
.carousel dl dt .team .name {font: bold 14px/1 PT Sans Narrow; color: #505050; width: 81px; height: 28px; overflow: hidden;}
.carousel dl dt .team .score {font: bold 14px/1 PT Sans Narrow; color: #000; width: 14px; text-align: right;}
.carousel dl dt .location {margin: 0; font: bold 12px/1 PT Sans Narrow; text-transform: uppercase; position: absolute; bottom: 10px; left: 10px;}
.carousel dl dt .location.orange {color: #FA9901;}
.carousel dl dt .location.green {color: #66B032;}
.carousel dl dt:hover {background: #E5F38B;}
.carousel dl dt.inner {
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(left, #f2f2f2 0%, #e6e6e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2f2f2), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #f2f2f2 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #f2f2f2 0%,#e6e6e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #f2f2f2 0%,#e6e6e6 100%); /* IE10+ */
background: linear-gradient(to right, #f2f2f2 0%,#e6e6e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=1 ); /* IE6-9 */}
.carousel .bx-viewport {padding: 20px 0 0 0; overflow: visible !important;}
.carousel dl dt .control-date {position: absolute; font: bold 12px PT Sans Narrow; color: #fff; padding: 2px 5px; background: #FF0000; top: -19px; left: 0;}
.carousel dl dt .control-border {position: absolute; background: #FF0000; top: 0; left: 0; width: 3px; height: 100%;}
.carousel .dropdown {position: absolute; width: 300px; height: 145px; background: #fff; bottom: -145px; left: 0; box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); text-align: center; z-index: 100; display: none; overflow: hidden;}
.carousel .dropdown .wrapper {padding: 20px 5px;}
.carousel .dropdown .wrapper .result p {margin: 0;}
.carousel .dropdown .wrapper .result-old p {color: #7F7F7F; font: normal 20px/1 PT Sans Narrow; margin: 0 0 5px 0;}
.carousel .dropdown .wrapper .name {width: 110px; overflow: hidden; font: bold 16px/1 PT Sans Narrow; color: #505050;}
.carousel .dropdown .wrapper .score {width: 70px; font: bold 30px/1 PT Sans Narrow; color: #000;}
.carousel .dropdown .wrapper .small {margin: 0; font-size: 12px; color: #7F7F7F;}
.carousel .dropdown a {display: block; text-decoration: none;}
.carousel dl dt:hover .dropdown {display: block;}

.tab-pane {position: relative; z-index: 100;}

.promo .left {width: 300px;}
.promo .center {width: 380px; margin: 0 20px;}
.promo .right {width: 220px;}

.item-news dl dt {overflow: hidden; margin-bottom: 20px;}
.item-news dl dt .date {margin: 0 0 10px 0; font: normal 12px PT Sans;}
.item-news dl dt .img {float: left; margin: 0 10px 0 0;}
.item-news dl dt .img img {display: block; max-width: 70px;}
.item-news dl dt .text a {font-size: 14px; line-height: 1.4;}
.item-news .archive a {padding: 0 0 0 25px; background: url(../img/icon-doc.png) no-repeat left center;}

.carousel2 img {display: block;}
.carousel2 .title {font-size: 18px; line-height: 1.2;}
.carousel2 .bx-controls .bx-pager {text-align: center;}
.carousel2 .bx-controls .bx-pager .bx-pager-item {display: inline-block; zoom: 1; *display: inline; margin: 0 5px 0 0; vertical-align: top;}
.carousel2 .bx-controls .bx-pager .bx-pager-item a {display: block; width: 10px; height: 10px; background: #B3B3B3; border-radius: 20px; font-size: 0; color: transparent;}
.carousel2 .bx-controls .bx-pager .bx-pager-item a.active {background: #008ACE;}

.wave {background: url(../img/wave.png) repeat-x; width: 100%; height: 3px; position: absolute; left: 0;}
.wave.top {background-position: 0 0; top: -3px;}
.wave.bottom {background-position: 0 -13px; bottom: -3px;}

.partners dl dt {background: #fff; border-radius: 5px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.1); text-align: center; height: 190px; margin-bottom: 0;}
.partners dl dt p {margin: 0;}
.partners dl dt h5 {margin: 0 0 10px 0;}


.league-table .nav-tabs > li > a {font: bold 30px/1 PT Sans Narrow; color: #008ACD; text-transform: uppercase;}
.league-table .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #000;}

.table-main {padding: 20px; border-radius: 5px; box-shadow: 0 0 6px 0 rgba(0,0,0,0.1); border: 1px solid #E6E6E6;}
.table-main table tr th {font: normal 15px PT Sans Narrow; color: #505050; padding: 5px 0; border-bottom: 1px solid #E6E6E6;}
.table-main table tr td {padding: 8px 0; font: normal 15px PT Sans Narrow; text-align: center;}
.table-main table .numbers {min-width: 42px;}
.table-main table .col1 {width: 15px; text-align: left;}
.table-main table .col2 {width: 160px; text-align: left; }
.table-main table .team {padding-left: 10px;}
.table-main table .team p {font: bold 15px PT Sans Narrow; margin: 0;}
.table-main table .cap {width: 29px; height: 12px; background: #E6E6E6; display: inline-block; zoom: 1; *display: inline;}
.table-main table .results {width: 18px; padding-left: 7px; padding-right: 7px;}
.table-main table .red {color: #FE2712;}
.table-main table .blue {color: #0392CE;}
.table-main table .black {color: #000;}
.table-main table a {text-decoration: none; color: #000;}

.stat dl dt .wrapper {border-radius: 5px; box-shadow: 0 0 6px 0 rgba(0,0,0,0.1); border: 1px solid #E6E6E6; width: 258px; padding: 20px;}
.stat tr th {font: normal 15px PT Sans Narrow; color: #505050; padding: 5px 0; border-bottom: 1px solid #E6E6E6;}
.stat tr td {font: normal 15px PT Sans Narrow; color: #000; padding: 8px 0;} 
.stat tr .col1 {width: 15px; text-align: left; color: #505050;}
.stat tr .col2 {width: 210px; text-align: left;}
.stat tr .col3 {text-align: center;}
.stat tr .name {padding-left: 10px;}

.red-card {width: 9px; height: 14px; display: inline-block; zoom: 1; *display: inline; background: #CC0000;}
.yellow-card {width: 9px; height: 14px; display: inline-block; zoom: 1; *display: inline; background: #FFCC00;}

.wave-grey {width: 100%; height: 6px; background: url(../img/wave-grey.png);}

.media .photo dl {overflow: hidden; margin: 0 0 0 -5px;}
.media .photo dl dt {width: 184px; margin: 0 0 5px 5px; float: left;}
.media .photo img {display: block;}

#footer .gp {width: 100px; text-align: center;}
#footer .gp a {display: block; text-decoration: none; font: normal 12px PT Sans;}
#footer .gp a span {display: inline-block; zoom: 1; *display: inline; border-bottom: 1px solid #008ACD;}
#footer .gp a img {display: block; margin: 10px 0 5px 0;}
#footer .gp a:hover span {border-color: #FE2712;}

/**/

.navi a {display: inline-block; zoom: 1; *display: inline; font: bold 20px PT Sans Narrow; text-transform: uppercase; margin: 0 30px 0 0;}
.navi a.active {text-decoration: none; color: #000;}

.card-match {width: 300px; height: 145px; background: #fff; box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); text-align: center; overflow: hidden;}
.card-match:hover {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e7eef7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7eef7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e7eef7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e7eef7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e7eef7 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e7eef7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7eef7',GradientType=0 ); /* IE6-9 */}
.card-match .wrapper {padding: 20px 5px;}
.card-match .wrapper .result p {margin: 0;}
.card-match .wrapper .result-old p {color: #7F7F7F; font: normal 20px/1 PT Sans Narrow; margin: 0 0 5px 0;}
.card-match .wrapper .name {width: 110px; overflow: hidden; font: bold 16px/1 PT Sans Narrow; color: #505050;}
.card-match .wrapper .score {width: 70px; font: bold 30px/1 PT Sans Narrow; color: #000;}
.card-match .wrapper .small {margin: 0; font-size: 12px; color: #7F7F7F;}
.card-match a {display: block; text-decoration: none;}

.sorter {color: #000;}
.sorter a {display: inline-block; zoom: 1; *display: inline; color: #A5A5A5; text-decoration: none; border-bottom: 1px dotted #A5A5A5; font: normal 16px/1 PT Sans Narrow; margin: 0 0 0 10px;}
.sorter a.active {border: none; color: #000;}

/**/

.match-info {background: url(../img/match.jpg) no-repeat center center; width: 100%; height: 300px; text-align: center;}
.match-info .result {background: url(../img/black-opacity-inner.png); width: 780px; height: 260px; display: inline-block; zoom: 1; *display: inline; margin: 20px 0 0 0;}
.match-info p {color: #fff; font-size: 16px;}
.match-info .teams p {display: inline-block; zoom: 1; *display: inline;}
.match-info .teams .name {font: bold 30px/1 PT Sans Narrow; width: 300px;}
.match-info .teams .score  {font: bold 60px/1 PT Sans Narrow; width: 130px;}
.match-info .date {margin-bottom: 0;}


.gamers table {width: auto;}
.gamers tr td {font: normal 20px PT Sans Narrow; color: #000;}

.review-match p {font-size: 16px; color: #000;}

.comments textarea {border: 1px solid #D0D0D0; width: 288px; height: 115px; border-radius: 5px; resize: none; padding: 5px;}
.comments .title {font-size: 18px; color: #000;}
.comments .comment-list dl dt {margin: 0 0 20px 0;}
.comments .comment-list .name {font: normal 14px PT Sans; margin: 0 0 5px 0; color: #000;}
.comments .comment-list .name .date {font: normal 12px PT Sans; color: #B2B2B2; display: inline-block; zoom: 1; *display: inline; margin: 0 0 0 20px;}
.comments .comment-list p {font: italic 16px PT Sans; color: #505050;}

.team-list dl dt {display: table;}
.team-list dl dt img {display: block; max-width: 90px; box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); float: left; margin: 0 15px 0 0; display: table-cell; vertical-align: middle;}
.team-list dl dt .name {font: normal 20px/1.2 PT Sans Narrow; display: table-cell; vertical-align: middle; text-align: left; width: 100%;}


.about-team p {color: #000;}
.about-team .preview img {display: block; }
.about-team .gallery dl {overflow: hidden; margin: 0 0 0 -8px;}
.about-team .gallery dl dt {margin: 0 0 8px 8px; float: left; width: 148px;}
.about-team .gallery img {display: block; max-width: 148px;}
.about-team .list img {vertical-align: top;}


.tournaments dl dt {height: 250px; background: #fff; box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); overflow: hidden; border-radius: 5px; position: relative;}
.tournaments dl dt:hover {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e7eef7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7eef7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e7eef7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e7eef7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e7eef7 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e7eef7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7eef7',GradientType=0 ); /* IE6-9 */}
.tournaments .wrapper {padding: 20px; height: 210px;}
.tournaments .wrapper ul {padding: 0; margin: 0; list-style: none;}
.tournaments .wrapper ul li {margin: 0 0 5px 0;}
.tournaments .status {background: url(../img/time-icon.png) no-repeat 0 -32px; padding: 0 0 0 20px; position: absolute; bottom: 0px; left: 20px;}
.tournaments .status.active {background-position: 0 2px; color: #66B032;}
.tournaments h4 {text-transform: none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 290px; vertical-align: top;}

.playoff table {border-spacing: 3px !important; border-collapse: inherit !important;}
.playoff tr th {text-align: center; font: bold 20px PT Sans Narrow; color: #000;}
.playoff tr td {width: 182px; border: 1px solid #E6E6E6; vertical-align: middle; font: bold 15px PT Sans Narrow; text-align: center; padding: 10px 0;}

.popup .modal-dialog {width: 400px;}
.popup .modal-body {padding: 30px 40px;}
.popup .close {position: absolute; width: 41px; height: 41px; background: url(../img/close.png) no-repeat; top: 0; right: -50px; opacity: 1;}
.popup .close:hover {background-position: 0 -69px;}
.popup input[type=text] {width: 308px; height: 34px; border: 1px solid #D4D4D4; border-radius: 5px; padding: 0 5px;}
.popup input[type=text]:focus {box-shadow: 0 0 5px 0 rgba(0,138,206,0.5); border-color: #09AFFF;}
.popup .er {color: #ff0000; font: italic 14px PT Sans; display: none;}

.page404 {width: 840px; text-align: center; margin: 0 auto; padding: 50px 0;}
.page404 p {font-size: 16px;}



