.advantages {background: #e8ecee; @include border-radius(10px); margin-top: 50px; margin-bottom: 60px; padding: 50px 63px; font-size: 0; border: 1px solid rgb(223, 224, 227);
	h2 {text-align: center;}
	.item {width: 33.3%; display: inline-block; vertical-align: top; padding-left: 35px; padding-right: 35px; vertical-align: top; margin-top: 30px;
		.title {color: #000; font-size: 20px; font-family: ProximaNova-Semibold; font-weight: bold; line-height: 24px; margin-bottom: 10px;}
		p {font-size: 16px; line-height: 24px; margin-bottom: 0;}
		img {height: 72px; margin-bottom: 25px;}
	}
}

@media (max-width: 1169px) {
	.advantages {padding-left: 0; padding-right: 0;}
}

@media (max-width: 979px) {
	.advantages {
		.item {width: 49.9%;}
	}
}

@media (max-width: 767px) {
	.advantages {margin-top: 0; margin-left: -15px; margin-right: -15px; @include border-radius(0); padding: 30px 0; margin-bottom: 40px;
		h2 {margin-bottom: 0;}
		.item {width: 100%; padding-left: 15px; padding-right: 15px; text-align: center;
			img {margin-bottom: 10px;}
		}
	}
}