.form-tour-selection {padding: 0; 
	.border {border-bottom: 1px solid #dcdcdc;}
	.wrapper {padding: 20px;}
	.name, .param {font-size: 15px; font-family: ProximaNova-Regular;}
	.name {display: block; margin-bottom: 15px;}
	.seasons {padding: 35px 20px 20px 20px; font-size: 0;
		.item {display: inline-block; vertical-align: top; width: 25%; text-align: center; padding: 10px 0; @include border-radius(3px); border-width: 2px; border-style: solid; border-color: transparent; cursor: pointer;
			span {font-size: 14px; color: #000; margin-top: 10px; display: block; font-family: ProximaNova-Regular;}
		}
		.active.i1 {border-color: #FFCC00;}
		.active.i2 {border-color: #EF7713;}
		.active.i3 {border-color: #146AAD;}
		.active.i4 {border-color: #83AD01;}
	}
	.range {padding: 20px 20px 30px 20px; position: relative;
		.param {position: absolute; top: 20px; right: 20px;}
		.slider {height: 15px; width: 90%; margin-left: 5%;
			.slider-tick.round {@include border-radius(0); width: 1px; height: 15px; background: #cccccc; margin-left: 0; z-index: 1;}
			.slider-tick.round.in-selection {background: #55a745;}
			.slider-track {height: 4px; margin-top: -2px; background: #cccccc; z-index: 2; width: 110%; margin-left: -5%;}
			.slider-handle {width: 24px; height: 24px; background: #fff; box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5); top: -4px; z-index: 3; cursor: pointer;}
			.slider-selection {background: #55a745;}
			.slider-tick-label-container {display: none;}
		}
	}
	.date {
		input[type=text] {width: 45%; border: 1px solid #e3e2e2; background: #f7f4f4; height: 40px; vertical-align: top; color: #000; font-size: 16px; text-align: center; font-family: ProximaNova-Regular;}
		input[type=text]::-webkit-input-placeholder {color: #000; opacity: 1;}
		input[type=text]:-moz-placeholder {color: #000; opacity: 1;}
		input[type=text]::-moz-placeholder {color: #000; opacity: 1;}
		input[type=text]:-ms-input-placeholder {color: #000; opacity: 1;}
		.dev {width: 10%; display: inline-block; font-size: 30px; vertical-align: top; height: 40px; line-height: 40px; text-align: center;}
		.wrap-date {font-size: 0;}
	}
	.btn {width: 150px; display: block; margin: 0 auto; color: #5f6b7d; font-size: 15px; font-family: ProximaNova-Regular;
		svg {fill: #f8a405; vertical-align: middle; width: 20px; height: 20px; margin-right: 5px;}
		&:hover {color: #fff;
			svg {fill: #fff;}
		}
	}
	.custom {width: 100%; display: block;
		.jq-selectbox__select {box-shadow: none; height: 40px; @include border-radius(0); background: #f7f4f4;}
		.jq-selectbox__select-text {height: 38px; line-height: 38px;}
		.jq-selectbox__trigger {border-left: none;}
		.jq-selectbox__trigger {background-image: url(../img/icon-arrow-down.svg); background-size: 14px 8px; background-repeat: no-repeat; background-position: center center;}
		.jq-selectbox__trigger-arrow {display: none;}
		.jq-selectbox__dropdown {@include border-radius(0); top: 39px;
			ul {
				li:before {display: none;}
			}
		}
	}
	.jq-selectbox.focused .jq-selectbox__select {border-color: #ccc;}
	.jq-selectbox.dropdown  .jq-selectbox__trigger { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);}
}
