.menu {margin-top: 50px; margin-bottom: 50px;
	.item {text-align: center;
		&:hover {
			p {color: $linkcolor-hover;}
		}
	}
	.icon {background-image: url("../img/sprite-icon-menu.svg"); background-repeat: no-repeat; background-size: 576px 100px; display: inline-block; height: 98px; width: 95px;}
	.item:nth-child(1) .icon {background-position: 0 0;}
	.item:nth-child(2) .icon {background-position: -97px 0;}
	.item:nth-child(3) .icon {background-position: -193px 0;}
	.item:nth-child(4) .icon {background-position: -480px 0;}
	.item:nth-child(5) .icon {background-position: -289px 0;}
	.item:nth-child(6) .icon {background-position: -384px 0;}
	p {font-size: 18px; font-family: ProximaNova-Semibold; line-height: 22px; margin-top: 10px; margin-bottom: 0;}
}

@media (min-width: 980px) and (max-width: 1169px) {
	.menu {margin-top: 40px;}
}

@media (max-width: 979px) {
	.menu {margin-top: 0;
		.item {margin-top: 30px;}
	}
}

@media (max-width: 767px) {
	.menu {
		p {font-size: 16px; line-height: 20px;}
	}
}