@font-face {
    font-family: "pfsans-light";
    src: url("/fonts/pfagorasanspro-light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "pfslab-light";
    src: url("/fonts/pfagoraslabpro-light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
	font-family: "pfsans-regular";
	src: url("/fonts/pfagorasanspro-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "pfsans-medium";
	src: url("/fonts/pfagorasanspro-medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "pfsans-italic";
	src: url("/fonts/pfagorasanspro-italic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}