.compact-rounded-tabs {
    display: inline-flex;
    border: 1px solid #DDD;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.compact-rounded-tabs__item {
    color: #323A45;
    font-weight: 700;
    padding: 8px 30px 7px 30px;
    box-sizing: border-box;
    font-size: 0.92rem;
    transition: backgorund 0.15s ease-out, color 0.15s ease-out;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

.compact-rounded-tabs__item.active {
    background: #0083D4;
    color: #fff;
}