
.icon-icon-car:before { content: '\e800'; } /* '' */
.icon-icon-chiken:before { content: '\e801'; } /* '' */
.icon-icon-clock:before { content: '\e802'; } /* '' */
.icon-icon-close:before { content: '\e803'; } /* '' */
.icon-icon-comment:before { content: '\e804'; } /* '' */
.icon-icon-corner:before { content: '\e805'; } /* '' */
.icon-icon-email:before { content: '\e806'; } /* '' */
.icon-icon-exit:before { content: '\e807'; } /* '' */
.icon-icon-favorite:before { content: '\e808'; } /* '' */
.icon-icon-fire:before { content: '\e809'; } /* '' */
.icon-icon-fish:before { content: '\e80a'; } /* '' */
.icon-icon-guru:before { content: '\e80b'; } /* '' */
.icon-icon-menu:before { content: '\e80c'; } /* '' */
.icon-icon-cook:before { content: '\e80d'; } /* '' */
.icon-icon-param:before { content: '\e80e'; } /* '' */
.icon-icon-tableware:before { content: '\e80f'; } /* '' */
.icon-icon-shopping-cart:before { content: '\e810'; } /* '' */
.icon-icon-search:before { content: '\e811'; } /* '' */
.icon-icon-star:before { content: '\e812'; } /* '' */
.icon-icon-user:before { content: '\e813'; } /* '' */
.icon-icon-fb:before { content: '\e814'; } /* '' */
.icon-icon-ok:before { content: '\e815'; } /* '' */
.icon-icon-tw:before { content: '\e816'; } /* '' */
.icon-icon-vk:before { content: '\e817'; } /* '' */
.icon-icon-shopping-cart-inner:before { content: '\e818'; } /* '' */
.icon-icon-search-inner:before { content: '\e819'; } /* '' */
.icon-icon-beginner:before { content: '\e81a'; } /* '' */
.icon-icon-fan:before { content: '\e81b'; } /* '' */
.icon-icon-guru-inner:before { content: '\e81c'; } /* '' */
.icon-icon-master:before { content: '\e81d'; } /* '' */
.icon-icon-skillful:before { content: '\e81e'; } /* '' */
.icon-icon-craftsman:before { content: '\e81f'; } /* '' */
.icon-icon-pencil:before { content: '\e820'; } /* '' */
.icon-icon-plus-inner:before { content: '\e821'; } /* '' */
.icon-icon-view:before { content: '\e822'; } /* '' */