@font-face {
    font-family: 'Stolzl';
    src: url(../fonts/Stolzl-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Stolzl;
    src: url(../fonts/Stolzl-Book.otf);
    font-weight: normal;
}

@font-face {
    font-family: Stolzl;
    src: url(../fonts/Stolzl-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Stolzl;
    src: url(../fonts/Stolzl-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: Stolzl;
    src: url(../fonts/Stolzl-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: Stolzl;
    src: url(../fonts/Stolzl-Thin.otf);
    font-weight: 100;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src:
       url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

/* Rub */
@font-face {
  font-family: 'Rub';
  src: url('../fonts/RUBSN.otf');
}

/* Rub */
@font-face {
  font-family: 'Rub1';
  src: url('../fonts/RUBSR.otf');
}

/* Rub */
@font-face {
  font-family: 'rub2';
  src: url('../fonts/RUBDC.otf');
}

.rub {font-family: 'Rub';}