@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: normal;
  vertical-align: baseline;
  outline: none;}

html {height: 100%; -webkit-font-smoothing: antialiased;}

body {line-height:1; font-family: PT Sans, sans-serif; height: 100%; background: #F4F4F4;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

strong {font-weight: bold;} 

input {outline: none;}

table {border-collapse: collapse; border-spacing:0; width: 100%;}
table tr td, table tr th {padding:5px; text-align:left;}
table tr td {line-height: 1.2;}
img {border:0; outline:none; display:inline-block;}

a {text-decoration:underline; color: #4441A5; outline: none !important;}
a:hover {color: #f00000; outline: none;}
a:active {outline: none;}

a.link-js {text-decoration: none; border-bottom: 1px dotted #4441A5; display: inline-block; line-height: 1;}
a.link-js:hover {border-color: #f00000;}

a.js {transition: color 0.2s ease-in-out 0s;}
a.js:hover {transition: color 0.2s ease-in-out 0s;}

a.js-bg {transition: background 0.2s ease-in-out 0s;}
a.js-bg:hover {transition: background 0.2s ease-in-out 0s;}

h1, h2, h3, h4, h5, h6 {font-family: PT Serif, sans-serif; font-weight: bold; font-style: normal; line-height:1.2; color:#000;}

h1{font-size:36px; margin:0 0 10px 0;}
h2{font-size:36px; margin:0 0 10px 0;}
h3{font-size:24px; margin:0 0 10px 0;}
h4{font-size:20px; margin:0 0 10px 0;}
h5{font-size:18px; margin:0 0 10px 0;}
h6{font-size:16px; margin:0 0 10px 0;}

p {font:normal 16px/1.2 PT Serif; margin:0 0 14px 0; color: #505050;}

ul {padding: 5px 20px; list-style: disc; margin:0 0 5px 0;}
ol {padding: 0 5px 10px 30px; margin:0 0 5px 0; list-style:decimal;}
ul li, ol li {font: normal 16px/1.2 PT Serif; margin:0 0 5px 0; color: #000;}

/* text */
.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.text-normal {font-weight:normal;}
.text-light {font-weight:300;}
.text-bold {font-weight:bold;}
.font-big {font-size: 20px;}
.font-medium {font-size: 18px;}
.font-normal {font-size: 14px;}
.font-small {font-size: 13px;}
.no-transform {text-transform: none;}
.text-transform {text-transform: uppercase;}


.auto-center {margin: 0 auto;}

.black {color: #000;}
.grey {color:#666;}
.dark-grey {color:#505050;}
.bg-grey {background: #eee;}
.bg-dark-grey {background: #343434;}
.bg-white {background: #FFF;}
.bg-blue {background: #E6F7FE;}
.bg-dark-blue {background: #333F79;}
.white {color: #fff;}
.green {color: #349200;}

.pos-rel {position: relative;}

.clear {clear: both; width: 100%; height:0; margin:0; padding:0; float:none; *zoom: 1;}
.centered {width:1000px; margin: 0 auto; position: relative;} 
.oh {overflow:hidden;}
.fl-l {float:left;}
.fl-r {float:right;}

/* margin & paddings */
.m0 {margin: 0;}

.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}

.mb0 {margin-bottom:0px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}

.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml30 {margin-left: 30px;}
.ml40 {margin-left: 40px;}
.ml50 {margin-left: 50px;}

.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr30 {margin-right: 30px;}
.mr40 {margin-right: 40px;}
.mr50 {margin-right: 50px;}

.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pt30 {padding-top:30px;}
.pt40 {padding-top:40px;}
.pt50 {padding-top:50px;}
.pt100 {padding-top:100px;}

.pb10 {padding-bottom:10px;}
.pb20 {padding-bottom:20px;}
.pb30 {padding-bottom:30px;}
.pb40 {padding-bottom:40px;}
.pb50 {padding-bottom:50px;}

.pl10 {padding-left:10px;}
.pl20 {padding-left:20px;}
.pl30 {padding-left:30px;}
.pl40 {padding-left:40px;}
.pl50 {padding-left:50px;}

.pr10 {padding-right:10px;}
.pr18 {padding-right:18px;}
.pr20 {padding-right:20px;}
.pr30 {padding-right:30px;}
.pr40 {padding-right:40px;}
.pr50 {padding-right:50px;}

.p5 {padding:10px;}
.p10 {padding:10px;}
.p15 {padding:15px;}
.p20 {padding:20px;}
.p30 {padding:30px;}

/* layout & columns*/

.layout.w540 .l-col {width:540px; float:left;}
.layout.w540 .r-col {width:380px; float:right;}

.layout.w220 .l-col {width:220px; float:left;}
.layout.w220 .r-col {width:700px; float:right;}

.layout.w220.inner .l-col {width:220px; float:left;}
.layout.w220.inner .r-col {width:690px; float:right;}

.layout.w750 .l-col {width:748px; float:left;}
.layout.w750 .r-col {width:250px; float:right;}

.layout.w740 .l-col {width:740px; float:left;}
.layout.w740 .r-col {width:240px; float:right;}

.layout.w540 .l-col {width:380px; float:left;}
.layout.w540 .r-col {width:540px; float:right;}

.layout.w680 .l-col {width:220px; float:left;}
.layout.w680 .r-col {width:680px; float:right;}

.layout.w700 .l-col {width:700px; float:left;}
.layout.w700 .r-col {width:250px; float:right;}

.layout.w220i .l-col {width:700px; float:left;}
.layout.w220i .r-col {width:220px; float:right;}

.layout.w300 .l-col {width:300px; float:left;}
.layout.w300 .r-col {width:620px; float:right;}

.layout.w300i .l-col {width:620px; float:left;}
.layout.w300i .r-col {width:300px; float:right;}

.layout.w600 .l-col {width:600px; float:left;}
.layout.w600 .r-col {width:300px; float:right;}

/* Колонки равной ширины */

.cols > dl {margin:0 0 0 -20px;}
.cols > dl > dt {float:left; margin:0 0 20px 20px;}
.cols2 > dl > dt {width:460px;} 
.cols3 > dl > dt {width:300px;}
.cols4 > dl > dt {width:220px;}
.cols5 > dl > dt {width:172px;}
.cols6 > dl > dt {width:140px;}

/* Ширина в процентах */

.w20 {width:19.99%;}
.w25 {width:24.99%;}
.w30 {width:29.99%;}
.w33 {width:33.33%;}
.w40 {width:39.99%;}
.w50 {width:49.99%;}
.w60 {width:59.99%;}
.w70 {width:69.99%;}
.w75 {width:74.99%;}
.w80 {width:79.99%;}
.w100 {width:100%;}

/* текст по центру с бордером по краям */

.bordered {position: relative; overflow: hidden; text-align: center;}
.bordered > span {display: inline-block; margin: 0 .4em;}
.bordered > span:before,
.bordered > span:after {content: ''; position: absolute; width: 100%; border-top: 1px solid #ddd; margin-top: .7em;}
.bordered > span:before {margin-left: -100%;}
.bordered > span:after {margin-left: 7px;}

.bordered2 {overflow: hidden; position: relative; margin: 0 0 10px 0; text-align: center;}
.bordered2:before {content: ''; position: relative; display: inline-block; vertical-align: middle; width: 50%; height: 5px; top: 2px; border-bottom: 1px solid #000; border-top: 1px solid #000;}
.bordered2:after {content: ''; position: relative; display: inline-block; vertical-align: middle; width: 50%; height: 5px; top: 2px; border-bottom: 1px solid #000; border-top: 1px solid #000;}
.bordered2:before {left: -.5em; margin-left: -50%;}
.bordered2:after {left: .5em;margin-right: -50%;}
.bordered2 span {display: inline-block; vertical-align: middle; white-space: normal; margin: 0 .2em; max-width: 70%; font: bold 42px PT Serif;}

.bordered2.black:before {border-color: #000;}
.bordered2.black:after {border-color: #000;}
.bordered2.black span {border-color: #000;}

.bordered2.small span {font-size: 30px;}

.inbordered {position: relative; overflow: hidden; font: bold 24px Arial; color: #000;}
.inbordered:after {content: ''; position: absolute;  width: 100%; border-top: 1px solid #DDD; margin-top: .8em; margin-left: .4em;}

.br5 {border-radius: 5px;}
.br10 {border-radius: 10px;}
.br20 {border-radius: 10px;}
.b-dotted {border-bottom: 1px dotted #ccc;}
.t-border {border-top: 1px solid #ddd;}
.b-border {border-bottom: 1px solid #ddd;}
.b-border.grey {border-bottom: 1px solid #ddd;}
.border-none {border: none;}
.border {border: 1px solid #ccc;}


/*-----------------------------------------------------------------------------------------------------------------*/

#container {position: relative;  min-height: 100%; height: auto !important; height: 100%; padding: 0; margin: 0 auto -190px auto;}
#content {position: relative; width: 1000px; margin: 0 auto;} 
.footer-push {height: 190px; margin: 0; padding: 0;}
#footer {width: 100%; margin: 0 auto; height: 190px;}

/**/

#block1 {width: 100%; height: 80px;}

#header {height: 115px; padding-bottom: 15px; background: #fff;}
#header .centered {height: 115px;}
#header .logo {position: absolute; top: 20px; left: 0;}
#header .logo a {display: block; text-decoration: none; font: normal 16px PT Sans; color: #353772;}
#header .title {position: absolute; left: 230px; top: 22px; width: 165px; font: normal 18px/1.1 PT Sans; color: #1F1F1F;}
#header .date {position: absolute; bottom: 0px; left: 230px; font: normal 13px PT Sans; color: #999;}
#header .warning {position: absolute; top: 15px; right: 0; font: normal 14px PT Sans; color: #666;}
#header .soc {position: absolute; right: 0; top: 45px;}
#header .soc a {display: inline-block; zoom: 1; *display: inline; width: 25px; height: 25px; background: url(../img/soc.png) no-repeat;}
#header .soc a.fb {background-position: 0 0;}
#header .soc a.vk {background-position: -35px 0; margin: 0 5px;}
#header .soc a.ok {background-position: -70px 0;}
#header .navi {width: 140px; height: 28px; background: #58B26E; border-radius: 5px; position: absolute; right: 0; bottom: 0; text-align: center;}
#header .navi:hover {background: #469B5B}
#header .navi a {color: #fff; font: bold 16px/26px PT Sans; padding-left: 30px; background: url(../img/icon-menu.png) no-repeat 15px center; text-decoration: none; display: inline-block; zoom: 1; *display: inline;  width: 110px; height: 28px;}
#header .search {position: absolute; right: 160px; bottom: 0;}
#header .search .wrapper {position: relative; width: 308px; height: 28px;}
#header .search input[type=text] {width: 268px; height: 26px; border: 1px solid #DDD; border-radius: 5px; background: #EEE; padding: 0 35px 0 5px; font: normal 14px PT Sans; color: #666;}
#header .search input[type=text]:focus {background: #fff;}
#header .search input[type=submit] {width: 16px; height: 16px; background: url(../img/icon-search.png) no-repeat; position: absolute; top: 50%; margin: -8px 0 0 0; right: 10px; border: none;}
#header .weather {font: normal 14px PT Sans; color: #202020; padding-left: 25px; background: url(../img/icon-weather.png) no-repeat left center; position: absolute; right: 160px; top: 50px;}
#header .course {overflow: hidden; position: absolute; left: 530px; top: 50px;}
#header .course p {margin-bottom: 0; float: left; margin-right: 25px; padding-left: 30px; background: url(../img/icon-course.png) no-repeat; height: 22px; font: normal 14px PT Sans; color: #212121;}
#header .course .dollar {background-position: 0 0;}
#header .course .euro {background-position: 0 -42px;}
#header .course span {display: inline-block; zoom: 1; *display: inline; background: url(../img/updown.png) no-repeat; width: 5px; height: 10px;}
#header .course .up {background-position: 0 0;}
#header .course .down {background-position: 0 -30px;}

.navigation {height: 36px; background: #3E4880; margin-bottom: 20px;}
.navigation dl {overflow: hidden; margin: 0 0 0 -12px;}
.navigation dl dt {float: left; height: 36px; border-right: 1px solid #7E84A5;}
.navigation dl dt.last {border: none;}
.navigation dl dt a {font: normal 13px/36px PT Sans; color: #fff; text-transform: uppercase; display: block; text-decoration: none; padding: 0 12px;}
.navigation dl dt a:hover {background: #6571B4;}
.navigation dl dt a.active {background: #6571B4;}

/**/

.item-news .title a {line-height: 1.2; text-decoration: none;}
.item-news .date {font: normal 12px/1.2 PT Sans; color: #666; display: inline-block; zoom: 1; *display: inline;}
.visit {font: normal 12px/1.2 PT Sans; color: #666; padding-left: 15px; background: url(../img/icon-people.png) no-repeat left center; display: inline-block; zoom: 1; *display: inline;}
.item-news .img {position: relative;}
.item-news .img img {display: block;}
.item-news .teaser p {font: normal 16px PT Sans; color: #202020; margin-bottom: 10px;}
.item-news .name {font: bold 12px PT Sans; color: #202020;}

/**/

.g-layout .left {width: 380px; float: left;}
.g-layout .right {width: 300px; float: right;}

/**/

.news-line {position: relative;}
.title-news-line {height: 38px; border-bottom: 1px solid #ccc; margin-bottom: 0; line-height: 38px; padding-left: 10px; background: #EEEEEE; position: relative;}
.title-news-line a {display: block; width: 16px; height: 16px; background: url(/img/news-line-link.png) no-repeat; position: absolute; top: 12px; right: 12px;}
.news-line .head {margin-bottom: 5px;}
.news-line .head span {display: inline-block; zoom: 1; *display: inline; margin-right: 5px; color: #212121; font-size: 12px; font-family: PT Sans;}
.news-line .head .new {background: #3E4880; font-style: italic; color: #fff; padding: 2px 5px;}
.news-line p {margin-bottom: 0;}
.news-line dl dt {padding: 10px 20px 10px 10px;}
.news-line dl dt a {display: block; text-decoration: none;}
.news-line dl dt:hover {background: #58B472;}
.news-line dl dt.active {background: #58B472;}
.news-line dl dt:hover .head span {color: #fff;}
.news-line dl dt.active .head span {color: #fff;}
.news-line dl dt:hover p {color: #fff;}
.news-line dl dt.active p {color: #fff;}
.news-line dl dt:hover .head .new {background: #58B472; color: #fff;}
.news-line dl dt.active .head .new {background: #58B472; color: #fff;}
.news-line dl dd span {font: italic 12px PT Sans; color: #666666;}
.slimScrollBar {border-radius: 0 !important;}
.slimScrollRail {border-radius: 0 !important;}

/**/

.filter {margin-bottom: 20px; margin-top: 20px;}
.filter dl dt {float: left; margin-right: 20px; position: relative; padding-bottom: 10px;}
.filter dl dt a {font: normal 16px PT Sans; text-decoration: none;}
.filter dl dt.archive > a {background: url(../img/icon-archive.png) no-repeat left center; padding-left: 35px; text-decoration: none; color: #FF504C;}
.filter dl dt.archive > a span {border-bottom: 1px dotted #FF504C;}
.filter dl dt.dropdown > a {padding-right: 20px; background: url(../img/conus.png) no-repeat right center;}
.filter dl dt.dropdown:hover > a {color: #FF504C;}
.filter dl dt.dropdown:hover .menu {display: block;}
.filter dl dt.dropdown .menu {position: absolute; top: 30px; left: 0; width: 360px; background: #363773; display: none; z-index: 200;}
.filter dl dt.dropdown .menu .wrapper {position: relative; padding: 20px;}
.filter dl dt.dropdown .menu .wrapper .conus-top {width: 16px; height: 11px; position: absolute; left: 20px; top: -7px; background: url(../img/conus-top.png) no-repeat;}
.filter dl dt.dropdown .menu ul {list-style: none; padding: 0; margin: 0 0 0 -20px; overflow: hidden;}
.filter dl dt.dropdown .menu ul li {float: left; width: 150px; margin: 0 0 5px 20px;}
.filter dl dt.dropdown .menu a {font: normal 16px PT Serif; color: #fff; text-decoration: none;}
.filter dl dt.dropdown .menu a:hover {text-decoration: underline;}

/**/

.category-news {position: relative;}
.category-news .border {border-top: none; border-left: none;}
.category-news .border-left {border-left: 1px solid #ccc; left: 748px; top: 0; position: absolute; width: 1px; height: 100%;}

.category {position: relative;}
.category .item-news .img {position: relative;}
.category .item-news .img .label {position: absolute; left: 10px; bottom: 10px; color: #fff; font: bold 16px/28px PT Serif; height: 30px; padding: 0 10px; border-radius: 0; border-left: 5px solid #fff;}
.category .color {position: absolute; left: 0; top: 0px; width: 5px; height: 100%; z-index: 100;}
.category.c1 .color {background: #17719E;}
.category.c1 .label {background: #17719E;}
.category.c2 .label {background: #02A9FA;}
.category.c3 .label {background: #F64466;}
.category.c4 .label {background: #F0723B;}
.category.c2 .color {background: #02A9FA;}
.category.c3 .color {background: #F64466;}
.category.c4 .color {background: #F0723B;}
.category.c1 h3 {color: #15729F;}
.category.c2 h3 {color: #02A9FA;}
.category.c3 h3 {color: #F64466;}
.category.c4 h3 {color: #F0723B;}

.category .border-right {position: absolute; width: 1px; height: 100%; background: #ccc; top: 58px; left: 498px;}
.category .border-bottom {position: absolute; width: 100%; height: 1px; background: #ccc; bottom: 0; left: 0; z-index: 1;}

.b-layout .left {width: 460px;}
.b-layout .right {width: 220px;}

.category-news .head-green {background: #58B26E; padding:10px;}
.category-news .head-green h4 {background: url(../img/head-green-icon.png) no-repeat; padding-left: 30px; color: #fff; margin-bottom: 0;}
.category-news .head-green.hg1 h4 {background-position: -220px 0;}
.category-news .head-green.hg2 h4 {background-position: -177px -44px;}
.category-news .head-green.hg3 h4 {background-position: -133px -70px;}
.category-news .head-green.hg4 h4 {background-position: -88px -128px;}
.category-news .head-green.hg5 h4 {background-position: -44px -169px;}
.category-news .head-green.hg6 h4 {background-position: 0px -212px;}

.category-head {color: #fff; margin-bottom: 0; height: 40px; line-height: 40px; padding-left: 40px; background: url(../img/category-head.png) no-repeat #363E79;}
.category-head.ch1 {background-position: -200px 0;}
.category-head.ch2 {background-position: -150px -60px;}
.category-head.ch3 {background-position: -50px -180px;}
.category-head.ch4 {background-position: 0px -240px;}

.announce {border-bottom: 1px solid #ccc; margin-bottom: 30px;}
.announce .title {font: normal 13px/1.1 PT Sans;}
.announce .img {position: relative;}
.announce .img img {display: block;}
.announce .text {position: absolute; bottom: 0; left: 0; width: 100%;
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */}
.announce .text p {color: #fff; margin-bottom: 0;}

.menu-fixed {position: fixed; top: 0; left: 0; background: #fff; border-top: 4px solid #58B069; width: 100%; height: 100%; z-index: 1000; display: none;}
.menu-fixed .centered {padding-top: 150px;}
.menu-fixed h2 {font: normal 30px PT Sans;}
.menu-fixed a {font: normal 18px PT Sans; text-decoration: none;}
.menu-fixed dl {margin-bottom: 30px;}
.menu-fixed dl dt {margin-bottom: 10px;}
.menu-fixed .closed {width: 32px; height: 32px; background: url(../img/menu-fixed-close.png) no-repeat; position: absolute; right: 0; top: 80px; display: block;}
.menu-fixed .closed:hover {background-position: 0 -52px;}
.menu-fixed .cols {max-height: 600px; overflow: auto;}

#footer {border-top: 1px solid #ccc;}
#footer .top {padding: 10px 0; border-bottom: 1px solid #ccc;}
#footer .bottom {padding: 5px 0; border-top: 1px solid #ccc;}
#footer .bottom p {font-size: 12px; color: #000;}
#footer .menu-link a {background: url(../img/icon-menu-inner.png) no-repeat left center; padding-left: 35px; color: #666;}
#footer .menu-link a:hover {color: #f00000;}
#footer .center {padding: 20px 0;}
#footer .center .left {width: 470px; margin-right: 30px;}
#footer .center .left h6 {font-family: PT Sans;}
#footer .center .left p {font: normal 12px PT Sans; margin-bottom: 0;}
#footer .center .right {width: 175px;}
#footer .center .right p {font: normal 12px PT Sans; margin-bottom: 5px;}
#footer .center .gp a {font: normal 12px PT Sans; display: block; text-align: center; color: #1F1F1F;}
#footer .center .gp img {margin-top: 5px;}

/**/

.paginator a {display: inline-block; zoom: 1; *display: inline; width: 32px; height: 32px; border-radius: 5px; text-decoration: none; text-align: center; font: normal 18px/32px PT Serif;}
.paginator .fl-l a {color: #202020; border: 1px solid #ddd; margin-right: 3px;}
.paginator .fl-l a:hover {border-color: #363E79;}
.paginator .fl-l a.active {border-color: #363E79;}
.paginator .fl-r a {background: #38427D; color: #fff; margin-left: 3px; line-height: 28px;}
.paginator .fl-r a:hover {background: #5362BD;}
.paginator .fl-r a:hover {background: #5362BD;}

.category-head.inner {background-color: #fff; color: #212121;}


/**/

.hashtag span {display: inline-block; zoom: 1; *display: inline; padding: 3px 5px; font-size: 14px; margin-right: 5px;}
.hashtag .blue {background: #1473A2; color: #fff;}
.hashtag .yellow {background: #FFC926; color: #212121;}

.n-layout .left {width: 140px; float: left;}
.n-layout .right {width: 540px; float: right;}

.black-text p {color: #000;}

.news-gallery a {display: inline-block; zoom: 1; *display: inline; vertical-align: top; margin: 0 3px 5px 0;}
.news-gallery a img {display: block; max-height: 100px;}

.img-block img {display: block;}

.news-comment dl {overflow: hidden; margin: 0 0 0 -10px;§}
.news-comment dl dt {float: left; margin: 0 0 0 10px;}
.news-comment .col1 {width: 330px;}
.news-comment .col2 {width: 200px;}
.news-comment .col3 {width: 140px;}
.news-comment textarea {width: 318px; height: 106px; border: 1px solid #ccc; outline: none; padding: 5px; resize: none; font: normal 14px Open Sans; color: #666;}
.news-comment input[type=text] {width: 188px; border: 1px solid #ccc; height: 30px; outline: none; padding: 0 5px; font: normal 14px/30px Open Sans; color: #666;}
.news-comment input[type=submit] {width: 200px; height: 34px; font: normal 14px PT Sans; color: #1F1F1F; border-radius: 5px; border: 1px solid #363773; background: #eee;}

.bg-body {background: #f4f4f4;}

.comment-list p {color: #000; margin-bottom: 0;}
.comment-list dl dt {margin-bottom: 10px;}
.comment-list .name {font-size: 12px;}
.comment-list .question .img {width: 50px; height: 50px; overflow: hidden;}
.comment-list .question {margin-bottom: 10px;}
.comment-list .answer .img {width: 50px; height: 30px; overflow: hidden; text-align: right; background: url(../img/answer-tic.png) no-repeat left top;}
.comment-list .answer .img img {max-width: 30px;}

.news-inner dl dt {overflow: hidden; margin-bottom: 10px;}
.news-inner .date {float: left; width: 140px;}
.news-inner .text {float: right; width: 540px;}

/**/

.category.c1 .color.proj {background: #363773;}

.projects h3 {color: #000 !important;}
.projects .last {border-bottom: none;}

/**/

.blockquote {position: relative; padding: 20px 0; text-align: center; margin-bottom: 30px;}
.blockquote .top {background: url(/img/blockquote.jpg) no-repeat 0 0; width: 620px; height: 14px; margin-bottom: 10px;}
.blockquote .bottom {background: url(/img/blockquote.jpg) no-repeat 0 -34px; width: 620px; height: 14px;}
.blockquote .big {font: normal 64px/1 PT Sans; margin-bottom: 20px;}
.blockquote p {color: #666;}

/**/

.popup .close {position: absolute; width: 30px; height: 30px; background: url(/img/close-popup.png) no-repeat; top: 0; right: -30px; display: block; opacity: 1;}
.popup .close:hover {background-position: 0 -50px;}
.popup .modal-dialog {width: 953px; *margin: 0 auto;}
.popup .modal-body {padding: 0;}
.popup .modal-content {background: none; box-shadow: none; border-radius: 0; border: none;}
.popup .l-col {border-right: 3px solid #58B26E;}

.article .date {font-size: 14px; color: #666;}
.article .visit {font-size: 14px;}























