$black: #222;
$grey: #898989;
$grey-dark: #5B5B5B;
$grey-light: #F9F9F9;
$grey-medium-light: #E0E0E0;
$orange: #EF7F1A;
$white: #fff;

@media (max-width: 1023px) {
    body {
        &.overflow {
            overflow: hidden;
        }
    }

    h1 {
        font-size: 40px;
        line-height: normal;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 25px;
    }

    h3 {
        font-size: 22px;
        line-height: normal;
        margin-bottom: 25px;
    }

    h4 {
        font-size: 18px;
        line-height: normal;
        margin-bottom: 25px;
    }

    h5 {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 25px;
    }

    hr {
        margin: 20px;

        &.hr-lg {
            margin: 40px 20px;
        }

        &.hr-lg-2 {
            margin: 50px 20px;
        }
    }

    .subtitle {
        font-size: 22px;
        line-height: normal;
        margin-bottom: 25px;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 300;
        background: $white;
        font-size: 28px;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);

        .hamburger {
            cursor: pointer;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            width: 56px;
            position: relative;
            margin-left: 0;

            &.active {
                span {
                    &:before {
                        content: '\ea11';
                    }
                }
            }
        }

        .menu-main {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;

            &__search {
                margin-right: 0;
            }

            ul {
                position: absolute;
                background: #fff;
                left: -100%;
                top: 100%;
                width: 100%;
                height: calc(100vh - 88px);
                display: block;
                padding: 20px;
                opacity: 0;
                transform: scale(0, 1);
                z-index: 200;
                transition: .3s;

                &.active {
                    opacity: 1;
                    left: 0;
                    transform: scale(1, 1);
                }

                li {
                    a {
                        color: #222 !important;
                    }
                }
            }
        }


        &.header-transparent {
            margin-bottom: 0;
            position: fixed;
            background: $white;
            color: $black;

            .logo {
                a {
                    display: block;
                    height: 100%;
                    width: 20.83333333333333vw;
                    background: url(../img/svg/logo.svg) no-repeat center center;
                    background-size: contain;
                }

                img {
                    display: none;
                }
            }
        }
    }

    .menu-main {

        &__search {
            color: $black !important;
        }
    }

    .page-title {
        margin: 40px 0;
    }

    .search-modal {
        position: fixed;


        &.modal-dark {
            background: #fff;

            input.search-input::-webkit-input-placeholder {
                color: $black;
            }

            input.search-input::-moz-placeholder {
                color: $black;
            }

            input.search-input:-moz-placeholder {
                color: $black;
            }

            input.search-input:-ms-input-placeholder {
                color: $black;
            }

            .search-input {
                color: $black;
            }
        }
    }

    .m-devider-global {
        height: 88px;
        display: block;
    }

    .card {
        width: calc(50% - 20px) !important;

        &.card-text {
            width: calc(33.33% - 20px) !important;
        }

        &.ct-cover {
            width: calc(66.66% - 20px) !important;
        }
    }

    .search-form {
        input.search-input::-webkit-input-placeholder {
            font-size: 40px;
        }

        input.search-input::-moz-placeholder {
            font-size: 40px;
        }

        input.search-input:-moz-placeholder {
            font-size: 40px;
        }

        input.search-input:-ms-input-placeholder {
            font-size: 40px;
        }

        .search-input {
            font-size: 40px;
            margin-right: 20px;
        }
    }

    .btn {
        height: 46px;
    }

    .wrap {
        padding: 0 20px;
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 38px;

        a {
            display: block;
            height: 100%;

            img {
                height: 100%;
                width: auto;
            }
        }
    }

    .search-form {
        padding: 52px 0;
    }

    .card-modal {
        &__image {
            width: 40%;
        }
    }

    .pagination {
        ul {
            li {

                a,
                span {
                    height: 40px;
                    padding: 0 20px;
                    font-size: 14px;
                    line-height: normal;
                }
            }
        }
    }

    .block-cover {
        &__right {
            margin-right: -20px;
            flex-shrink: 0;
            width: 50%;
        }

        &.alted {
            padding-top: 60px;
        }
    }

    .bc-text-block {
        height: auto !important;
        padding: 40px 30px !important;

        &__field {
            margin-bottom: 20px;
        }

        .button {
            margin-top: 20px !important;
        }
    }

    .text {
        padding: 70px 0;

        &-big {
            padding: 50px 0;

            p {
                font-size: 22px;
                line-height: normal;
            }
        }

        .text-narrow {
            margin-left: 15.42372881355932%;
        }
    }

    .maps {
        .map-sm {
            margin-right: -20px;
            flex-shrink: 0;
            width: 40%;
        }

        .map-lg {
            margin-top: 20px;
        }
    }

    .stats-item {
        width: 42px;

        &__title {
            font-size: 16px;
            line-height: normal;
        }

        &__count {
            font-size: 34px;
            line-height: normal;
        }

        &__desc {
            font-size: 20px;
            line-height: normal;
        }

        &__years {
            .stats-item__year {
                margin-right: 10px;
            }
        }

        &__year {
            span {
                width: 100%;
            }
        }
    }

    .contacts {
        &__block {
            height: auto;
            padding: 30px 30px 60px;
        }

        &__field {
            font-size: 16px;
            margin-bottom: 15px;

            &.phone {
                font-size: 22px;
            }
        }
    }

    .compose-card {
        &__image {
            width: 20%;
        }

        &__info {
            padding-top: 2vw;
        }

        &__date {
            line-height: normal;
            margin-bottom: 10px;
        }

        &__title {
            font-size: 20px;
            line-height: normal;
            margin-bottom: 10px;
        }

        &__desc {
            margin-top: 10px;
            font-size: 14px;
        }
    }

    .block-cards {
        .grid {
            &.nowrap {
                flex-wrap: wrap;
            }
        }
    }
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    h5 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .subtitle {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 20px;
    }

    .caption {
        font-size: 12px;
        line-height: normal;
        margin-bottom: 15px;
    }

    input.inputbox,
    textarea.messagebox {
        height: 40px;
        font-size: 14px;
    }

    input.inputbox::-webkit-input-placeholder,
    textarea.messagebox::-webkit-input-placeholder {
        font-size: 14px;
        line-height: normal;
    }

    input.inputbox::-moz-placeholder,
    textarea.messagebox::-moz-placeholder {
        font-size: 14px;
        line-height: normal;
    }

    input.inputbox:-moz-placeholder,
    textarea.messagebox:-moz-placeholder {
        font-size: 14px;
        line-height: normal;
    }

    input.inputbox:-ms-input-placeholder,
    textarea.messagebox:-ms-input-placeholder {
        font-size: 14px;
        line-height: normal;
    }

    textarea.messagebox {
        padding: 9px 0 0;
    }

    p {
        margin-bottom: 10px;
        line-height: 1.6;
    }

    .form-block {
        &.form-dark {
            padding: 20px 20px 40px;
        }
    }

    .search-modal {
        top: 56px;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);

        .wrap {
            padding: 0 15px;
        }
    }

    .search-form {
        padding: 20px 0 20px;
        background: #fff !important;

        &:after {
            bottom: 14px;
        }

        input.search-input::-webkit-input-placeholder {
            font-size: 20px;
        }

        input.search-input::-moz-placeholder {
            font-size: 20px;
        }

        input.search-input:-moz-placeholder {
            font-size: 20px;
        }

        input.search-input:-ms-input-placeholder {
            font-size: 20px;
        }

        .search-input {
            font-size: 20px;
            line-height: normal;
        }

        .btn-search {
            font-size: 0 !important;
            padding: 0 !important;
            width: 30px !important;
            height: 30px !important;
            background-position: center center !important;
            background-size: 16px !important;
        }
    }

    .m-devider-global {
        height: 56px;
    }

    .form {
        &__submit {
            margin-top: 30px;
        }

        &__field {
            label {
                font-size: 14px;
                line-height: 26px;
                bottom: 7px;

                &.active {
                    font-size: 12px;
                }
            }
        }

        .caption {
            margin-top: 30px;
        }

        .btn {
            &.btn-orange {
                padding-right: 50px;
            }

            &.btn-grey {
                padding-right: 50px;
            }
        }

    }

    .modal-box {
        padding: 80px 30px;

        &__title {
            font-size: 24px;
            line-height: normal;
            margin-bottom: 20px;
        }
    }

    .btn-icon {
        width: 40px;
        height: 40px;
    }

    .btn {
        height: 40px;
        font-size: 14px;
        line-height: normal;

        span {
            font-size: 16px;
            width: 18px;
            height: 18px;
            margin: 0 0 0 6px;
        }

        &.btn-orange {
            padding: 0 30px;

            span {
                //                margin: 0 -10px 0 6px;
            }
        }

        &.btn-grey {
            padding: 0 30px;

            span {
                //                margin: 0 -10px 0 6px;
            }
        }
    }

    .btns {
        display: block;
    }

    .grid {
        &.nowrap {
            flex-wrap: wrap;
        }

        .grid-item {
            margin-bottom: 25px;
            width: 100% !important;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .menu-nav {
        ul {
            overflow-x: auto;

            li {
                flex-shrink: 0;

                a {
                    padding: 0 20px;
                    font-size: 14px;
                    line-height: normal;
                }
            }
        }
    }

    .menu-block {
        &__dropdown {
            ul {
                li {
                    a {
                        height: 40px;
                        padding: 0 20px;
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
            }
        }
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 30px;
    }

    .card-modal {
        padding: 80px 0 30px;
        background: #fff;

        .modal-box__close {
            transition-delay: 0.3s;
        }

        &__inner {
            flex-direction: column;

        }

        &__image {
            width: 100%;
            height: auto;
            margin: 0 0 20px;
            transition-duration: 0.3s;
            transition-delay: 0s;
        }

        &__content {
            padding: 0 0 20px;
            height: auto;
            min-height: 1px;

            h3 {
                margin-bottom: 10px;
            }
        }

        &.mb-dark {
            background: $grey-light;
        }
    }

    .header {
        padding: 0;
        height: 56px;
        font-size: 20px;

        .wrap {
            padding: 0 10px;
        }

        .hamburger {
            height: 40px;
            width: 40px;
        }

        &.header-transparent {
            .logo {

                a {
                    display: block;
                    background: url(../img/svg/logo.svg) no-repeat center center;
                    background-size: contain;
                    width: 125px;
                    height: 100%;

                    img {
                        display: none;
                    }
                }
            }
        }

        .menu-main {
            ul {
                height: calc(100vh - 56px);
            }

            &__search {
                width: 40px;
                height: 40px;
            }
        }
    }

    .block-cover {
        padding: 40px 0;
        height: auto !important;

        &.alted {
            padding-top: 40px;
        }

        &.bc-big {
            height: auto !important;
            min-height: 100vw !important;

        }

        &.bc-white {
            height: auto !important;
            min-height: 1px !important;
        }

        &.bc-cols {
            height: auto !important;

            .block-cover__inner {
                flex-direction: column;
            }
        }

        &.bc-light {
            &.bc-image {
                height: auto !important;

                .block-cover__left,
                .block-cover__right {
                    height: auto !important;
                    margin: 0 -20px;
                    width: calc(100% + 40px);
                    padding: 40px 20px !important;
                }

                .block-cover__right {
                    padding: 0 !important;
                }
            }
        }
    }

    .bc-text-block {
        background: $black;
        width: 100%;
        height: 100%;
        padding: 30px 20px 40px !important;
        color: #fff;

        &__field {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            &.phone {
                font-size: 22px;
                line-height: 1.6;
            }
        }
    }

    .contacts {
        height: auto !important;
        position: relative;
        margin: 40px -20px -40px;
        width: auto;

        .bc-text-block {
            position: relative;
            right: 0;
            top: 0;
            height: auto;
        }
    }

    .map {
        height: 100vw !important;
    }

    .card {
        &__title {
            line-height: 1.2;
            font-size: 18px;
        }

        &__desc {
            font-size: 16px;
            margin-top: 10px;
            line-height: 1.4;
        }

        &__contacts {
            font-size: 16px;
            margin-top: 10px;
            line-height: 1.4;
        }

        .button {
            margin-top: 10px;
        }

        &.card-text {
            .card__title {
                line-height: 1.2;
                font-size: 18px;
            }

            .card__desc {
                font-size: 14px;
                margin-top: 10px;
                line-height: 1.4;
            }

            &.ct-cover {
                padding: 40px 20px;
            }
        }
    }

    .compose-card {
        flex-direction: column;

        &__image {
            width: 100%;
            max-width: none;
            margin: 0 0 20px;
            order: -2;
        }

        &__info {
            padding: 0 0 20px;
            border-top: 0;
            border-bottom: 1px solid $grey-medium-light;
            margin-left: 0;
            margin-right: 0 !important;
        }
    }

    .title-button {
        .btn {
            font-size: 0 !important;
            padding: 0 !important;
            width: 30px !important;
            height: 30px !important;
            background-position: center center !important;
            background-size: 16px !important;
        }
    }

    .text {
        padding: 40px 0;

        &.text-big {
            p {
                font-size: 16px;
            }
        }

        .text-narrow {
            margin-left: 0;
        }
    }

    .media {
        margin-top: -40px;
        margin-bottom: 20px;
    }

    .gallery {
        margin: 0 0 40px;

        .gallery-item {
            width: calc(50% - 20px) !important;
            margin: 0 20px 20px 0 !important;

            &:nth-last-child(-n + 2) {
                margin-bottom: 0 !important;
            }
        }
    }

    .search-results {
        .compose-card {
            &:first-child {
                padding-top: 0;
            }
        }
    }

    .pagination {
        padding: 20px 0 40px;

        ul {
            margin: -5px 0;

            li {
                margin: 5px;

                a,
                span {
                    height: 40px;
                    font-size: 14px;
                    padding: 0 13px;
                }

                a {
                    &.pagination__next {
                        font-size: 0;
                        padding: 0 5px;

                        i {
                            margin: 0;
                            font-size: 14px;
                        }
                    }

                    &.pagination__prev {
                        font-size: 0;
                        padding: 0 5px;

                        i {
                            margin: 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

    }

    .contacts {
        &__inner {
            flex-direction: column;
        }

        .page-title {
            margin: 40px 0;
        }

        &__block {
            position: relative;
            width: 100%;
            top: auto;
            padding: 20px 20px 40px;
            margin: 0 -20px;
            width: calc(100% + 40px)
        }

        &__field {
            line-height: 1.6;
        }
    }

    .maps {
        flex-direction: column;

        .map-sm {
            width: 100%;
            margin: 0 0 40px;
        }

        .map-lg {
            margin: 0;
        }
    }

    .stats {
        padding: 40px 0;

        &.alted {
            padding: 40px 0 0px !important;
        }
    }

    .stats-item {
        margin-bottom: 20px !important;

        &:last-child {
            margin-bottom: 0 !important;
        }

        &__title {
            font-size: 14px;
            line-height: 1.6;
            margin-bottom: 5px;
        }

        &__count {
            font-size: 24px;
            line-height: 1.2;
        }

        &__desc {
            font-size: 16px;
        }
    }

    .accordion {
        &__title {
            padding: 20px;
        }

        &__content {
            margin-top: -10px;
            padding: 0 20px 20px;
        }
    }

    table {
        width: auto;
        display: block;
        overflow-x: scroll;
        margin: 0 -20px;

        th,
        td {
            font-size: 14px;
            line-height: 1.4;

            &:first-child {
                //                padding-left: 0;
            }

            &:last-child {
                //                padding-right: 20px;
            }

            &:nth-child(n + 2) {
                padding-left: 20px;
            }
        }
    }

    ul,
    ol {
        &.list {
            li {
                line-height: 1.2;
                font-size: 12px;
                margin-bottom: 10px;
                padding-left: 25px;
            }
        }
    }

    ul {
        &.list {
            li {
                &:before {
                    top: 8px;
                    left: 6px;
                }
            }
        }
    }

    ol {
        &.list {
            li {

                &:before {
                    top: 0;
                    left: 0;
                    width: 17px;
                    padding-right: 8px;
                }
            }
        }
    }

    .file {
        flex-wrap: wrap;
        justify-content: space-between;

        &__desc {
            width: 100%;
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 1.6;
        }

        &__btn {
            margin: 0;
            align-self: center;

            a {
                height: 40px;
                font-size: 14px;
                line-height: normal;
                padding: 0 29px 0 19px;
            }
        }

        &__date {
            padding: 0;
            flex-grow: 0;
            margin-left: auto;
            align-self: center;
        }
    }

    .slick-arrow {
        display: none !important;
    }

    .slide {
        a {
            &:after {
                right: 10px;
                top: 10px;
                width: 40px;
                height: 40px;
                font-size: 14px;
            }
        }
    }

    .footer {
        &__nav {
            display: none;
        }

        &__info {
            &__inner {
                flex-direction: column;

                > * {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                }
            }

            &__r {
                padding-top: 20px;
            }
        }
    }


}
