html {-webkit-font-smoothing: antialiased; height: 100%; width: 100%;}
body {font-family: 'Roboto Condensed', sans-serif; height: 100%; width: 100%;}

input {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
textarea {-webkit-appearance: none; -moz-appearance: none; appearance: none;}

*::-webkit-input-placeholder {color: $brand-color ;opacity: 1;}
*:-moz-placeholder {color: $brand-color; opacity: 1;}
*::-moz-placeholder {color: $brand-color; opacity: 1;}
*:-ms-input-placeholder {color: $brand-color; opacity: 1;}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 
 *:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

.close {opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}

table {border-collapse: collapse; border-spacing:0; width: 100%; margin-bottom: 70px;}
table tr td, table tr th {padding:20px 0; text-align:left; border-bottom: 1px solid #dadada;}
table tr td {font: normal 20px $brand-font; color: $brand-color;}
table tr th {color: $brand-color; font: bold 18px $brand-font;}

a {text-decoration:none; color: $linkcolor; outline: none !important;}
a:hover {color: $linkcolor-hover; text-decoration: underline;}

ul {margin-bottom: 30px;}
ul li {margin-bottom: 10px; font-size: 22px; font-family: $brand-font;}

ol {counter-reset: li; list-style: none; padding-left: 20px; margin-bottom: 70px;}
ol li {margin-bottom: 25px; font: normal 22px $brand-font; color: $brand-color;}
ol li:before {content: counter(li); counter-increment: li; color: #3bb2c2; margin-right: 30px;}

h1, h2, h3, h4, h5, h6 {font-weight: normal; color: #06549e; font-family: $brand-font; line-height: 1.2; margin-bottom: 20px;}

h1{font-size: 48px;}
h2{font-size: 32px;}
h3{font-size: 24px;}
h4{font-size: 18px;}


p {font:normal 22px/35px $brand-font; margin:0 0 40px 0; color: $brand-color;}

.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.text-normal {font-weight:normal;}
.text-light {font-weight:300;}
.text-medium {font-weight:600;}
.text-bold {font-weight:bold;}
.font-big {font-size: 20px;}
.font-medium {font-size: 18px;}
.font-normal {font-size: 16px;}
.font-small {font-size: 12px;}
.no-transform {text-transform: none;}
.no-decor {text-decoration: none;}
.no-decor-hover:hover {text-decoration: none;}
.text-transform {text-transform: uppercase;}

.oh {overflow:hidden;}
.fl-l {float:left;}
.fl-r {float:right;}

