@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
    src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNova-Semibold";
    src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
    src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"),
    url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova-Black";
    src: url("../fonts/ProximaNova-Black/ProximaNova-Black.eot"),
    url("../fonts/ProximaNova-Black/ProximaNova-Black.woff") format("woff"),
    url("../fonts/ProximaNova-Black/ProximaNova-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lora-Regular";
    src: url("../fonts/Lora/LoraRegular.eot");
    src: url("../fonts/Lora/LoraRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Lora/LoraRegular.woff") format("woff"),
    url("../fonts/Lora/LoraRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lora-Italic";
    src: url("../fonts/Lora/LoraItalic.eot");
    src: url("../fonts/Lora/LoraItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Lora/LoraItalic.woff") format("woff"),
    url("../fonts/Lora/LoraItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

