//навигация на странице О компании

.about-nav {
  display: flex;
  margin-left: -20px;
  flex-flow: wrap;
}

.about-nav__shadow {
  background: #fff;
  border-radius: 8px;
  height: 240px;
  width: calc(33.3% - 20px);
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

.about-nav__shadow::before {
  content: '';
  height: 40px;
  width: calc(100% - 40px);
  display: block;
  position: absolute;
  bottom: 0;
  box-shadow: 0 2px 20px 0 rgba(36,81,195,0.30);
  opacity: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1;
  border-radius: 8px;
  transition: all 0.1s linear;
}

.about-nav__shadow:hover::before {
  opacity: 1;
  transition: all 0.1s linear;
}

.about-nav__item {
  background: #fff;
  border-radius: 8px;
  padding: 40px;
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
}

.about-nav__title {
  margin-bottom: 25px;
}

.about-nav__title a {
  color: #222222;
  text-decoration: none;
  transition: all 0.08s linear;
}

.about-nav__item:hover .about-nav__title a {
  color: #2451C3;
  border-bottom: 1px solid rgba(36,81,195,0.5);
}

.about-nav__item li {
  margin-bottom: 10px;
}

.about-nav__item li a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.1s linear;
}

.about-nav__item li:hover a {
  border-bottom: 1px solid rgba(36,81,195,0.5);
}

/*===== media queries =====*/

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .about-nav {
    flex-direction: column;
    margin-left: 0;
  }

  .about-nav__shadow {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  .about-nav__item {
    font-size: 	1.1111rem;
    line-height: 22px;
    padding: 35px 40px;
  }

  .about-nav__title:last-child {
    margin-bottom: 0;
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .about-nav__shadow::before, .about-nav__shadow::after {
    display: none;
  }

  .about-nav {
    flex-direction: column;
    margin-left: 0;
  }

  .about-nav__shadow {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  .about-nav__title:last-child {
    margin-bottom: 0;
  }

  .about-nav__item {
    font-size: 	1.1111rem;
    line-height: 22px;
    padding: 15px 20px;
  }

  .about-nav__item a {
    color: #2451C3;
    display: block;
    border: 0;
  }

  .about-nav__item:hover .about-nav__title a {
    border-bottom: 0;
  }

  .about-nav__item li a {
    border: 0;
  }

  .about-nav__item li:hover a {
    border: 0;
  }
}