//страница руководства
.administration__head {
  display: flex;
  margin-bottom: 40px;
}

.administration__head h1 {
  margin-bottom: 40px;
}

.administration__head-item {
  margin-bottom: 35px;
}

.administration__head-item:last-child {
  margin-bottom: 0;
}

.administration__head-img {
  margin-left: auto;
}

.administration__head-img img {
  max-width: 100%;
}

.administration__title {
  margin-bottom: 10px;
}

.administration__text {
  margin-bottom: 5px;
  color: #555555;
  font-size: 0.8889rem;
  line-height: 24px;
}

.administration__text span {
  display: block;
  color: #555555;
  font-size: 0.8889rem;
  line-height: 24px;
}

.administration__text a {
  font-size: 1rem;
  line-height: 30px;
  color: #333333;
  text-decoration: none;
}

.administration__text:last-child {
  margin-bottom: 0;
}

//список администрации
.administration__list .table-two-cols {
  margin-bottom: 0;
}

.administration__list .table-two-cols__col {
  width: auto;
  max-width: 100%;
}

.administration__list .table-two-cols__col-second {
  margin-left: auto;
}

.administration__list .table-two-cols__col-first {
  max-width: 420px;
}

.administration__list .administration__title {
  margin-bottom: 5px;
}
.administration__list .table-two-cols__row:last-child {
  border-bottom: none;
}

/*===== media queries =====*/

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .administration__head {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .administration__head-img {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .administration__head-item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .administration__list_contacts-page .table-two-cols__col-first {
    max-width: 50%!important;
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .administration__list {
    margin-bottom: -30px;
  }

  .administration__head {
    flex-direction: column-reverse;
    margin-bottom: 15px;
  }

  .administration__head-img {
    margin-left: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
  }

  .administration__head-img img {
    width: 100%;
  }

  .administration__head-item {
    margin-bottom: 10px;
  }

  .administration__text {
    color: #999999;
    font-size: 0.7778rem;
    line-height: 17px;
  }

  .administration__text_modified {
    color: #555555;
  }

  .administration__list .administration__title {
    font-size: 1rem;
    line-height: 22px;
  }

  .administration__list .table-two-cols__col-second {
    margin-left: 0;
    width: 100%;
  }

  .administration__list .table-two-cols__col-first {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px!important;
  }

  .administration__text span {
    display: inline-block;
    color: #999999;
    font-size: 0.7778rem;
    line-height: 17px;
    margin-left: 10px;
  }

  .administration__list .table-two-cols__row:last-child {
    padding-bottom: 0;
  }

  //на странице контактов
  .administration__list_contacts-page {
    margin-bottom: 30px!important;
  }

  .administration__list_contacts-page .administration__text {
    color: #555555;
    font-size: 0.8889rem!important;
    line-height: 24px!important;
  }

  .administration__list_contacts-page .administration__text a {
    font-size: 0.8889rem!important;
    line-height: 24px!important;
  }

  .administration__list_contacts-page .administration__text span {
    margin-left: 10px!important;
  }

  .administration__list_contacts-page .table-two-cols__row:last-child {
    padding-bottom: 15px;
  }
}