//преимущества на главной странице
.advantage-list {
  margin-bottom: 60px;
}

.advantage-list__wrapper {
  margin-left: -60px;
  display: flex;
  flex-flow: wrap;
}

.advantage-list__item {
  width: calc(33.3% - 60px);
  margin-bottom: 40px;
  margin-left: 60px;
}

.advantage-list__title {
  font-size: 1.1111rem;
  line-height: 22px;
  margin-bottom: 10px;
  font-family: $font-semibold;
}

.advantage-list__teaser {
  font-size: 1rem;
  line-height: 30px;
}

.advantage-list__img {
  margin-bottom: 20px;
}

//модифицированные преимущества на странице страхования
.advantage-list_modified {
  margin-bottom: 60px;
  margin-top: 10px;
}

.advantage-list_modified .advantage-list__item {
  margin-bottom: 0;
}

.advantage-list__step span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #FDCE34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FDCE34;
  font-family: $font-medium;
  font-size: 1.3333rem;
}

.advantage-list__step {
  margin-bottom: 20px;
}

//список на странице объекта
.advantage-list-object-detail {
  margin-bottom: 0;
}

.advantage-list-object-detail .advantage-list__title {
  font-size: 1.3333rem;
  line-height: 29px;
}

/*===== media queries =====*/

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .advantage-list {
    margin-bottom: 20px;
  }

  .advantage-list__wrapper {
    margin-left: -40px;
  }

  .advantage-list__item {
    width: calc(50% - 40px);
    margin-left: 40px;
  }

  //на странице страхования
  .advantage-list_modified .advantage-list__wrapper {
    flex-direction: column;
    margin-left: 0;
  }

  .advantage-list_modified .advantage-list__item {
    width: 100%;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .advantage-list_number .advantage-list__step {
    margin-bottom: 10px;
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .advantage-list {
    margin-bottom: 40px;
  }

  .advantage-list__item {
    margin-left: 0;
    width: 100%;
    margin-bottom: 0;
  }

  .advantage-list__wrapper {
    margin-left: 0;
  }

  .advantage-list__img img {
    max-width: 100%;
    width: auto!important;
  }

  //модифицированные преимущества на странице страхования
  .advantage-list_modified {
    margin-bottom: 60px;
  }

  .advantage-list_modified .advantage-list__wrapper {
    flex-direction: column;
  }

  .advantage-list_modified .advantage-list__item {
    width: 100%;
    margin-bottom: 30px;
  }

  .advantage-list_modified .advantage-list__item:last-child {
    margin-bottom: 0;
  }

  .advantage-list__img img {
    max-width: 80px;
  }

  .advantage-list__img {
    margin-bottom: 10px;
  }

  .advantage-list__title {
    font-size: 1rem;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .advantage-list__teaser {
    color: #555555;
    font-size: 0.8889rem;
    line-height: 24px;
  }

  //список с нумерацией
  .advantage-list_number {
    margin-bottom: 40px;
  }

  .advantage-list_number .advantage-list__item {
    display: flex;
  }

  .advantage-list_number .advantage-list__text {
    width: calc(100% - 60px);
  }

  .advantage-list_number .advantage-list__step {
    margin-right: 10px;
  }

  //список на странице объекта
  .advantage-list-object-detail {
    margin-top: -10px;
  }

  .advantage-list-object-detail .advantage-list__title {
    font-size: 1.1111rem;
    line-height: 24px;
  }
}