//хлебные крошки
.breadcrumbs {
  display: none;
  margin-bottom: 6px;
}

.breadcrumbs a {
  display: inline-table;
  color: #2451C3;
  font-size: 0.8889rem;
  line-height: 24px;
  text-decoration: none;
}

/*===== media queries =====*/

@media screen and (max-width: 1259px) {
  .breadcrumbs {
    display: block;
  }
}