//подкаты
.collapse__wrapper {
  margin-bottom: 20px;
}

.collapse__head {
  display: flex;
  padding: 20px;
  cursor: pointer;
  position: relative;
  align-items: flex-start;
}

.collapse__head::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #EAEAEA;
}

.collapse__item:last-child .collapse__head::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #EAEAEA;
}

.collapse__item:last-child .collapse__head_active::after {
  display: none;
}

.collapse__head i {
  margin-left: auto;
  display: flex;
  color: #999999;
}

.collapse__head_active i {
  transform: rotate(180deg);
  color: #1E6F09;
}

.collapse__head span {
  display: inline-block;
  padding-right: 10px;
  font-size: 1.1111rem;
  line-height: 22px;
  font-family: $font-medium;
}

.collapse__head:hover {
  background-color: #F3F7FF;
  transition: background-color 0.2s linear;
  color: #2451C3;
}

.collapse__head_active span {
  color: #1E6F09;
}

.collapse__item {
  margin-left: -20px;
  margin-right: -20px;
}

.collapse__ctn {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  line-height: 22px;
  display: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

.collapse__ctn_showed {
  opacity: 1;
  z-index: 1;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*===== media queries =====*/

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .collapse {
    margin-bottom: 40px;
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .collapse {
    margin-bottom: 40px;
  }

  .collapse__head span {
    font-size: 1rem;
    line-height: 22px;
    color: #555555;
  }

  .collapse__head_active span, .collapse__head_active i {
    color: #1E6F09;
  }

  .collapse__head {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .collapse__head:hover {
    background: none;
  }

  .collapse__ctn {
    font-size: 	0.8889rem;
    line-height: 24px;
    padding-top: 0;
  }

  .collapse_help {
    margin-bottom: 0;
  }

  .collapse_help .collapse__wrapper {
    margin-bottom: 0;
  }

  .collapse_help .collapse__item:last-child .collapse__head::after {
    display: none;
  }
}