//обычная таблица
.default-table-wrapper {
  margin-left: -100px;
  margin-right: -100px;
  padding: 0;
  margin-bottom: 60px;
  margin-top: 60px;
}

.default-table {
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
  border: 0;
}

.default-table tr {
  border: 0;
  padding: 5px;
}

.default-table th, .default-table td {
  padding: 0;
  text-align: left;
  padding-right: 40px;
}

.default-table th:last-child, .default-table td:last-child {
  padding-right: 0;
}

.default-table td {
  font-size: 1rem;
  line-height: 30px;
  font-family: $font-regular;
  vertical-align: top;
  position: relative;
  border-top: 1px solid #EAEAEA;
  padding-top: 20px;
  padding-bottom: 20px;
}

.default-table tr:last-child td {
  border-bottom: 1px solid #EAEAEA;
}

.default-table th {
  font-weight: normal;
  color: #999999;
  font-size: 0.7778rem;
  line-height: 17px;
  white-space: nowrap;
  padding-bottom: 20px;
}

.default-table td:nth-child(3) {
  font-size: 0.8889rem;
  white-space: nowrap;
}

.default-table span {
  display: block;
  margin-bottom: 20px;
}

.default-table span:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .default-table-wrapper {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
  }

  .default-table-wrapper h5 {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .default-table-scroll {
    overflow: auto;
    width: 100%;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .default-table-wrapper {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
  }

  .default-table-scroll {
    overflow: auto;
    width: 100%;
    padding-left: 20px;
  }

  .default-table tr:last-child th, .default-table tr:last-child td {
    padding-right: 20px;
  }

  .default-table tr th, .default-table tr td {
    white-space: nowrap;
  }

  .default-table tr td {
    color: #555555;
    font-size: 0.8889rem;
    line-height: 24px;
  }

  .default-table-wrapper {
    margin-top: 30px;
  }

  .default-table-wrapper h5 {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}