/* новая детальная страница програмы */
.program-promo {
  min-height: 290px;
  position: relative;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  margin-bottom: 40px;
  display: block;
  text-decoration: none;
}

.program-promo__ctn {
  padding-top: 60px;
  padding-bottom: 60px;
}

.program-promo::before {
  content: '';
  background: linear-gradient(90deg, #FFF0C0 60%, rgba(255, 240, 192, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
}

.program-promo__wrapper {
  max-width: 700px;
  width: 100%;
}

.program-promo__title {
  font-size: 2.6667rem;
  line-height: 62px;
  font-family: 'IBMPlexSans-Semibold';
  margin-bottom: 6px;
  text-decoration: none;
  color: #222222;
}

.program-promo__title a {
  font-size: 2.6667rem;
  line-height: 62px;
  font-family: 'IBMPlexSans-Semibold';
  text-decoration: none;
  color: #222222;
}

.program-promo_index:hover .program-promo__title {
  color: #2451C3;
}

.program-promo__teaser {
  font-size: 1.3333rem;
  line-height: 36px;
  color: #555555;
  text-decoration: none;
}

.program-promo__helper {
  font-size: 0.7778rem;
  line-height: 18px;
  color: #999999;
  margin-bottom: 10px;
  text-decoration: none;
}

.program-promo_index {
  border-radius: 8px;
  overflow: hidden;
}

.program-promo_index:hover {
  box-shadow: 0px 2px 20px rgba(36, 81, 195, 0.3);
}

.program-promo_index .program-promo__wrapper {
  max-width: 540px;
}

.program-promo_index .program-promo__teaser {
  font-size: 1rem;
  line-height: 30px;
}

.program-promo_index .program-promo__title {
  margin-bottom: 14px;
  line-height: 48px;
}

.program-promo_index .program-promo__title a {
  line-height: 48px;
}

.program-unit {
  display: flex;
  flex-flow: wrap;
  margin-left: -60px;
}

.program-unit__item {
  margin-left: 60px;
  margin-bottom: 60px;
  max-width: 340px;
  width: 100%;
}

.program-unit__img img {
  max-width: 100%;
  display: block;
}

.program-unit__text {
  font-size: 1rem;
  line-height: 30px;
  color: #333333;
  margin-top: 20px;
}

.content-mix ul li ul {
  padding-left: 15px;
}

.content-mix ul + .doc-list {
  margin-top: -20px;
  margin-bottom: 0;
}

.steps_program-detail-inner .btn-sm {
  padding: 10px 27px 12px 27px;
}

@media screen and (max-width: 939px) {
  .program-promo {
    background-size: cover;
    min-height: 100%;
  }

  .program-promo__ctn {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .program-promo::before {
    background: linear-gradient(90deg, #FFF0C0 60%, rgba(255, 240, 192, 0) 100%);
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .program-promo {
    background-image: none!important;
    background-color: #FFF0C0;
  }

  .program-promo::before {
    display: none;
  }

  .program-promo__title, .program-promo__title a {
    font-size: 1.5556rem!important;
    line-height: 30px!important;
  }

  .program-promo__teaser {
    font-size: 0.8889rem;
    line-height: 24px;
  }
}