//список документов
.doc-list {
  margin-bottom: 70px;
  margin-left: -20px;
  margin-right: -20px;
}

.doc-list__item {
  padding: 0 20px!important;
}

.doc-list__item a {
  color: #555555;
  text-decoration: none;
  display: flex;
  padding: 15px 0;
  border-top: 1px solid #EAEAEA;
  color: #555555;
  font-size: 0.8889rem;
  line-height: 24px;
}

.doc-list__item:hover {
  background: #F3F7FF;
  transition: background 0.2s linear;
}

.doc-list__item:last-child a {
  border-bottom: 1px solid #EAEAEA;
}

.doc-list__param {
  margin-left: auto;
  padding-left: 20px;
  white-space: nowrap;
  color: #999999;
  font-size: 0.7778rem;
}

.doc-list__item i {
  margin-right: 20px;
  color: #2451C3;
  font-size: 1rem;
}

//список документов на детальной странице объекта
.doc-list_object-detail-page {
  margin-bottom: 0;
}

//список документов на странице документов
.doc-list_documents-page {
  margin-bottom: 0;
}

.doc-list_documents-page .doc-list__item:last-child a {
  border-bottom: none;
}

//список документов на странице плана закупок
.doc-list_buying-plan-page {
  margin-bottom: 0;
}

.doc-list_buying-plan-page .doc-list__item:first-child a {
  border-top: none;
}

.doc-list_buying-plan-page .doc-list__item:last-child a {
  border-bottom: none;
}

/*===== media queries =====*/

//@media screen max 767px
@media screen and (max-width: 767px) {
  .doc-list__param {
    margin-left: 0;
    margin-right: auto;
    width: 100%;
    padding-left: 0;
  }

  .doc-list {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .doc-list a {
    flex-direction: column;
    padding-left: 40px;
    padding-right: 0;
  }

  .doc-list a i {
    display: none;
  }

  .doc-list a::before {
    content: 'insert_drive_file';
    font-family: "Material Icons";
    font-size: 1rem;
    color: #2451C3;
    position: absolute;
    left: 0;
    top: 15px;
  }

  .doc-list__item:hover {
    background: none;
  }

  .doc-list__item {
    padding: 0!important;
  }

  //на странице документы
  .doc-list_documents-page {
    margin-bottom: 0;
  }

  .doc-list_documents-page .doc-list__item:last-child a {
    padding-bottom: 0;
  }

  //список документов на странице плана закупок
  .doc-list_buying-plan-page {
    margin-bottom: 0;
  }
}