//полезная ссылка в правой колонке
.help-link  {
  display: block;
  border: 1px solid #EAEAEA;
  background: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8889rem;
  line-height: 24px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.help-link-shadow {
  position: relative;
}

.help-link-shadow::before {
  content: '';
  height: 40px;
  width: calc(100% - 40px);
  display: block;
  position: absolute;
  bottom: 0;
  box-shadow: 0 2px 20px 0 rgba(36,81,195,0.30);
  opacity: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1;
  border-radius: 8px;
}

.help-link-shadow:hover::before {
  opacity: 1;
  transition: opacity 0.1s linear;
}

.help-link span {
  background: url("/images/icons/icon-launch.svg") right bottom no-repeat;
  background-size: 14px;
  padding-right: 20px;
}

/*===== media queries =====*/

@media screen and (max-width: 1259px) {
  .help-link-shadow {
    display: none;
  }

  .help-link-shadow:first-child {
    margin-top: 30px;
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .help-link-shadow_inner {
    display: block;
  }

  .help-link-shadow::before {
    display: none;
  }

  .help-link-shadow_visible-xs {
    display: block;
  }

  .help-link-shadow:last-child .help-link {
    margin-bottom: 0;
  }

}