//информацмонный блок в правой колонке на странице Помощь
.informer-feedback {
  position: relative;
  z-index: 3;
}

.informer-feedback p {
  margin-top: 20px;
  margin-bottom: 0;
}

.informer-feedback p:last-child {
  margin-bottom: 0;
}

.informer-feedback__phone {
  font-family: $font-medium;
  font-size: 1.1111rem;
  margin-top: 10px!important;
}

.informer-feedback__phone a {
  text-decoration: none;
  color: #222222;
}

.informer-feedback-shadow {
  position: relative;
}

.informer-feedback-shadow::before {
  content: '';
  height: 40px;
  width: calc(100% - 20px);
  display: block;
  position: absolute;
  bottom: -10px;
  box-shadow: 0 2px 20px 0 rgba(36,81,195,0.30);
  opacity: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1;
}

.informer-feedback-shadow:hover::before {
  opacity: 1;
  transition: opacity 0.1s linear;
}

.informer-feedback-shadow::after {
  content: '';
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  display: block;
  position: absolute;
  left: -10px;
  top: -10px;
  background: #fff;
  z-index: 2;
  opacity: 0;
  transition: all 0.1s linear;
}

.informer-feedback-shadow:hover::after {
  opacity: 1;
  transition: all 0.1s linear;
}

/*===== media queries =====*/

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .informer-feedback-shadow::after, .informer-feedback-shadow::before {
    display: none;
  }

  .informer-feedback {
    margin-bottom: 10px!important;
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .informer-feedback-shadow::before, .informer-feedback-shadow::after {
    display: none;
  }
}