//внутрення навигация на всю ширину на странице обхекта недвижимости
.navigation-inner ul {
  display: flex;
  justify-content: space-between;
  margin-left: -40px;
  margin-right: -40px;
}

.navigation-inner__wrapper {
  background: #fff;
}

#sticker.navigation-inner__wrapper {
  padding-bottom: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
}

.navigation-inner__wrapper-rel {
  position: relative;
  height: 60px;
}

.navigation-inner li {
  font-size: 0.8889rem;
  line-height: 19px;
}

.navigation-inner__item {
  text-decoration: none;
  display: block;
  color: #777777;
  padding: 20px 40px;
}

.navigation-inner__item_active {
  color: #1E6F09;
  border-bottom: 1px solid #1E6F09;
}

.navigation-inner__item:hover {
  color: #1E6F09;
  border-bottom: 1px solid #1E6F09;
  transition: all 0.1s linear;
}

#sticker.navigation-inner__wrapper.is-sticky.is-visible {
  top: 0!important;
}

#sticker.navigation-inner__wrapper.is-sticky.is-hidden {
  top: 0!important;
}

/*===== media queries =====*/

@media screen and (max-width: 1259px) {
  //на странице объекта
  .navigation-inner__wrapper-rel {
    display: none;
  }
}