//объекты новостроек, домов
.object-list {
  margin-bottom: 20px;
}

.object-list:last-child {
  margin-bottom: 0;
}

.object-list__item  {
  width: calc(33.3% - 20px);
  margin-left: 20px;
  height: 420px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.object-list__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(34,34,34,0.3);
}

.object-list__item_lg {
  width: calc((33.3% * 2) - 20px);
}

.object-list__wrapper {
  display: flex;
  flex-flow: wrap;
  margin-left: -20px;
}

.object-list__title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  color: #FFFFFF;
  font-size: 1.3333rem;
  line-height: 29px;
  font-family: $font-medium;
  z-index: 2;
}

.object-list__title span {
  display: block;
  font-size: 1rem;
  line-height: 30px;
  color: #ffffff;
  font-family: $font-regular;
  margin-top: 10px;
}

.object-list__item_lg .object-list__title {
  font-size: 1.7778rem;
  line-height: 38px;
}

.object-list__item_inner {
  background: #319018;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.object-list__item_inner::before {
  display: none;
}

.object-list__item_inner .object-list__title {
  position: relative;
  top: auto;
  left: auto;
  padding: 0;
  font-size: 1.7778rem;
  line-height: 38px;
  font-family: $font-medium;
  margin-bottom: 30px;
}

.object-list__item_inner ul li {
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 10px;
}

.object-list__item_inner ul li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: all 0.1s linear;
}

.object-list__item_inner ul li a:hover {
  border-bottom: 1px solid #fff;
}

.object-list__item_inner .btn-shadow {
  margin-top: auto;
}

/*===== media queries =====*/

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .object-list__item_inner {
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .object-list__item_inner .btn-full-width {
    display: inline-block;
    width: 300px;
  }

  .object-list__item_inner .btn-shadow {
    margin-top: 20px;
  }

  .object-list__item {
    width: calc(50% - 20px);
  }

  .object-list__item_lg, .object-list__item_inner {
    width: 100%;
  }

  .object-list_order .object-list__item_1 {
    order: 1;
  }

  .object-list_order .object-list__item_2 {
    order: 2;
  }

  .object-list_order .object-list__item_3 {
    order: 4;
  }

  .object-list_order .object-list__item_4 {
    order: 3;
  }

  .object-list_order .object-list__item_5 {
    order: 5;
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .object-list {
    margin-left: -20px;
    margin-right: -20px;
  }

  .object-list:last-child {
    margin-bottom: 0;
  }

  .object-list__wrapper {
    flex-direction: column;
    margin-left: 0;
  }

  .object-list__item {
    width: 100%;
    height: 280px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .object-list__item:last-child {
    margin-bottom: 0;
  }

  .object-list__title, .object-list__item_lg .object-list__title {
    font-size: 1.1111rem;
    line-height: 24px;
    padding: 30px 20px;
    height: 100%;
  }

  .object-list__item_inner {
    padding: 30px 20px;
    height: 100%;
    margin-bottom: 20px!important;
  }

  .object-list__item_inner .object-list__title {
    font-size: 1.1111rem;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .object-list__item_inner ul li a {
    font-size: 0.8889rem;
    line-height: 24px;
  }

  .object-list__item_inner ul li {
    margin-bottom: 5px;
  }

  .object-list__item_inner .btn-shadow {
    margin-top: 25px;
  }
}