//dots для карусели
.owl-dots {
  text-align: center;
  vertical-align: top;
  margin-top: 20px;
}

.owl-dots div {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #CCCCCC;
  display: inline-block;
  margin: 0 5px;
}

.owl-dots .active {
  background: #319018;
}