//детальная страница новости

.page-detail__date {
  color: #999999;
  margin-bottom: 25px;
}

.page-detail p {
  font-size: 1.1111rem;
  line-height: 30px;
  color: #333333;
}

.page-detail .doc-list {
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-detail-bottom {
  border-top: 1px solid #EAEAEA;
  margin-top: 60px;
  padding-top: 40px;
}

.page-detail-bottom_centered {
  text-align: center;
}

.page-detail__image {
  margin-left: -100px;
  margin-right: -100px;
  margin-bottom: 40px;
}

.page-detail__image img {
  max-width: 100%;
}

.page-detail__teaser {
  color: #555555;
  font-size: 1.3333rem;
  line-height: 36px;
  margin-bottom: 40px;
}

.page-detail .responsive-table-wrapper {
  margin-left: -100px;
  margin-right: -100px;
  padding: 0;
  margin-bottom: 60px;
  margin-top: 60px;
}

.page-detail .responsive-table-wrapper + p {
  margin-top: 60px;
}

.page-detail p + .content-bg-gray {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.1111rem;
  line-height: 30px;
}

.page-detail .content-bg-gray__title {
  font-size: 1.3333rem;
  line-height: 29px;
}

.page-detail ol {
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-detail ol li {
  font-size: 1.1111rem;
  line-height: 30px;
  margin-bottom: 20px;
}

/*===== media queries =====*/

@media screen and (min-width: 768px) and (max-width: 1259px) {
  //в модальном окне
  .modal-content .page-detail__image {
    margin-left: -24px;
    margin-right: -24px;
  }

  .modal-content .page-detail .content-bg-gray {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 20px;
    padding-right: 20px;
  }

  //детальная страница
  .page-detail__image {
    margin-left: -40px;
    margin-right: -40px;
  }

  .page-detail .content-bg-gray {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-detail .default-table-wrapper {
    margin-right: -40px;
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .page-detail__date {
    margin-bottom: 15px;
  }

  .page-detail p {
    font-size: 0.8889rem;
    line-height: 24px;
    color: #555555;
  }

  .page-detail .doc-list {
    margin: 30px 0;
  }

  .page-detail-bottom {
    margin-top: 0;
    border: 0;
  }

  .page-detail__image {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
  }

  .page-detail__image img {
    max-width: 100%;
    width: 100%;
  }

  .page-detail__teaser {
    font-size: 	1.1111rem;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .page-detail .content-bg-gray__title {
    font-size: 1.1111rem;
    line-height: 24px;
  }

  .page-detail .content-bg-gray {
    font-size: 0.8889rem!important;
    line-height: 24px!important;
  }

  .page-detail ol li {
    font-size: 0.8889rem;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .page-detail ol {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}