//404 страница
.page404 {
  text-align: center;
}

.page404 p {
  font-size: 1.5rem;
  line-height: 24px;
  color: #555555;
  margin-bottom: 35px;
}

/*===== media queries =====*/

//@media screen max 767px
@media screen and (max-width: 767px) {
  .page404 p {
    font-size: 1.1111rem;
    line-height: 30px;
  }

  .page404 .btn-default {
    padding: 13px 30px;
    font-size: 1rem;
  }
}