//промо объекта на главной странице
.promo-object {
  border-radius: 8px;
  overflow: hidden;
}

.promo-object__wrapper {
  border-radius: 8px;
  padding: 40px;
  min-height: 400px;
  margin-bottom: 80px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.promo-object__right {
  margin-left: auto;
  width: 340px;
  z-index: 2;
  position: absolute;
  right: 40px;
  top: 40px;
}

.promo-object__left {
  max-width: 520px;
  z-index: 2;
}

.promo-project__wrapper_white {
  background-color: #fff;
  height: 100%;
  border-radius: 8px;
  padding: 40px;
}

.promo-object__helper {
  font-size: 1rem;
  line-height: 30px;
  color: #fff;
  margin-bottom: 10px;
}

.promo-project__title {
  font-size: 1.7778rem;
  line-height: 37px;
  color: #fff;
  margin-bottom: 40px;
  font-family: $font-medium;
}

.promo-project__sub-title {
  color: #222222;
  margin-bottom: 30px;
  font-size: 1.3333rem;
  line-height: 29px;
  font-family: $font-semibold;
}

.promo-project__list-item {
  color: #2451C3;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.promo-project__list li {
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 10px !important;
}

.promo-project__list-item:hover {
  border-bottom: 1px solid rgba(36,81,195,0.30);
  transition: all 0.2s linear;
}

.promo-object__wrapper-rel {
  position: relative;
}

/*===== media queries =====*/

@media screen and (max-width: 1259px) {
  .promo-object__right {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
  }

  .promo-object__left {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    align-items: flex-start;
  }

  .promo-object__wrapper {
    margin-bottom: 0;
  }

  .promo-object__wrapper-rel {
    margin-bottom: 60px;
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .promo-object .container {
    padding-left: 0;
    padding-right: 0;
  }

  .promo-object {
    border-radius: 0;
  }

  .promo-object__wrapper {
    padding: 40px 20px 40px 20px;
    margin-bottom: 0;
    height: 340px;
    min-height: 340px;
    border-radius: 0;
  }



  .promo-object__left .btn-shadow {
    margin-top: auto;
    display: block;
  }

  .promo-object__left .btn-shadow .btn-default {
    padding: 14px 30px 12px 30px;
  }

  .promo-project__title {
    font-size: 	1.3333rem;
    line-height: 29px;
    margin-bottom: 20px;
    max-height: 116px;
    overflow: hidden;
  }

  .promo-project__wrapper_white {
    padding: 30px 20px;
    border-radius: 0;
  }

  .promo-object__wrapper-rel {
    margin-bottom: 40px;
  }
}