//плавающий блок в правой колонке на детальной странице кредита
.program-credit-info {
  border: 1px solid #EAEAEA;
  padding: 40px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  z-index: 3;
  transition: all 0.1s linear;
}

.program-credit-info-shadow {
  position: relative;
}

.program-credit-info-shadow::before {
  content: '';
  height: 40px;
  width: calc(100% - 20px);
  display: block;
  position: absolute;
  bottom: -10px;
  box-shadow: 0 2px 20px 0 rgba(36,81,195,0.30);
  opacity: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1;
  border-radius: 8px;
}

.program-credit-info-shadow:hover::before {
  opacity: 1;
  transition: opacity 0.1s linear;
}

.program-credit-info-shadow::after {
  content: '';
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  display: block;
  position: absolute;
  left: -10px;
  top: -10px;
  background: #fff;
  border-radius: 8px;
  z-index: 2;
  opacity: 0;
  transition: all 0.1s linear;
  border: 1px solid #EAEAEA;
}

.program-credit-info-shadow:hover::after {
  opacity: 1;
  transition: all 0.1s linear;
}

.program-credit-info-shadow:hover .program-credit-info {
  border-color: transparent;
}

.program-credit-info__wrapper {
  margin-bottom: 30px;
}

.program-credit-info__item {
  margin-bottom: 30px;
}

.program-credit-info__item:last-child {
  margin-bottom: 0;
}

.program-credit-info__helper {
  color: #999999;
  margin-bottom: 5px;
}

.program-credit-info__number {
  color: #222222;
  font-size: 1.1111rem;
  line-height: 24px;
  font-family: $font-medium;
}

.program-credit-info__number_green {
  font-family: $font-regular;
  font-size: 1.7778rem;
  line-height: 38px;
  color: #1E6F09;
}

.program-credit-info__link {
  margin-top: 3px;
}

.program-credit-info__link a {
  text-decoration: none;
  font-size: 0.7778rem;
  line-height: 17px;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}

.program-credit-info__link a:hover {
  border-bottom: 1px solid rgba(36,81,195,0.30);
  transition: all 0.2s linear;
}

.program-credit-info.is-sticky {
  z-index: 10;
}

/*===== media queries =====*/

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .program-credit-info {
    padding-left: 20px;
    padding-right: 20px;
  }

  .program-credit-info-shadow {
    margin-bottom: 40px;
  }

  .program-credit-info__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .program-credit-info__item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .program-credit-info-shadow::before, .program-credit-info-shadow::after {
    display: none;
  }

  .program-credit-info-shadow:hover .program-credit-info {
    border: 1px solid #EAEAEA;
    border-radius: 8px;
  }

  .program-credit-info {
    padding: 30px 20px;
    margin-bottom: 40px;
  }

  .program-credit-info__item {
    margin-bottom: 20px;
  }

  .program-credit-info__number_green {
    font-size: 1.3333rem;
    float: left;
    line-height: 1;
  }

  .program-credit-info__item:first-child {
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
  }

  .program-credit-info__helper {
    width: 100%;
  }

  .program-credit-info__link {
    margin-top: 0;
    margin-left: 10px;
  }

  .program-credit-info .btn-default {
    padding: 14px 30px;
  }

  .program-credit-info__wrapper {
    margin-bottom: 25px;
  }
}