//рейтинг на странице рейтинга
.rating-list {
  display: flex;
  margin-left: -40px;
  flex-flow: wrap;
  margin-top: -60px;
}

.rating-list__item {
  width: calc(25% - 40px);
  margin-left: 40px;
  margin-top: 60px;
}

.rating-list__img {
  margin-bottom: 20px;
}

.rating-list__img img {
  max-width: 100%;
  max-height: 250px;
}

.rating-list__text {
  color: #555555;
  font-size: 0.8889rem;
  line-height: 24px;
 }

/*===== media queries =====*/

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .rating-list__item {
    width: calc(33.3% - 40px);
  }
}

//@media screen max 767px
@media screen and (max-width: 767px) {
  .rating-list {
    flex-direction: column;
    margin-left: 0;
    margin-top: -40px;
    margin-bottom: -20px;
  }

  .rating-list__item {
    margin-left: 0;
    width: 100%;
    margin-top: 40px;
  }

  .rating-list__img img {
    max-width: 160px;
  }
}