//таблица резиновая на странице объекта
.responsive-table-wrapper {
  background: #fff;
  margin-bottom: 40px;
  padding: 40px;
}

.responsive-table {
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
  border: 0;
}

.responsive-table tr {
  border: 0;
  padding: 5px;
}

.responsive-table th, .responsive-table td {
  padding: 0;
  text-align: left;
  padding-right: 40px;
}

.responsive-table th:last-child, .responsive-table td:last-child {
  padding-right: 0;
}

.responsive-table td {
  font-size: 1rem;
  line-height: 30px;
  font-family: $font-regular;
  vertical-align: top;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.responsive-table tr:hover td {
  background: #F3F7FF;
}

.responsive-table tr:hover td:first-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: calc(100% - 1px);
  background: #F3F7FF;
  border-radius: 8px 0 0 8px;
}

.responsive-table tr:hover td:last-child::before {
  content: '';
  position: absolute;
  right: -20px;
  top: 0;
  width: 20px;
  height: calc(100% - 1px);
  background: #F3F7FF;
  border-radius: 0 8px 8px 0;
}

.responsive-table th {
  font-weight: normal;
  color: #999999;
  font-size: 0.7778rem;
  line-height: 17px;
  white-space: nowrap;
  padding-bottom: 20px;
}

.responsive-table td:nth-child(3) {
  font-size: 0.8889rem;
  white-space: nowrap;
}

.responsive-table span {
  display: block;
  margin-bottom: 20px;
}

.responsive-table span:last-child {
  margin-bottom: 0;
}

.responsive-table td a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}

.responsive-table td a:hover {
  border-bottom: 1px solid rgba(36,81,195,0.50);
}

//модифицированная таблица с разделителями между строк
.responsive-table-wrapper_modified {
  margin-bottom: 0;
}

.responsive-table-wrapper_modified .responsive-table td {
  border-top: 1px solid #EAEAEA;
  padding-top: 20px;
  padding-bottom: 20px;
}

.responsive-table-wrapper_modified .responsive-table tr:last-child td {
  border-bottom: 1px solid #EAEAEA;
}

//информация после таблицы
.responsive-table__info {
  color: #999999;
  line-height: 19px;
  font-size: 0.7778rem;
  margin-top: 20px;
}

//@media screen and (max-width: 767px) {
//  .responsive-table thead {
//    display: none;
//  }
//
//  .responsive-table tr {
//    margin-bottom: 10px;
//    display: block;
//    border-bottom: 2px solid #ddd;
//  }
//
//  .responsive-table td {
//    display: block;
//    text-align: right;
//    font-size: 13px;
//    border-bottom: 1px dotted #ccc;
//  }
//
//  .responsive-table td:last-child {
//    border-bottom: 0;
//  }
//
//  .responsive-table td:before {
//    content: attr(data-label);
//    float: left;
//    text-transform: uppercase;
//    font-weight: bold;
//  }
//}

@media screen and (max-width: 1259px) {
  .responsive-table-wrapper {
    overflow: auto;
    padding: 30px 20px;
    margin-bottom: 40px;
  }

  .responsive-table-wrapper_modified {
    margin-bottom: 0;
  }

  .responsive-table td {
    font-size: 0.8889rem;
    line-height: 22px;
    padding-right: 20px;
  }

  .responsive-table th {
    padding-right: 20px;
  }

  .responsive-table td:nth-child(3) {
    font-size: 0.8889rem;
    line-height: 22px;
  }

  .responsive-table th:last-child, .responsive-table td:last-child {
    padding-right: 20px;
  }

  .responsive-table tr:hover td:first-child::before {
    display: none;
  }

  .responsive-table tr:hover td::before {
    display: none;
  }

  .responsive-table tr:hover td {
    background: none;
  }

  .responsive-table-wrapper_object {
    margin-left: -20px;
    margin-right: -20px;
  }
}