//кастомизация слайдера range в форме
.irs {
  height: 1px;
  margin-top: 15px;
}

.irs-slider {
  border-radius: 50%;
  border: 2px solid #FDCE34;
  background: #fff;
  width: 20px;
  height: 20px;
  top: 50%;
  cursor: pointer;
  outline: none;
  margin-top: -10px;
  box-shadow: none;
}

.irs-slider:hover {
  background: #FDCE34;
}

.irs-line {
  height: 1px;
  border: none;
  background: #EAEAEA;
  border-radius: 0;
  top: 100%;
}

.irs-line-left, .irs-line-mid, .irs-line-right {
  height: 1px;
}

.irs-bar, .irs-bar-edge {
  border: 0;
  border-radius: 0;
  background: #FDCE34;
  height: 1px;
  top: 100%;
  box-shadow: 0 1px #FDCE34;
}