//свайпер для галереи
.swiper-button-next, .swiper-button-prev, .swiper-fullscreen, .fancybox-button--arrow_right, .fancybox-button--arrow_left {
  width: 60px!important;
  height: 60px!important;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
  padding: 0!important;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}

.swiper-pagination-bullet-active {
  background: #319018;
}

.fancybox-button--arrow_right svg, .fancybox-button--arrow_left svg{
  display: none;
}

.swiper-button-next {
  transform: translate3d(80px,0,0);
}

.swiper-button-prev {
  transform: translate3d(-80px,0,0);
}

.swiper-button-next::before, .swiper-button-prev::before, .fancybox-button--arrow_right::before, .fancybox-button--arrow_left::before {
  font-family: "Material Icons";
  content: '';
  color: #fff;
  font-size: 1.3333rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.swiper-button-next::before, .fancybox-button--arrow_right::before {
  content: 'chevron_right';
}

.swiper-button-prev::before, .fancybox-button--arrow_left::before {
  content: 'chevron_left';
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: '';
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  box-shadow: 0 2px 20px 0 rgba(36,81,195,0.30);
  border-radius: 50%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
}

.swiper-button-next:hover::after, .swiper-button-prev:hover::after{
  display: block;
}

.swiper-button-next:hover::before, .swiper-button-prev:hover::before, .swiper-fullscreen:hover::before, .fancybox-button--arrow_right:hover::before, .fancybox-button--arrow_left:hover::before {
  background: #FFFFFF;
  color: #2451C3;
  z-index: 2;
}

.swiper-container:hover .swiper-button-next {
  transform: translate3d(0,0,0);
}

.swiper-container:hover .swiper-button-prev {
  transform: translate3d(0,0,0);
}

.swiper-container:hover .swiper-fullscreen {
  transform: translate3d(-10px,10px,0);
}

.swiper-fullscreen {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(80px,-80px,0);
}

.swiper-fullscreen::before {
  font-family: "Material Icons";
  content: 'fullscreen';
  color: #fff;
  font-size: 1.3333rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.swiper-container img {
  display: block;
}

.swiper-pagination {
  display: none;
  position: relative;
  bottom: auto!important;
  left: auto!important;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide img {
  margin-left: auto;
  margin-right: auto;
  max-height: 680px;
}

@media screen and (max-width: 1259px) {
  .swiper-pagination {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-next, .swiper-button-prev, .swiper-fullscreen {
    width: 40px;
    height: 40px;
  }

  .swiper-fullscreen {
    transform: translate3d(-10px,10px,0);
  }

  .swiper-container:hover .swiper-button-next, .swiper-container:hover .swiper-button-prev {
    display: none;
  }
}

