//модифицированная таблица из двух колонок на детальной странице программы кредита
.table-two-cols-inner__wrapper {
  margin-bottom: 60px;
}

.table-two-cols-inner {
  margin-bottom: 20px;
}

.table-two-cols-inner__row {
  display: flex;
  align-items: flex-start;
  border: none;
}

.table-two-cols-inner__col {
  padding-bottom: 20px;
  font-size: 1rem;
  line-height: 30px;
  position: relative;
  color: #333333;
}

.table-two-cols-inner__col-first {
  max-width: 280px;
  width: 100%;
}

.table-two-cols-inner__col-second {
  max-width: 480px;
  width: 100%;
  padding-left: 3px;
}

.table-two-cols-inner__wrapper-text {
  display: inline;
  background: #fff;
  position: relative;
  z-index: 2;
  padding-right: 3px;
}

.table-two-cols-inner__border-bottom {
  width: 100%;
  border-bottom: 1px solid #EAEAEA;
  position: absolute;
  top: 20px;
  left: 0;
}

/*===== media queries =====*/

//@media screen max 767px
@media screen and (max-width: 767px) {
  .table-two-cols-inner {
    margin-bottom: 40px;
  }

  .table-two-cols-inner__wrapper {
    margin-bottom: 40px;
  }

  .table-two-cols-inner__border-bottom {
    display: none;
  }

  .table-two-cols-inner__row {
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 15px;
  }

  .table-two-cols-inner__col-second {
    padding-left: 0;
  }

  .table-two-cols-inner__col {
    padding-bottom: 0;
    color: #555555;
    font-size: 0.8889rem;
    line-height: 24px;
  }
}