//таблица из трех колонок
.table-three-cols__row {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #EAEAEA;
}

.table-three-cols:last-child {
  border-bottom: 1px solid #EAEAEA;
}

.table-three-cols__col {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  font-size: 0.8889rem;
  line-height: 24px;
  width: 33.3%;
}

.table-three-cols__col:last-child {
  padding-right: 0;
}

//без последнего бордера
.table-three-cols_modified:last-child {
  border-bottom: 0;
}

.table-three-cols_modified .table-three-cols__row:last-child .table-three-cols__col {
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .table-three-cols .table-three-cols__row {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .table-three-cols .table-three-cols__row:last-child {
    padding-bottom: 0;
  }

  .table-three-cols:last-child {
    border-bottom: 0;
  }

  .table-three-cols .table-three-cols__col {
    padding: 0;
    width: 100%;
    color: #555555;
    font-size: 	0.8889rem;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .table-three-cols .table-three-cols__col:last-child {
    margin-bottom: 0;
  }
}