//тематические ссылки возле подвала
.thematic-links {
  display: flex;
  margin-left: -20px;
}

.thematic-links__item {
  background-color: #fff;
  display: block;
  position: relative;
  z-index: 2;
  padding: 40px;
  height: 100%;
  text-decoration: none;
  font-family: $font-medium;
  font-size: 1.1111rem;
  line-height: 24px;
}

.thematic-links-shadow {
  position: relative;
  margin-left: 20px;
  width: calc(33.3% - 20px);
  border-radius: 8px;
  min-height: 180px;
}

.thematic-links-shadow::before {
  content: '';
  height: 40px;
  width: calc(100% - 40px);
  display: block;
  position: absolute;
  bottom: 0;
  box-shadow: 0 2px 20px 0 rgba(36,81,195,0.30);
  opacity: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1;
  border-radius: 8px;
}

.thematic-links-shadow:hover::before {
  opacity: 1;
  transition: opacity 0.1s linear;
}

/*===== media queries =====*/


@media screen and (min-width: 768px) and (max-width: 1259px) {
  .thematic-links {
    flex-direction: column;
    margin-left: -20px;
    margin-right: -20px;
  }

  .thematic-links__item, .thematic-links-shadow {
    width: 100%;
    height: 100%;
    min-height: 100%;
    border-radius: 8px;
  }

  .thematic-links-shadow {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .thematic-links-shadow:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .thematic-links {
    display: none;
  }

  .thematic-links-shadow {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    height: 100%;
    min-height: 100%;
  }

  .thematic-links__item {
    border-radius: 8px;
    padding: 30px 20px;
    font-size: 1rem;
    line-height: 22px;
    height: 100%;
    min-height: 100%;
  }

  .thematic-links-shadow:last-child {
    margin-bottom: 0;
  }

  .thematic-links-shadow::before, .thematic-links-shadow::after {
    display: none;
  }

  .thematic-links_visible-xs {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
}