.block-news {
	.item {margin-bottom: 25px;
		svg {width: 14px; height: 14px; fill: #98a0ad; vertical-align: middle; margin-top: -3px; margin-right: 5px;}
		.date {font-size: 14px; color: #5f6b7d; margin-bottom: 0px; line-height: 22px;}
		.title {margin-bottom: 0;
			a {font-size: 16px; line-height: 22px; border-bottom: 1px solid #cce3f2; font-family: ProximaNova-Regular;
				&:hover {border-color: $linkcolor-hover;}
			}
		}
	}
	.bottom {margin-top: 35px;}
}

@media (max-width: 767px) {
	.block-news {border: none; padding: 0; margin-bottom: 50px; margin-bottom: 0;
		h3 {position: relative; background: none; display: block; top: 0; padding: 0; text-align: center;}
		.bottom {margin-top: 20px;}
	}
}