.hits {margin-left: -6.564%; font-size: 0;
	.item {margin-left: 6.564%; display: inline-block; vertical-align: top; margin-bottom: 30px; width: 43.335%;
			&:hover a {color: $linkcolor-hover; border-color: $linkcolor-hover;}
			&:hover img {-moz-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1);}
		}
	.img {margin-bottom: 10px; width: 100%; height: 100%; overflow: hidden;
		img {width: 100%; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s;}
	}
	.title {margin-bottom: 10px;
		a {font-size: 18px; font-family: ProximaNova-Semibold; border-bottom: 1px solid #cce3f2; line-height: 22px;}
	}
	p {font-size: 14px; font-family: ProximaNova-Regular; line-height: 18px; margin-bottom: 0;}
}

@media (max-width: 1169px) {
	.hits {margin-left: -4.815%;
		.item {margin-left: 4.815%; width: 28.484%;}
		.title {
			a {font-size: 16px; line-height: 20px;}
		}
	}
}

@media (max-width: 767px) {
	.hits {margin-left: 0;
		.item {margin-left: 0; width: 100%;}
		.title {
			a {font-size: 16px; line-height: 20px;}
		}
	}
}