.main-footer {border-top: 4px solid #8bc650; margin-top: 40px; font-size: 13px; color: #444a4c; line-height: 18px;
	.top {padding-top: 30px; padding-bottom: 35px; background-color: #f3f5f6;}
	.bottom {padding-top: 20px; padding-bottom: 20px;}
	.footer-menu {
		.title {font-size: 20px; font-family: ProximaNova-Semibold; margin-bottom: 5px;}
		ul {margin: 0; padding: 0;
			li:before {display: none;}
			li {margin: 0; padding: 0;
				a {color: #000; font-size: 14px;
					&:hover {color: $linkcolor-hover;}
				}
			}
		}
	}
	.location {background: #fff; height: 70px; margin-top: 30px;
		.phone, .address {height: 70px; line-height: 70px;}
		.phone {
			a {font-size: 24px; font-family: ProximaNova-Semibold; font-weight: bold; color: #000;
				svg {vertical-align: middle; margin-right: 10px; width: 33px; height: 33px; fill: #cbcbcb;}
			}
		}
		.address {
			svg {vertical-align: middle; margin-right: 10px; fill: #cbcbcb; width: 23px; height: 34px;}
		}
	}
}

@media (min-width: 980px) and (max-width: 1169px) {
	.main-footer {
		.location {
			.phone, .address {text-align: center;}
		}
	}
}

@media (max-width: 979px) {
	.main-footer {margin-top: 20px;
		.bottom {background: #f3f5f6;}
		.design {text-align: center; margin-top: 20px;}
	}
}