.news-day {margin-bottom: 40px;
	.wrapper {border: 1px solid #dfe0e3; @include border-radius(10px); overflow: hidden; height: 40px;}
	.title {width: 13.68%; border-right: 1px solid #dfe0e3; float: left; height: 38px; text-align: center; color: #ef4023; font-family: SommetRoundedBold; line-height: 45px;
		svg {vertical-align: middle; width: 18px; height: 18px; margin-right: 10px; fill: #ef4023; margin-top: -3px;}
	}
	.text {width: 86.32%; overflow: hidden; height: 38px;
		p {width: 80.61%; float: left; font-size: 15px; padding: 5px 0 0 20px; font-family: ProximaNova-Regular; color: #8f989e; margin-bottom: 0;}
		a {font-family: ProximaNova-Regular; border-bottom: 1px solid #cce3f2; display: inline-block; line-height: 1; margin-right: 5px;
			&:hover {border-bottom-color: $linkcolor-hover;}
		}
		.date {float: right; width: 16.32%; color: #5f6b7d; font-size: 14px; text-align: center; line-height: 38px;
			svg {vertical-align: middle; margin-right: 8px; fill: #babfc8; width: 14px;  height: 14px;}
		}
	}
}