.sub-news {text-align: center; border: 1px solid #dfe0e3; @include border-radius(10px); padding: 30px 20px;
	h3 {font-size: 24px; line-height: 30px; font-family: SommetRoundedBold; text-transform: none; margin-bottom: 0px;}
	p {font-size: 16px; line-height: 22px;}
	input[type="email"] {height: 40px; width: 100%; border: 1px solid #dfe0e3; background: #f7f4f4; font-size: 14px; color: #747b7e; padding: 0 20px; margin-bottom: 10px; text-align: center;}
	input[type="email"]::-webkit-input-placeholder {color: #747b7e; opacity: 1;}
	input[type="email"]:-moz-placeholder {color: #747b7e; opacity: 1;}
	input[type="email"]::-moz-placeholder {color: #747b7e; opacity: 1;}
	input[type="email"]:-ms-input-placeholder {color: #747b7e; opacity: 1;}
}

@media (max-width: 1169px) {
	.sub-news {border: none; margin: 0 auto; margin-top: 30px;
		form {width: 40%; margin: 0 auto;}
	}
}

@media (max-width: 767px) {
	.sub-news {padding: 0; margin-top: 50px;
		form {width: 100%; margin: 0 auto;}
	}
}