.v-navi {
	ul {margin: 0; padding: 0;
		li:before {display: none;}
		li {margin: 0; padding: 0;
			a {font-size: 17px; color: #262626; display: block; font-family: ProximaNova-Regular; padding: 12px 0; border-bottom: 1px solid #dcdcdc; position: relative;
				svg {position: absolute; top: 50%; margin-top: -7px; right: 12px; width: 8px; height: 14px; font-family: Material Icons; fill: #848D94;}
				&:hover {color: $linkcolor-hover;
					svg {fill: $linkcolor-hover;}
				}
			}
		}
	}
}

@media (min-width: 980px) and (max-width: 1169px) {
	.v-navi {
		ul {
			li {
				a {padding: 7px 0; font-size: 15px;}
			}
		}
	}
}